<div class="page-header border-0">
    <h1 class="page-title text-primary-d2">
        {{title}}
         <small class="page-info text-secondary-d3">
            <i class="fa fa-angle-double-right text-80"></i>
            with selectable elements and custom icons 
        </small>
    </h1>
</div>


<div class="row">

  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <div class="card bcard h-auto border-0">
      <div class="card-header bgc-default-d3">
        <h3 class="card-title text-130 text-white">
          Choose Categories
          <span class="text-75 d-none" id="has-drag-drop">(with drag & drop)</span>
        </h3>
      </div>

      <div class="card-body bgc-white border-1 border-t-0 brc-default-m2">
        <div class="jqtree" id="id-jqtree-categories"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <div class="card bcard h-auto border-0">
      <div class="card-header bgc-green-d3">
        <h3 class="card-title text-130 text-white">
          Browse Files
          <span class="text-75">(with context menu)</span>
        </h3>
      </div>

      <div class="card-body bgc-white border-1 border-t-0 brc-success-m3">
        <div class="jqtree tree-dotted" id="id-jqtree-files"></div>
      </div>
    </div>
  </div>

</div>