<form autocomplete="off">

 <div class="row mt-2 mt-lg-4">

	<div class="col-12 col-lg-6">
		<div class="card acard">
			<div class="card-header">
				<h5 class="card-title">
					Basic examples
				</h5>
			</div>

			<div class="card-body">
				
				<div class="btn-group m-2" role="group" aria-label="Basic example">
					<button type="button" class="mr-2px btn btn-secondary">Left</button>
					<button type="button" class="mr-2px btn btn-secondary">Middle</button>
					<button type="button" class="mr-2px btn btn-secondary">Right</button>
				</div>

				<div class="btn-group btn-group-lg m-2">
					<button type="button" class="btn btn-outline-primary">Left</button>
					<button type="button" class="btn btn-outline-primary">Middle</button>
					<button type="button" class="btn btn-outline-primary">Right</button>
				</div>

				<div class="btn-group btn-group-sm radius-1 m-2">
					<button type="button" class="mx-0 mr-1px btn btn-light-secondary btn-h-blue btn-a-blue b1order-0">Left</button>
					<button type="button" class="mx-0 mr-1px btn btn-light-secondary btn-h-blue btn-a-blue b1order-0">Middle</button>
					<button type="button" class="mx-0 btn btn-light-secondary btn-h-blue btn-a-blue bo1rder-0">Right</button>
				</div>


				<div class="mt-4 d-flex flex-wrap px-4 align-items-center justify-content-between">

					<div class="btn-group btn-group-vertical">
						<button class="btn btn-default mb-2px" type="button">
							<i class="fa fa-align-left"></i>
						</button>

						<button class="btn btn-default mb-2px" type="button">
							<i class="fa fa-align-center"></i>
						</button>

						<button class="btn btn-default mb-2px" type="button">
							<i class="fa fa-align-right"></i>
						</button>
					</div>

					<div class="btn-group ml-2 mt-3">
						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-primary btn-a-primary">
							<i class="fa fa-save w-3"></i>
						</button>

						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-green btn-a-green">
							<i class="fa fa-retweet w-3"></i>
						</button>

						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-info btn-a-info">
							<i class="fa fa-search w-3"></i>
						</button>

						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-orange btn-a-orange">
							<i class="fa fa-cog w-3"></i>
						</button>
					</div>

					<div class="btn-group ml-2 mt-3">
						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-light-primary btn-a-light-primary">
							<i class="fa fa-bold w-2"></i>
						</button>

						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-light-primary btn-a-light-primary">
							<i class="fa fa-italic w-2"></i>
						</button>

						<button type="button" class="btn btn-bgc-tp btn-lighter-grey btn-h-light-primary btn-a-light-primary">
							<i class="fa fa-underline w-2"></i>
						</button>
					</div>

					<div class="btn-group ml-2 mt-3 border-1 brc-default-l1 radius-1 shadow-sm">
						<button type="button" class="btn static btn-lighter-default btn-text-blue btn-h-light-blue btn-a-blue border-0">
							<i class="fa fa-sliders-h w-2"></i>
						</button>

						<button type="button" class="btn static btn-lighter-default btn-text-blue btn-h-light-blue btn-a-blue border-0">
							<i class="far fa-edit w-2"></i>
						</button>

						<button type="button" class="btn static btn-lighter-default btn-text-blue btn-h-light-blue btn-a-blue border-0">
							<i class="far fa-bell w-2"></i>
						</button>
					</div>

				</div>

			</div>
		</div><!-- /.card -->



		<div class="mt-4 pt-2 card acard">
			<div class="card-header">
				<h5 class="card-title text-125 text-purple-d3">
					Radio &amp; Checkbox
				</h5>
			</div>

			<div class="card-body">
				<div class="mt-1 btn-group btn-group-toggle d-flex d-sm-inline-flex mx-n2 mx-sm-0 is-scrollable nav-tabs-scroll" data-toggle="buttons">
					<label class="mr-2px btn px-4 btn-outline-blue btn-a-blue active border-2 radius-l-1">
						<input type="radio" name="options" checked /> Active
					</label>
					<label class="mr-0 btn px-4 btn-outline-green btn-a-green border-2">
						<input type="radio" name="options" /> Radio 1
					</label>
					<label class="mx-1px btn px-4 btn-outline-red btn-a-red border-2 radius-r-1">
						<input type="radio" name="options" /> Radio 2
					</label>
				</div>


				<hr class="brc-transparent" />


				<h6 class="text-110 mt-4 mb-25">
					Who can view my profile?!
				</h6>				
				<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
					<div role="button" class="d-style btn btn-outline-lightgrey btn-h-light-lightgrey btn-a-lighter-green btn-a-bold btn-a-bb2 overflow-hidden py-25 px-45 text-110">
						<input type="radio" name="options" />
						Only Me
						<span class="v-active w-3 h-3 position-br mb-n25 mr-n25 bgc-current rotate-45 opacity-2"></span>
					</div>

					<div role="button" class="d-style active btn btn-outline-lightgrey btn-h-light-lightgrey btn-a-lighter-blue btn-a-bold btn-a-bb2 overflow-hidden py-25 px-45 text-110">
						<input type="radio" name="options" checked />
						My Friends
						<span class="v-active w-3 h-3 position-br mb-n25 mr-n25 bgc-current rotate-45 opacity-2"></span>
					</div>

					<div role="button" class="d-style btn btn-outline-lightgrey btn-h-light-lightgrey btn-a-lighter-orange btn-a-bold btn-a-bb2 overflow-hidden py-25 px-45 text-110">
						<input type="radio" name="options" />
						Everyone
						<span class="v-active w-3 h-3 position-br mb-n25 mr-n25 bgc-current rotate-45 opacity-2"></span>
					</div>
				</div>

				<hr class="brc-transparent" />

				<div class="mt-4 btn-group btn-group-toggle d-flex d-sm-inline-flex mx-n2 mx-sm-0 is-scrollable nav-tabs-scroll" data-toggle="buttons">
					<label class="btn px-4 btn-outline-blue active border-2 radius-l-round">
						<input type="radio" name="options" checked />
						Choice 1
					</label>
					<label class="ml-n2px btn px-4 btn-outline-blue border-2">
						<input type="radio" name="options" />
						Choice 2
					</label>
					<label class="ml-n2px btn px-4 btn-outline-blue border-2 radius-r-round">
						<input type="radio" name="options" />
						Choice 3
					</label>
				</div>

				<br />

				<div class="mt-4">
					<div data-toggle="buttons" class="btn-group btn-group-toggle">
						<label class="mr-2px btn btn-secondary btn-a-primary">
							<input type="radio" value="1" />
							<i class="fa fa-align-left"></i>
						</label>

						<label class="mr-2px btn btn-secondary btn-a-primary">
							<input type="radio" value="2" />
							<i class="fa fa-align-center"></i>
						</label>

						<label class="mr-2px btn btn-secondary btn-a-primary">
							<input type="radio" value="3" />
							<i class="fa fa-align-right"></i>
						</label>
					</div>

					<label class="btn btn-grey btn-a-green mb-0" data-toggle="button">
						<i class="fa fa-align-justify"></i>
					</label>
				</div>


				<div data-toggle="buttons" class="mt-4 btn-group btn-group-toggle border-1 brc-secondary-l1 p-2px radius-1">
					<label class="mr-1 btn btn-sm text-600 btn-bgc-tp border-0 btn-light-lightgrey btn-h-light-secondary btn-a-blue radius-1 active">
						<input name="members" type="radio" value="1" checked="" />
						Weekly
					</label>

					<label class="mr-1 btn btn-sm text-600 btn-bgc-tp border-0 btn-light-lightgrey btn-h-light-secondary btn-a-blue radius-1">
						<input name="members" type="radio" value="2" />
						Monthly
					</label>

					<label class=" btn btn-sm text-600 btn-bgc-tp border-0 btn-light-lightgrey btn-h-light-secondary btn-a-blue radius-1">
						<input name="members" type="radio" value="3" />
						Yearly
					</label>
            	</div>


				<hr class="border-double border-t-3 brc-secondary-l2 my-4" />


				<div class="d-flex align-items-center flex-wrap">
					<h6 class="text-110 mr-3 text-600">Select skills:</h6>
					<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
						<div role="button" class="d-style active btn btn-outline-light btn-a-lighter-green py-25 px-45 text-110 overflow-hidden">
							<input type="checkbox" name="skills[]" value="php" checked />
							PHP
							<span class="v-active w-6 h-6 position-br mb-n4 mr-n4 bgc-current rotate-45 opacity-2"></span>
							<i class="v-active fa fa-check text-white position-br text-75 mb-1 mr-1"></i>
						</div>

						<div role="button" class="d-style btn btn-outline-light btn-a-lighter-purple py-25 px-45 text-110 overflow-hidden">
							<input type="checkbox" name="skills[]" value="html" />
							HTML
							<span class="v-active w-6 h-6 position-br mb-n4 mr-n4 bgc-current rotate-45 opacity-2"></span>
							<i class="v-active fa fa-check text-white position-br text-75 mb-1 mr-1"></i>
						</div>

						<div role="button" class="d-style btn btn-outline-light btn-a-lighter-blue py-25 px-45 text-110 overflow-hidden">
							<input type="checkbox" name="skills[]" value="wordpress" />
							Wordpress
							<span class="v-active w-6 h-6 position-br mb-n4 mr-n4 bgc-current rotate-45 opacity-2"></span>
							<i class="v-active fa fa-check text-white position-br text-75 mb-1 mr-1"></i>
						</div>

						<div role="button" class="d-style active btn btn-outline-light btn-a-lighter-pink py-25 px-45 text-110 overflow-hidden">
							<input type="checkbox" name="skills[]" value="javascript" checked />
							Javascript
							<span class="v-active w-6 h-6 position-br mb-n4 mr-n4 bgc-current rotate-45 opacity-2"></span>
							<i class="v-active fa fa-check text-white position-br text-75 mb-1 mr-1"></i>
						</div>
					</div>
				</div>


				<br />


				<div>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-light-secondary btn-h-light-yellow btn-a-yellow">
							<input type="checkbox" value="1">
							<i class="fa fa-bold text-110"></i>
						</label>

						<label class="btn btn-light-secondary btn-h-light-yellow btn-a-yellow">
							<input type="checkbox" value="2">
							<i class="fa fa-italic text-110"></i>
						</label>

						<label class="btn btn-light-secondary btn-h-light-yellow btn-a-yellow">
							<input type="checkbox" value="3">
							<i class="fa fa-underline text-110"></i>
						</label>
					</div>
				</div>
			</div>
		</div><!-- .card -->



		<div class="card acard mt-4 pt-3">
			<div class="card-header">
				<h5 class="card-title text-orange-d3">
					Button Dropdown
				</h5>
			</div>

			<div class="card-body">
				<div class="dropdown d-inline-block mb-1">
					<button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown button
						<i class="fa fa-angle-down ml-2 text-90"></i>
					</button>
					<div class="dropdown-menu dropdown-caret">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>

				<div class="btn-group mb-1">
					<button type="button" class="btn btn-blue btn-bold opacity-2">Action</button>
					<button type="button" class="px-2 btn btn-blue dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
				
				<div class="btn-group dropright mb-1">
					<button type="button" class="btn btn-green btn-bold mr-2px">Drop Right</button>
					<button type="button" class="px-2 btn btn-green dropdown-toggle dropdown-toggle-split opacity-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
						<i class="fa fa-caret-right"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>

				<br />
				<br />

				<div class="btn-group dropup mb-1">
					<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropup
						<i class="ml-2 fa fa-caret-up"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>


				<div class="btn-group mb-1">
					<button type="button" class="px-4 btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Right-aligned menu
						<i class="fa fa-angle-down ml-2"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right">
						<button class="dropdown-item" type="button">Action</button>
						<button class="dropdown-item" type="button">Another action</button>
						<button class="dropdown-item" type="button">Something else here</button>
					</div>
				</div>


				<div class="btn-group dropleft mb-1">
					<button type="button" class="btn btn-light-secondary btn-a-blue border-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-caret-left mr-2"></i>
						Dropleft
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>

			</div>
		</div><!-- .card -->

	</div><!-- .col-6 -->



	<!-- More Examples -->
	<div class="col-12 col-lg-6 mt-4 mt-lg-0">
		<div>
			<h4 class="mb-3 text-125 text-primary-d2">
				Choose type of place:
			</h4>

			<div class="bcard card overflow-hidden d-inline-block border-1 brc-secondary-l1 radius-1">
				<div class="card-body p-0">				
					<div class="btn-group d-inline-flex flex-wrap text-center btn-group-toggle bgc-grey-l2"  data-toggle="buttons">

						<div role="button" class="mb-1px mr-2px btn btn-outline-secondary btn-h-blue btn-a-outline-blue btn-bgc-white btn-brc-tp btn-a-bgc-white btn-a-bold border-none border-b-3 radius-0 pt-35 pb-475 px-3 px-lg-4">
							<input type="radio" name="place" id="place1" value="1" />
							<i class="fa fa-home d-block text-160 mb-25 opacity-2 mx-425 text-center"></i>
							<span class="text-95 position-bc mb-3 w-100 text-center">Entire Home</span>
						</div>

						<div role="button" class="mb-1px mr-2px btn btn-outline-secondary btn-h-blue btn-a-outline-blue btn-bgc-white btn-brc-tp btn-a-bgc-white btn-a-bold border-none border-b-3 radius-0 pt-35 pb-475 px-3 px-lg-4">
							<input type="radio" name="place" id="place2" value="1" />
							<i class="fa fa-door-open d-block text-160 mb-25 opacity-2 mx-425 text-center"></i>
							<span class="text-95 position-bc mb-3 w-100 text-center">Private Room</span>
						</div>

						<div role="button" class="mb-1px btn btn-outline-secondary btn-h-blue btn-a-outline-blue btn-bgc-white btn-brc-tp btn-a-bgc-white btn-a-bold border-none border-b-3 radius-0 pt-35 pb-475 px-3 px-lg-4">
							<input type="radio" name="place" id="place3" value="3" />
							<i class="fa fa-bed d-block text-160 mb-25 opacity-2 mx-425 text-center"></i>
							<span class="text-95 position-bc mb-3 w-100 text-center">Shared Room</span>
						</div>
			
					</div>
				</div>
			</div>
		</div><!-- .card -->



		<div class="mt-45 bcard card border-0">
			<div class="card-header card-header-sm bgc-primary-d1 border-0 py-2">
				<h4 class="card-title text-115 text-white pb-2px">
					Choose your method of transportation
				</h4>
			</div>

			<div class="card-body bg-white border-1 border-t-0 brc-primary-m4">
				<div class="row d-flex mx-1 mx-lg-0 btn-group btn-group-toggle" data-toggle="buttons">
					<div class="col-12 col-sm-4 px-2">
						<div role="button" class="d-style btn btn-lighter-secondary btn-h-outline-purple btn-a-outline-purple btn-a-bgc-white w-100 border-t-3 my-1 py-3">
							<input type="radio" name="transportation" value="train" class="invisible pos-abs" />
							
							<div class="d-flex flex-column align-items-center">

								<div class="position-tr m-1 mr-2">
									<span class="d-active">
										<i class="fa fa-check text-success-m1 text-125"></i>
									</span>
								</div>

								<div class="mb-2">
									<i class="v-n-active fas fa-subway text-160 text-grey-m3 mr-n35"></i>
									<i class="v-active fas fa-subway text-200 text-purple ml-n2"></i>
								</div>

								<div class="font-bolder text-105 text-secondary flex-grow-1">
									Subway
									<div class="text-grey-d2 font-light">
										<span class="v-n-active">
											safe &amp; fast
										</span>
										<span class="v-active position-bl mb-3 w-100 text-center">
											from 1 USD
										</span>
									</div>
								</div>	
							
							</div>

						</div>
					</div>


					<div class="col-12 col-sm-4 px-2">
						<div role="button" class="d-style btn btn-lighter-secondary btn-h-outline-primary btn-a-outline-primary btn-a-bgc-white w-100 border-t-3 my-1 py-3">
							<input type="radio" name="transportation" value="plane" class="invisible pos-abs" />

							<div class="d-flex flex-column align-items-center">

								<div class="position-tr m-1 mr-2">
									<span class="d-active">
										<i class="fa fa-check text-success-m1 text-125"></i>
									</span>
								</div>

								<div class="mb-2">
									<i class="v-n-active fas fa-plane text-200 text-grey-m3 mr-n4"></i>
									<i class="v-active fas fa-plane text-200 text-blue rotate-n45 ml-n3"></i>
								</div>

								<div class="font-bolder text-105 text-secondary flex-grow-1">
									Plane
									<div class="text-grey-d2 font-light">
										<span class="v-n-active">
											superb!
										</span>
										<span class="v-active position-bl mb-3 w-100 text-center">
											but expensive
										</span>
									</div>
								</div>		
							
							</div>
						</div>
					</div>


					<div class="col-12 col-sm-4 px-2">
						<div role="button" class="d-style btn btn-lighter-secondary btn-h-outline-orange btn-a-outline-orange btn-a-bgc-white w-100 border-t-3 my-1 mx-0  py-3">
							<input type="radio" name="transportation" value="rocket" class="invisible pos-abs" />

							<div class="d-flex flex-column align-items-center">

								<span class="position-tr m-1 mr-2">
									<span class="d-active">
										<i class="fa fa-check text-success-m1 text-125"></i>
									</span>
								</span>

								<div class="mb-2">
									<i class="v-n-active fas fa-rocket text-200 text-grey-m2 mr-n4"></i>
									<i class="v-active fas fa-rocket text-200 text-orange-d2 rotate-n45 ml-n3"></i>
								</div>
								
								<div class="font-bolder text-105 text-secondary flex-grow-1">
									Rocket
									<div class="text-grey-d2 font-light">
										<span class="v-n-active">
											astronomical
										</span>
										<span class="v-active position-bl mb-3 w-100 text-center">
											coming soon
										</span>
									</div>
								</div>
							
							</div>
						</div>
					</div>

				</div><!-- .row.btn-group -->
			</div><!-- .card-body -->
		</div><!-- .card -->



		<div class="mt-4">
			<div class="dcard card overflow-hidden">
				<div class="card-body">
					<h4 class="text-125 text-secondary-d3 pb-25 pl-1 mt-0 mb-3 border-b-1 brc-secondary-l3">
						How would you rate the overall quality of our services?
					</h4>

					<div class="btn-group d-block text-center w-100 btn-group-toggle" data-toggle="buttons">
						<div role="button" class="d-style btn btn-lighter-red btn-tp btn-h-brc-tp my-1 text-130 radius-2px border-2 px-2 mr-2">
							<input type="radio" name="feedback" id="feedback1" value="1" />

							<span class="fa-stack w-auto fa-2x d-zoom-2">
								<i class="fas fa-circle text-dark-d2 fa-stack-1x"></i>
								<i class="fas fa-angry text-danger-m2 text-110 fa-stack-1x d-active pos-rel"></i>
								<i class="fas fa-angry text-danger-l1 text-110 fa-stack-1x d-n-active pos-rel"></i>
							</span>

							<div class="mb-3 pos-rel text-85 text-600 letter-spacing text-nowrap" style="width: 6rem;">
								<span class="d-lg-none text-dark-tp4 text-95 position-center">
									<span class="d-n-active">Very bad</span>
								</span>
								<span class="d-none d-lg-block v-hover v-n-active text-dark-tp4 text-95 position-center">
									Very bad
								</span>
								<span class="v-active text-dark-tp3 position-center">
									Very bad
								</span>
							</div>
						</div>

						<div role="button" class="d-style btn btn-lighter-warning btn-tp btn-h-brc-tp my-1 text-130 radius-2px border-2 px-2 mr-2">
							<input type="radio" name="feedback" id="feedback2" value="2" />

							<span class="fa-stack w-auto fa-2x d-zoom-2">
								<i class="fas fa-circle text-dark-d2 fa-stack-1x"></i>
								<i class="fas fa-frown text-orange-m2 text-110 fa-stack-1x d-active pos-rel"></i>
								<i class="fas fa-frown text-orange-l1 text-110 fa-stack-1x d-n-active pos-rel"></i>
							</span>

							<div class="mb-3 pos-rel text-85 text-600 letter-spacing" style="width: 6rem;">
								<span class="d-lg-none text-dark-tp4 text-95 position-center">
									<span class="d-n-active">Poor</span>
								</span>
								<span class="d-none d-lg-block v-hover v-n-active text-dark-tp4 text-95 position-center">
									Poor
								</span>
								<span class="v-active text-dark-tp3 position-center">
									Poor
								</span>
							</div>
						</div>

						<div role="button" class="d-style btn btn-lighter-yellow btn-tp btn-h-brc-tp my-1 text-130 radius-2px border-2 px-2 mr-2">
							<input type="radio" name="feedback" id="feedback3" value="3" />

							<span class="fa-stack w-auto fa-2x d-zoom-2">
								<i class="fas fa-circle text-dark-d2 fa-stack-1x"></i>
								<i class="fas fa-meh text-yellow text-110 fa-stack-1x d-active pos-rel"></i>
								<i class="fas fa-meh text-yellow-m2 text-110 fa-stack-1x d-n-active pos-rel"></i>
							</span>

							<div class="mb-3 pos-rel text-85 text-600 letter-spacing" style="width: 6rem;">
								<span class="d-lg-none text-dark-tp4 text-95 position-center">
									<span class="d-n-active">Fair</span>
								</span>
								<span class="d-none d-lg-block v-hover v-n-active text-dark-tp4 text-95 position-center">
									Fair
								</span>
								<span class="v-active text-dark-tp3 position-center">
									Fair
								</span>
							</div>
						</div>

						<div role="button" class="d-style btn btn-lighter-green btn-tp btn-h-brc-tp my-1 text-130 radius-2px border-2 px-2 mr-2">
							<input type="radio" name="feedback" id="feedback4" value="4" />

							<span class="fa-stack w-auto fa-2x d-zoom-2">
								<i class="fas fa-circle text-dark-d2 fa-stack-1x"></i>
								<i class="fas fa-smile text-green-l1 text-110 fa-stack-1x d-active pos-rel"></i>
								<i class="fas fa-smile text-green-l2 text-110 fa-stack-1x d-n-active pos-rel"></i>
							</span>

							<div class="mb-3 pos-rel text-85 text-600 letter-spacing" style="width: 6rem;">
								<span class="d-lg-none text-dark-tp4 text-95 position-center">
									<span class="d-n-active">Good</span>
								</span>
								<span class="d-none d-lg-block v-hover v-n-active text-dark-tp4 text-95 position-center">
									Good
								</span>
								<span class="v-active text-dark-tp3 position-center">
									Good
								</span>
							</div>
						</div>

						<div role="button" class="d-style btn btn-lighter-success btn-tp btn-h-brc-tp my-1 text-130 radius-2px border-2 px-2">
							<input type="radio" name="feedback" id="feedback5" value="5" />

							<span class="fa-stack w-auto fa-2x d-zoom-2">
								<i class="fas fa-circle text-dark-d2 fa-stack-1x"></i>
								<i class="fas fa-grin-beam text-success-m2 text-110 fa-stack-1x d-active pos-rel"></i>
								<i class="fas fa-grin-beam text-success-m3 text-110 fa-stack-1x d-n-active pos-rel"></i>
							</span>

							<div class="mb-3 pos-rel text-85 text-600 letter-spacing" style="width: 6rem;">
								<span class="d-lg-none text-dark-tp4 text-95 position-center">
									<span class="d-n-active">Excellent</span>
								</span>
								<span class="d-none d-lg-block v-hover v-n-active text-dark-tp4 text-95 position-center">
									Excellent
								</span>
								<span class="v-active text-dark-tp3 position-center">
									Excellent
								</span>
							</div>
						</div>
					</div><!-- /.btn-group -->


					<hr class="brc-secondary-l3" />
					<div class="d-flex justify-content-between">
						<button type="button" class="btn btn-secondary border-2 radius-1 shadow-sm px-3 py-2 text-105">
							<i class="mr-2 fa fa-arrow-left text-110"></i>
							Go back
						</button>

						<button type="button" class="btn btn-outline-primary border-2 radius-1 shadow-sm px-45 py-2 text-105">
							Submit
							<i class="ml-2 fa fa-arrow-right text-110"></i>
						</button>
					</div>

				</div><!-- /.card-body -->
			</div><!-- /.card -->
		</div>



		<div class="mt-45">
			<div class="mx-auto d-block btn-group btn-group-toggle" data-toggle="buttons">
				<h3 class="text-dark-tp3 text-130 mb-3">
					Select payment method
				</h3>

				<div role="button" class="d-style btn btn-light btn-h-outline-purple btn-a-outline-purple bgc-white border-l-4 w-100 shadow-sm py-3 mb-2">
					<input type="radio" name="payments" id="payments1" />
					<div class="d-flex align-items-center">						
						<div class="w-6 pos-rel">
							<div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
								<i class="fa fa-check text-white px-2"></i>
							</div>
							<div class="v-n-active px-2 position-lc">
								<i class="fa fa-circle text-secondary-l3 text-90"></i>
							</div>
						</div>

						<div class="text-600 text-purple text-left flex-grow-1">
							<span class="text-105">Visa/Mastercard</span>
							<br />
							<span class="text-grey-d1 text-400">
								flexible
							</span>
						</div>

						<div class="mr-3">
							<i class="fab fa-cc-mastercard text-200 text-purple"></i>
						</div>
					
					</div>
				</div>

				<div role="button" class="d-style btn btn-light btn-h-outline-primary btn-a-outline-primary bgc-white border-l-4 w-100 shadow-sm py-3 mb-2">
					<input type="radio" name="payments" id="payments2" />
					<div class="d-flex align-items-center">

						<div class="w-6 pos-rel">
							<div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
								<i class="fa fa-check text-white px-2"></i>
							</div>
							<div class="v-n-active px-2 position-lc">
								<i class="fa fa-circle text-secondary-l3 text-90"></i>
							</div>
						</div>
						
						<div class="text-600 text-primary text-left flex-grow-1">
							<span class="text-105">Paypal</span>
							<br />
							<span class="text-grey-d1 text-400">
								fast &amp; easy
							</span>
						</div>

						<div class="mr-3">
							<i class="fab fa-cc-paypal text-200 text-primary-m2"></i>
						</div>
					
					</div>
				</div>

				<div role="button" class="d-style btn btn-light btn-h-outline-warning btn-a-outline-warning bgc-white border-l-4 w-100 shadow-sm py-3 mb-2">
					<input type="radio" name="payments" id="payments3" />
					<div class="d-flex align-items-center">

						<div class="w-6 pos-rel">
							<div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
								<i class="fa fa-check text-white px-2"></i>
							</div>
							<div class="v-n-active px-2 position-lc">
								<i class="fa fa-circle text-secondary-l3 text-90"></i>
							</div>
						</div>
						
						<div class="text-600 text-orange-d2 text-left flex-grow-1">
							<span class="text-105">Bitcoin</span>
							<br />
							<span class="text-grey-d1 text-400">
								state of the art
							</span>
						</div>

						<div class="mr-3">
							<i class="fab fa-bitcoin text-200 text-orange-d1"></i>
						</div>
					
					</div>
				</div>

			</div><!-- /.btn-group -->
		</div>


	</div><!-- /.col -->
 </div><!-- /.row -->

</form>