<div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <div class="card-toolbar mr-auto no-border">
                <label class="mb-0">
                    <span class="align-middle d-block d-sm-inline text-600">
                        Input Validation:
                    </span>
                    <input type="checkbox" id="id-validate" class="input-lg text-secondary-l1 bgc-purple-d1 ml-2 ace-switch ace-switch-onoff align-middle" />
                </label>
            </div>

            <div class="card-toolbar pl-3">
                <!-- buttons used to control/navigate the wizard -->
                <button id="wizard-1-prev" type="button" class="mx-2px btn btn-outline-default btn-h-outline-primary btn-bgc-white btn-a-primary border-2 radius-1" disabled>
                    <i class="fa fa-chevron-left"></i>
                </button>

                <button id="wizard-1-next" type="button" class="mx-2px btn btn-outline-default btn-h-outline-primary btn-bgc-white btn-a-primary border-2 radius-1">
                    <i class="fa fa-chevron-right"></i>
                </button>

                <button id="wizard-1-finish" type="button" class="d-none mx-2px px-3 btn btn-outline-success btn-h-outline-success btn-bgc-white border-2 radius-1">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>


        <div class="card-body">

            <div id="smartwizard-1" class="d-none mx-n3 mx-sm-auto">
                <ul class="mx-auto">
                    <li class="wizard-progressbar"></li><!-- the progress line connecting wizard steps -->

                    <li>
                        <a href="#step-1">
                            <span class="step-title">
                                1
                            </span>

                            <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                        </a>

                        <span class="step-description">
                            Validation States
                        </span>
                    </li>


                    <li>
                        <a href="#step-2">
                            <span class="step-title">
                                2
                            </span>

                            <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                        </a>

                        <span class="step-description">
                            Alerts
                        </span>
                    </li>


                    <li>
                        <a href="#step-3">
                            <span class="step-title">
                                3
                            </span>

                            <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>                       
                        </a>

                        <span class="step-description">
                            Payment Info
                        </span>
                    </li>


                    <li>
                        <a href="#step-4">
                            <span class="step-title">
                                4
                            </span>

                            <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                        </a>

                        <span class="step-description">
                            Other Info
                        </span>
                    </li>
                </ul>


                <div class="px-2 py-2 mb-4">
                    <div id="step-1">
                      <form novalidate>
                        {{> page/validation-states}}
                      </form>

                      <!-- if "Input Validation" is selected, we should validate this form before going to next step -->
                      <form id="validation-form" class="d-none mt-4 text-dark-m1">
                        <h4 class="text-primary mb-4 ml-md-4">
                            Enter the following information
                        </h4>

                        {{> page/validation-form}}
                      </form>
                    </div>


                    <div id="step-2">
                        {{> page/step2-alerts}}
                    </div>


                    <div id="step-3" class="text-center">
                        <h3 class="font-light text-primary my-4">
                            Select Payment Method
                        </h3>

                        {{> page/step3-payment}}
                    </div>


                    <div id="step-4" class="text-center">            
                        <h3 class="text-400 text-success mt-4"> Congrats! </h3>
                        Your product is ready to ship! Click finish to continue!
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div><!-- /#smartwizard-1 -->

        </div><!-- /.card-body -->
       </div><!-- .card -->

    </div>
</div>


