<div class="row">
 <div class="col-12 col-xl-10 offset-xl-1">

    <div role="alert" class="alert alert-lg bgc-success-l3 border-0 border-l-4 brc-success mt-4 mb-3 pr-3 py-3 d-flex">
        <div class="flex-grow-1">
            <i class="fas fa-check mr-1 text-120 text-success-m1"></i>
            <strong class="text-success-d1">Well done!</strong>
            <span class="text-105 text-dark-tp2">You successfully read this important alert message.</span>
        </div>

        <button type="button" class="close align-self-start" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times text-80"></i></span>
        </button>
    </div>


    <div role="alert" class="alert alert-lg bgc-secondary-l4 text-dark-m3 border-0 border-l-4 brc-danger-m1 mb-3 pr-3 py-3 d-flex">
        <div class="flex-grow-1">
            <i class="fas fa-times mr-1 text-danger"></i>
            <strong class="text-danger-m1">Oh snap!</strong>
            Change a few things up and try submitting again. 
        </div>

        <button type="button" class="close text-danger align-self-start" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times text-80"></i></span>
        </button>
    </div>


    <div role="alert" class="alert alert-warning alert-lg mb-3 border-0 pr-3 py-3 d-flex">
        <div class="flex-grow-1">
            <i class="fas fa-exclamation mr-2px text-orange-d2"></i>
            <strong class="text-orange-d3">Warning !</strong>
            Best check yo self, you're not looking too good.
        </div>

        <button type="button" class="close text-brown align-self-start" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times text-80"></i></span>
        </button>
    </div>


    <div role="alert" class="alert alert-lg bgc-blue-l4 border-0 border-t-3 brc-blue-m2 mb-3 radius-0 pr-3 py-3 d-flex">
        <div class="flex-grow-1">
            <strong class="text-blue-d2">Heads up!</strong>
            This alert needs your attention, but it's not super important.
        </div>

        <button type="button" class="close align-self-start" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times text-80"></i></span>
        </button>
    </div>

 </div>
</div>