<form autocomplete="off" class="col-sm-9 col-lg-6 col-xl-5 mx-auto d-block btn-group btn-group-toggle" data-toggle="buttons">

    <div role="button" class="d-block d-style border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-purple btn-a-outline-purple btn-h-bgc-tp radius-1">
        <input type="radio" name="payments" id="payments1" />
        <div class="d-flex align-items-center">

            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>

            <div class="text-600 text-purple-d1 text-left flex-grow-1">
                Visa/Mastercard
                <br />
                <span class="text-dark-l1 text-400">
                    flexible
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-cc-mastercard text-200 text-purple-d1"></i>
            </div>

        </div>
    </div>



    <div role="button" class="d-block d-style border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-primary btn-a-outline-primary btn-h-bgc-tp radius-1">
        <input type="radio" name="payments" id="payments2" />
        <div class="d-flex align-items-center">

            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>
            
            <div class="text-600 text-blue-d1 text-left flex-grow-1">
                Paypal
                <br />
                <span class="text-dark-l1 text-400">
                    fast &amp; easy
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-cc-paypal text-200 text-blue-m1"></i>
            </div>
        
        </div>
    </div>



    <div role="button" class="d-block d-style border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-warning btn-a-outline-warning btn-h-bgc-tp radius-1">
        <input type="radio" name="payments" id="payments3" />
        <div class="d-flex align-items-center">

            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp1 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>
            
            <div class="text-600 text-orange-d2 text-left flex-grow-1">
                Bitcoin
                <br />
                <span class="text-dark-l1 text-400">
                    state of the art
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-bitcoin text-200 text-orange-d1"></i>
            </div>
        
        </div>
    </div>

</form>