<div class="form-group form-row mt-4">
    <div class="col-sm-3 col-form-label text-sm-right text-grey-d2 pr-sm-2">
        Input with warning
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control col-12 text-dark-m2 brc-warning pr-45 pl-2" placeholder="" />
            <i class="fa fa-exclamation-triangle text-orange-d1 text-125 ml-n425 pos-rel"></i>
        </div>

        <span class="form-text d-inline-block text-orange-d3 text-600 text-95 ml-sm-2"> Warning tip help! </span>
    </div>
</div>



<div class="form-group form-row mt-4">
    <div class="col-sm-3 col-form-label text-sm-right text-danger-d1 pr-sm-2">
        Input with error
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control-lg col-12 brc-danger-m2 pr-45 pl-25" placeholder="" />
            <i class="far fa-times-circle text-danger-m2 text-125 ml-n425 pos-rel"></i>
        </div>


        <div class="d-none d-sm-inline-block form-text ml-sm-2 popover brc-danger-m2 border-2 bs-popover-right">
            <div class="arrow brc-danger mt-0"></div>
            <div class="popover-body text-dark-tp3 text-110">Vivamus sagittis lacus vel augue.</div>
        </div>

        <span class="d-inline-block d-sm-none form-text text-danger-m1 text-600 text-95 ml-sm-2"> Vivamus sagittis lacus vel augue. </span>
    </div>
</div>



<div class="form-group form-row mt-4">
    <div class="col-sm-3 col-form-label text-sm-right text-success-d2 pr-sm-2">
        Input with success
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control-lg col-12 brc-success pr-45" placeholder="" />
            <i class="far fa-check-circle text-success text-125 ml-n425 pos-rel"></i>
        </div>

        <span class="form-text d-inline-block text-success-d1 ml-sm-2"> Success message! </span>
    </div>
</div>



<div class="form-group form-row mt-4">
    <div class="col-sm-3 col-form-label text-sm-right text-blue-d3 pr-sm-2">
        Input with info
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0 pos-rel">
            <i class="fas fa-info-circle text-primary text-125 pos-abs ml-2"></i>
            <input type="text" class="form-control form-control-lg brc-blue-m2 pl-45" placeholder="" />
        </div>

        <span class="form-text d-inline-block text-blue-d1 ml-sm-2"> Info tip! </span>
    </div>
</div>



<div class="form-group form-row mt-4">
    <div class="col-sm-3 col-form-label text-sm-right pr-sm-2">
        Input with error
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-sm-7 px-0 pos-rel">
            <i class="fa fa-times text-danger-m2 text-125 pos-abs ml-2 pl-2px"></i>
            <input type="text" class="form-control brc-on-focus brc-danger-m2 pl-425" placeholder="" />
        </div>

        <span class="form-text d-inline-block text-danger text-95 text-600 ml-sm-2"> Error tip! </span>
    </div>
</div>