<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
        <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            fontawesome, material icons, etc
        </small>
    </h1>
</div>


<div class="row mt-2 mt-lg-4">
    <div class="col-12 text-center">
        <div class="alert bgc-green-l2 text-dark-m2 border-none border-l-4 brc-green radius-1 py-3 text-105 d-inline-block">
            <i class="fas fa-info-circle mr-1 fa-2x text-green-m1 align-middle"></i>
            In this demo <i class="text-600">FontAwesome</i> is used by default but you can use any other icon set in your app
        </div>
    </div>
</div>


<div class="row mt-2 mt-lg-4">
    <div class="col-12 col-md-6 mt-2 mt-md-0">
        <div class="card shadow-sm">
            <div class="card-body py-3 px-4">
                <h3 class="text-secondary-d3 mb-4 text-130 pb-1">
                    Material Icons
                </h3>

                <p>
                    <i class="material-icons-outlined bgc-primary-l3 text-primary-d1 radius-1 p-1">archive</i>
                    <i class="material-icons-outlined bgc-brown-l3 text-brown-d1 radius-1 p-1">build</i>
                    <i class="material-icons-outlined bgc-danger-l3 text-danger-d1 radius-1 p-1">delete</i>
                    <i class="material-icons-outlined bgc-blue-l3 text-blue-d1 radius-1 p-1">info</i>
                    <i class="material-icons-outlined bgc-success-l3 text-success-d1 radius-1 p-1">eco</i>
                    <i class="material-icons-outlined bgc-info-l3 text-info-d1 radius-1 p-1">search</i>
                    <i class="material-icons-outlined bgc-orange-l3 text-orange-d3 radius-1 p-1">report_problem</i>
                    <i class="material-icons-outlined bgc-purple-l3 text-purple-d1 radius-1 p-1">question_answer</i>
                </p>

                <p>
                    <i class="material-icons text-primary-m1 border-1 brc-primary-m2 p-1 radius-1">archive</i>
                    <i class="material-icons text-brown-m1 border-1 brc-brown-m2 p-1 radius-1">build</i>
                    <i class="material-icons text-danger-m1 border-1 brc-danger-m2 p-1 radius-1">delete</i>
                    <i class="material-icons text-blue-m1 border-1 brc-blue-m2 p-1 radius-1">info</i>
                    <i class="material-icons text-success-m1 border-1 brc-success-m2 p-1 radius-1">eco</i>
                    <i class="material-icons text-info-m1 border-1 brc-info-m2 p-1 radius-1">search</i>
                    <i class="material-icons text-orange-m1 border-1 brc-orange-m2 p-1 radius-1">report_problem</i>
                    <i class="material-icons text-purple-m1 border-1 brc-purple-m2 p-1 radius-1">question_answer</i>
                </p>

                <div class="text-center mt-4">
                    <button type="button" class="btn btn-sm btn-light-primary text-600 btn-brc-tp px-45" id="id-material">
                        try Material Icons on sidebar
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-md-6 mt-2 mt-md-0">
        <div class="card shadow-sm">
            <div class="card-body py-3 px-4">
                <h3 class="text-secondary-d3 mb-4 text-130 pb-1">
                    Jam Icons
                </h3>

                <p class="text-default-d2">
                    <i class="jam jam-alarm-clock text-150 p-1 radius-2 bgc-purple-d1 text-white"></i>
                    <i class="jam jam-archive text-150 p-1 radius-2 bgc-brown-d1 text-white"></i>
                    <i class="jam jam-bell-off text-150 p-1 radius-2 bgc-warning-d2 text-white"></i>
                    <i class="jam jam-bug text-150 p-1 radius-2 bgc-danger-d1 text-white"></i>
                    <i class="jam jam-clipboard text-150 p-1 radius-2 bgc-default-d1 text-white"></i>
                    <i class="jam jam-dashboard text-150 p-1 radius-2 bgc-success-d1 text-white"></i>
                    <i class="jam jam-flask text-150 p-1 radius-2 bgc-pink-d1 text-white"></i>
                </p>

                <p class="text-default-d2">
                    <i class="jam jam-alarm-clock text-160 p-1 text-purple-m1"></i>
                    <i class="jam jam-archive text-160 p-1 text-brown-m1"></i>
                    <i class="jam jam-bell-off text-160 p-1 text-warning-d1"></i>
                    <i class="jam jam-bug text-160 text-danger-m1"></i>
                    <i class="jam jam-clipboard text-160 text-default-m1"></i>
                    <i class="jam jam-dashboard text-160 text-success-m1"></i>
                    <i class="jam jam-flask text-160 p-1 text-pink-m1"></i>
                </p>
                
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-sm btn-light-orange text-600 btn-brc-tp px-45" id="id-jamicons">
                        try Jam Icons on sidebar
                    </button>
                </div>                
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 col-md-6 mt-2 mt-md-4">
        <div class="card shadow-sm">
            <div class="card-body py-3 px-4">
                <h3 class="text-secondary-d3 mb-4 text-130 pb-1">
                    Eva Icons
                </h3>

                <p>
                    <i class="eva eva-home-outline text-160 radius-round text-primary p-2 border-2 brc-primary-m2"></i>
                    <i class="eva eva-archive-outline text-160 radius-round text-purple-d1 p-2 border-2 brc-purple-m3"></i>
                    <i class="eva eva-charging-outline text-160 radius-round bgc-danger-l5 text-danger-d1 p-2 border-2 brc-danger-m3"></i>
                    <i class="eva eva-gift-outline text-160 radius-round bgc-green-l5 text-green-d1 p-2 border-2 brc-green-m3"></i>
                    <i class="eva eva-paper-plane-outline text-160 radius-round bgc-blue-l5 text-blue-d1 p-2 border-2 brc-blue-m3"></i>
                    <i class="eva eva-wifi-outline text-160 radius-round bgc-brown-l5 text-brown-d1 p-2 border-2 brc-brown-m3"></i>
                    <i class="eva eva-settings-2-outline text-160 radius-round bgc-orange-l5 text-orange-d2 p-2 border-2 brc-orange-m3"></i>
                </p>

                
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-sm btn-light-purple text-600 btn-brc-tp px-45" id="id-evaicons">
                        try Jam Eva on sidebar
                    </button>
                </div>                
            </div>
        </div>
    </div>



    <div class="col-12 col-md-6 mt-2 mt-md-4">
        <div class="card shadow-sm">
            <div class="card-body py-3 px-4">
                <h3 class="text-secondary-d3 mb-4 text-130 pb-1">
                    FontAwesome
                </h3>
                <p>
                    <span class="d-inline-block radius-round bgc-yellow py-2 px-1 text-center border-2 brc-dark-tp3">
                        <i class="fa fa-flask w-4 text-105 text-dark-tp3"></i>
                    </span>

                    <span class="d-inline-block radius-round bgc-success-d1 py-2 px-1 text-center border-3 brc-white-tp1 shadow-sm">
                        <i class="fa fa-home w-4 text-105 text-white-tp1"></i>
                    </span>

                    <span class="d-inline-block radius-round bgc-primary-d1 py-2 px-1 text-center border-3 brc-white-tp1 shadow-sm">
                        <i class="fa fa-edit w-4 text-105 text-white-tp1"></i>
                    </span>

                    <span class="d-inline-block radius-round bgc-purple-d1 py-2 px-1 text-center border-3 brc-white-tp1 shadow-sm">
                        <i class="fa fa-calendar w-4 text-110 text-white-tp1"></i>
                    </span>

                    <span class="d-inline-block radius-round bgc-warning-d1 py-2 px-1 text-center border-3 brc-white-tp1 shadow-sm">
                        <i class="fa fa-cog w-4 text-110 text-white-tp1"></i>
                    </span>
                </p>

                <div class="text-center mt-4">
                    <button type="button" class="btn btn-sm btn-light-default text-600 btn-brc-tp px-45" id="id-fontawesome">
                        try FontAwesome on sidebar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>