<div class="px-0 px-lg-1 mx-n2 mx-lg-0 mb-2 pos-rel mt-4 mt-lg-0">
    <div class="d-flex px-2 mb-425">
        <h4 class="text-dark-m3 text-130 mb-25">
            Pageviews
            <span class="d-block d-sm-inline text-success text-sm">
                ~ 30k today
            </span>
        </h4>

        <div class="ml-auto">
            <form autocomplete="off" data-toggle="buttons" class="btn-group btn-group-toggle">
                <label class="btn btn-xs px-25 btn-outline-lightgrey btn-h-outline-blue btn-a-blue active">
                    <input name="pageview" type="radio" value="1" checked />
                    Day
                </label>

                <label class="btn btn-xs px-25 btn-outline-lightgrey btn-h-outline-blue btn-a-blue">
                    <input name="pageview" type="radio" value="2" />
                    Week
                </label>

                <label class="btn btn-xs px-25 btn-outline-lightgrey btn-h-outline-blue btn-a-blue">
                    <input name="pageview" type="radio" value="3" />
                    Month
                </label>
            </form>
        </div>
    </div>

    <canvas id="pageviewschart" style="height: 160px; width: 100%;"></canvas>
</div>