<div class="row mx-n2 mx-lg-0 h-100">
    <div class="col-12 px-0">
        <div class="d-flex mb-4">
            <h4 class="d-inline-block flex-grow-1 mr-3 text-dark-m3 text-130">
                Revenue
                <span class="text-grey text-80">&amp;</span>
                Expense
            </h4>

            <button class="align-self-center ml-auto btn btn-light-primary btn-bgc-white btn-text-primary btn-h-outline-primary btn-a-outline-primary p-1px btn-bold text-left text-nowrap">
                <span class="d-inline-block bgc-blue-l2 h-4 px-25 pt-1 mr-2 border-1">
                    <i class="far fa-copy text-110 mt-3px"></i>
                </span>
                
                <span class="mr-3">
                    View Report
                </span>
            </button>
        </div>
        
        <div class="row mb-3 mx-0 px-3 pt-1 pb-15 radius-1 bgc-secondary-l3">
            <div class="col-6 px-0">
                <span class="text-120 opacity-1">
                    $
                </span>

                <span class="text-dark-tp4 text-160">
                    524,965
                </span>

                <span class="text-dark-tp5 ml-1">
                    revenue
                </span>

                <span class="d-block d-sm-inline text-success ml-2 mt-2 text-600">
                    (+9.75% <i class="fas fa-caret-up text-120"></i>)
                </span>
            </div>
            
            <div class="col-6 px-0 text-right">
                <span class="text-120 opacity-1">
                    $
                </span>

                <span class="text-dark-tp4 text-150">
                    75,450
                </span>

                <span class="text-dark-tp5 ml-1">
                    expense
                </span>

                <span class="d-block d-sm-inline text-orange-d3 ml-2 mt-2 text-600 text-95">
                    (+1.26% <i class="fas fa-caret-up text-120"></i>)
                </span>
            </div>
        </div>
    </div>

    <div class="col-12 px-0 px-md-3">
        <canvas class="mw-100 mt-3" id="revenue-expense-chart" height="130"></canvas>
    </div>
</div><!-- /.row -->