<div class="row mt-35 pos-rel">
    <div class="col-12 col-md-6 col-lg-7 py-25 px-lg-2 pos-rel">
        <div class="mx-2 text-dark-l1 mb-2 text-right text-110">
            <i class="fa fa-arrow-down rotate-45"></i>
            Traffic Sources
        </div>

        <div class="d-flex flex-row-reverse">
            <div class="pos-rel ml-1 align-self-start">
                <div class="position-center text-center text-dark-l1 mt-n1">
                    <span>
                        total
                    </span>

                    <span class="mt-n2 d-block text-180 text-dark-l2 text-600">
                        174k
                    </span>
                </div>

                <canvas id="piechart1" class="pos-rel" style="height: 150px; width: 150px; max-height: 150px; max-width: 150px;"></canvas>
            </div>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-5 py-25 px-lg-2 pos-rel">
        <div class="mx-2 text-dark-l1 mb-2 text-110">
            User Devices
            <i class="fa fa-arrow-down rotate-n45"></i>
        </div>

        <div class="d-flex">
            <div class="pos-rel mr-3 mr-sm-2 align-self-start">
                <div class="position-center text-center text-dark-l1 mt-n1">
                    <span>
                        total
                    </span>

                    <span class="mt-n2 d-block text-180 text-dark-l2 text-600">
                        98k
                    </span>
                </div>

                <canvas id="piechart2" class="pos-rel" style="height: 150px; width: 150px; max-height: 150px; max-width: 150px;"></canvas>
            </div>
        </div>
    </div>
</div><!-- /.row -->