<div class="row mt-3">
    <div class="col-12">
        <h3 class="text-primary-d2 text-140 mb-3">
            Summerote wysiwyg editor
        </h3>

        <div class="card bcard border-1 brc-dark-l1">
            <div class="card-body p-0">
                <form method="post">
                    <textarea id="summernote" name="editordata"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-12 col-lg-6">
        <div class="card border-0 shadow-sm">
            <div class="card-header bgc-success-d2">
                <h3 class="card-title text-white text-130">
                    Bootstrap lightweight editor
                </h3>
            </div>
            <div class="card-body p-0 border-1 border-t-0 brc-success-tp4">
                <div id="bootstrap-editor" class="bootstrap-wysiwyg-editor px-3 py-2"></div>
            </div>
        </div><!-- /.card -->        
    </div><!-- /.col -->


    <div class="col-12 col-lg-6 mt-3 mt-lg-0">
    
        <div class="card brc-primary-tp2 shadow-sm">
            <div class="card-header bgc-primary-d1">
                <h3 class="card-title text-white text-130">
                    Markdown editor
                </h3>
            </div>

            <div class="card-body p-0">

             <textarea class="form-control" name="content" id="markdown-editor" rows="10">**Markdown Editor** inside a *widget box*

- list item 1
- list item 2
- list item 3</textarea>



            </div><!-- /.card-body -->

            <div class="card-footer bgc-primary-l4 border-t-0">
                <button type="button" class="float-right btn btn-sm btn-outline-default bgc-white btn-h-outline-purple btn-a-outline-purple border-b-2">
                    <i class="fa fa-save text-120"></i>
                </button>
            </div>
        </div><!-- /.card -->
    </div><!-- /.col -->

</div><!-- /.row -->