{% extends 'home/layouts/base.html' %}
{% load static %}

{% block title %} Registrasi {% endblock %}

{% block content %}            
<body style="height: 100vh; background-color: white;">

    <!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Main -->
                <article id="main">                    
                    <section class="wrapper style5">
                        <div class="inner">

                            <section>

                                <!-- messages -->
                                {% include "home/layouts/messages.html" %}
                                <!-- end messages -->

                                <h4>Registrasi</h4>
                                <form method="post" action="{% url 'home.register' %}">
                                    {% csrf_token %}
                                    <div class="row gtr-uniform">
                                        <div class="col-6 col-12-xsmall">
                                            <input type="text" required name="nama" id="nama" value="" placeholder="Username" />
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <input type="password" required name="password" id="password" value="" placeholder="Password" />
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <input type="text" required name="phone" id="phone" value="" placeholder="Nomor Whatspp (Gunakan +62)" />
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <select name="location_id" id="location_id" required>
                                                <option value="">- Wilayah -</option>
                                                {% for location in locations %}
                                                    <option value="{{location.id}}">{{location.name}}</option>
                                                {% endfor %}                                                                                                
                                            </select>
                                        </div>                                                                                
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" value="Registrasi" class="primary" /></li>                                                
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>

                        </div>
                    </section>
                </article>
            

        </div>    

</body>    
{% endblock %}

{% block extendjs %}    
{% endblock %}   