<div class="row mt-4">
  
  <div class="col-12 col-md-6">
      <div class="card acard">
        <div class="card-header border-0">
          <h4 class="card-title">
            Toast notifications
          </h4>
        </div>

        <div class="card-body">
          <div class="alert bgc-secondary-l3 text-dark-m1 border-none border-l-4 brc-green radius-0 py-3 text-105 d-inline-block">
            You can easily modify the following examples to make custom toasts!
          </div>

          <p>
            <button id="id-toast-default" type="button" class="btn px-4 btn-light-default btn-h-default btn-a-default btn-text-black mb-1">
              Simple Toast
            </button>

            <button id="id-toast-info" type="button" class="btn px-4 btn-light-info btn-h-info btn-a-info mb-1">
              Info
            </button>

            <button id="id-toast-warning" type="button" class="btn px-4 btn-light-warning btn-h-warning btn-a-warning mb-1">
              Warning
            </button>
          </p>

          <p>
            <button id="id-toast-success" type="button" class="btn px-4 btn-light-success btn-h-success btn-a-success mb-1">
              Success with Progress
            </button>

            <button id="id-toast-success2" type="button" class="btn px-4 btn-light-success btn-h-success btn-a-success mb-1">
              Reverse Progress
            </button>
          </p>

          <p>
            <button id="id-toast-error" type="button" class="btn px-4 btn-light-danger btn-h-danger btn-a-danger mb-1">
              Error on Botton Right
            </button>

            <button id="id-toast-primary" type="button" class="btn px-4 btn-light-primary btn-h-primary btn-a-primary mb-1">
              Center
            </button>

            <button id="id-toast-dark" type="button" class="btn px-4 btn-light-light btn-h-dark btn-a-dark mb-1">
              Dark on Top Left
            </button>
          </p>

          <p>
            <button id="id-toast-sticky" type="button" class="btn px-4 btn-light-green btn-a-green btn-h-green mb-1">
              Sticky &amp; Draggable
            </button>

            <button id="id-toast-removeall" type="button" class="btn px-4 btn-light-pink mb-1">
              Remove All
            </button>
          </p>
        </div>
      </div>


      <div class="acard card mt-3">
        <div class="card-header border-0">
          <h4 class="card-title">
            SweetAlert2
          </h4>
        </div>

        <div class="card-body">
          <p>
            <button id="id-sweeralert-1" type="button" class="btn px-4 btn-primary mb-1">
              Example 1
            </button>
            <button id="id-sweeralert-2" type="button" class="btn px-4 btn-secondary mb-1">
              Example 2
            </button>
          </p>
        </div>
      </div>
  </div>





  <!-- alert message examples -->
  <div class="col-12 col-md-6 mt-4 mt-md-0">
      <h4 class="text-blue-d3 text-130 mb-3">
        Alerts
      </h4>


      <div class="alert alert-collapse bgc-white text-dark-tp3 border-1 brc-secondary-l2 shadow-sm radius-0 py-3 d-flex align-items-start">
        <div class="position-tl w-102 m-n1px border-t-4 brc-primary"></div>
        <div class="bgc-primary px-4 py-25 radius-1px mr-4 shadow-sm">
          <i class="fa fa-exclamation text-180 text-white"></i>
        </div>

        <div class="text-dark-tp3">
          <h3 class="text-blue-d1 text-130">Alert Message!</h3>
          A custom <b>info</b> alert that you can customize.
        </div>

         <button type="button" class="close align-self-start ml-auto mt-n25 mr-n2 text-blue-d2 text-150 opacity-2 bgc-h-blue-l2 radius-round px-15 pt-1px pb-3px" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>



      <div class="alert fade show bgc-white text-dark-tp3 border-1 brc-secondary-l2 shadow-sm radius-0 py-3 d-flex align-items-start">
        <div class="position-tl w-102 m-n1px border-t-4 brc-success"></div>
        <div class="bgc-success-l4 px-3 py-3 radius-round mr-4 border-2 brc-success-m2">
          <i class="fa fa-check text-140 text-success mx-2px"></i>
        </div>

        <div class="text-dark-tp3">
          <h3 class="text-success-d1 text-130">Alert Message!</h3>
          A custom <b>success</b> alert that you can customize.
        </div>

        <button type="button" class="close align-self-start ml-auto mt-n25 mr-n2 text-success-d2 text-150 opacity-2 bgc-h-success-l2 radius-round px-15 pt-1px pb-3px" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="card acard h-auto">
        <div class="card-body">

          <div class="alert bgc-secondary-l3 text-dark-m1 border-none border-l-4 brc-blue radius-0 py-3 text-115">
            <i class="fas fa-info mr-2 mb-1 text-110 text-blue-d1 align-middle"></i>
            A basic info alert!
          </div>


          <div class="alert bgc-primary-l4 brc-primary-m4 d-flex align-items-center text-dark-tp2" role="alert">
            <i class="fas fa-info-circle mr-3 fa-2x text-blue"></i>

            <div>
              A simple primary alert with
              <a href="#" class="alert-link text-primary-d2">
                an example link
              </a>.

              Give it a click if you like.
            </div>
          </div>


          <div class="alert alert-secondary bgc-secondary-l4 brc-secondary-l2 text-dark-tp2" role="alert">
            <h5 class="alert-heading text-primary-d1 font-bolder">
              CHECK IT OUT
            </h5>

            A simple secondary alert with
            <a href="#" class="alert-link text-secondary-d2">
              an example link
            </a>.

            Give it a click if you like.
          </div>

        
          <div class="alert d-flex bgc-white brc-success-m4 border-1 p-0" role="alert">
            <div class="bgc-success p-25 text-center m-n1px radius-l-1">
              <i class="fa fa-check text-150 text-white"></i>
            </div>

            <span class="ml-3 align-self-center text-success-d3 text-110">
              A success message!
            </span>
          </div>


          <div class="alert d-flex bgc-green-l4 brc-green-m4 border-1 border-l-0 pl-3 radius-l-0" role="alert">
            <div class="position-tl h-102 border-l-4 brc-green mt-n1px"></div>
            <i class="fa fa-check mr-3 text-180 text-green"></i>

            <span class="align-self-center text-green-d2 text-120">
              Success Message ...
            </span>
          </div>


          <div class="alert alert-collapse alert-success bg-white brc-success-m3 rounded border-2 d-inline-flex" role="alert">
            <span class="mr-4 d-inline-block">
              A small success alert, collpasing on close!
            </span>

            <button type="button" class="close align-self-center ml-auto text-danger text-150" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div role="alert" class="alert alert-warning bgc-warning-l4 brc-warning-m3 border-2 d-flex align-items-center">
            <i class="fas fa-exclamation-circle mr-3 fa-2x text-orange"></i>

            <div class="text-dark-tp2">
              A simple warning alert with
              <a href="#" class="alert-link text-orange-d2">
                an example link
              </a>.
              
              Give it a click if you like.
            </div>

            <button type="button" class="close align-self-start ml-auto text-danger-d2 text-150" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="alert d-flex bgc-red-l3 brc-success-m4 border-0 p-0" role="alert">
            <div class="bgc-red px-3 py-1 text-center radius-l-1">
              <span class="fa-2x text-white">
                ⚠ <!-- &#9888; -->
              </span>
            </div>

            <span class="ml-3 align-self-center text-dark-tp3 text-110">
              An error message!
            </span>
          </div>


          <div class="alert bgc-red-l4 border-none border-l-4 brc-red-tp1 radius-0 text-dark-tp2">
              <h4 class="text-danger-d1 text-130">Something's wrong</h4>
              Check it out!
          </div>


          <div class="alert fade show bgc-white brc-secondary-l2 rounded" role="alert">
            <div class="position-tl h-102 border-l-4 brc-danger m-n1px rounded-left"></div><!-- the big red line on left -->

            <h5 class="alert-heading text-danger-m1 font-bolder">
              <i class="fas fa-exclamation-triangle mr-1 mb-1"></i>
              Error
            </h5>

            A big danger alert fading on close with
            <a href="#" class="alert-link text-danger-m2">
              an example link
            </a>.
            
            <p class="mt-3 mb-0">
              <button class="btn btn-link text-primary font-bolder py-0 px-2" data-dismiss="alert" aria-label="Close">
                  <i class="far fa-hand-point-right"></i> Fix Issue
              </button>
            </p>

            <p class="my-1">
              <button class="btn btn-link text-orange-d2 font-bolder py-0 px-2" data-dismiss="alert" aria-label="Close">
                  <i class="far fa-bell"></i> Remind me Later
              </button>
            </p>
          </div>



          <div class="alert d-flex bgc-danger-l4 text-dark-tp3 radius-0 text-120 brc-danger-l2" role="alert">
            <div class="position-tl h-102 ml-n1px border-l-4 brc-danger-tp2 m-n1px"></div>

            <i class="fas fa-exclamation-circle mr-3 fa-2x text-orange-d1"></i>
            <span class="align-self-center">
              A Light Danger Alert!
            </span>
          </div>
        
      
          <div class="alert bgc-info-l3 brc-info-m1 border-none radius-0 border-l-4" role="alert">
            <span class="text-dark-tp4 text-140 text-600 opacity-1">
              An info message!
            </span>

            <a href="#" role="button" class="btn btn-xs radius-round position-tr btn-outline-info border-0 px-1 pt-0 pb-1 text-110 m-1" data-dismiss="alert" aria-label="Close">
              <i class="fa fa-times text-sm w-2 mx-1px" aria-hidden="true"></i>
            </a>
          </div>


          <div class="alert bgc-blue-l3 brc-blue-l1 text-dark-tp2" role="alert">
            A simple info alert with
            <a href="#" class="alert-link text-primary-d1">
              an example link
            </a>.

            Give it a click if you like.
          </div>


          <div class="alert bgc-dark-l4 brc-dark-l3" role="alert">
            A simple light alert with
            <a href="#" class="alert-link text-pink-d1">
              an example link
            </a>.

            Give it a click if you like.
          </div>


          <div class="alert d-flex bgc-dark-tp1 text-white border-0 radius-0" role="alert">
            <i class="fas fa-exclamation-circle mr-3 fa-2x text-warning-l3"></i>
            <span class="align-self-center text-120">
              A Dark Alert!
            </span>
          </div>

        </div><!-- ./card-body -->
      </div><!-- ./card -->


      <!-- more examples -->
      <div class="mt-3 alert text-white bgc-purple-d3 radius-0 border-0 text-105 py-3 pos-rel shadow">
        <div class="position-tl h-100 w-100 bgc-green-tp1 opacity-5 border-none border-l-4 brc-black-tp5"></div>
        <div class="pos-rel">
          <i class="fa fa-check text-140 mr-2 text-yellow-l4 align-sub"></i>
          Dark Alert Message with Custom Color!
        </div>
      </div>


      <div class="mt-3 alert bgc-purple-d2 text-white border-0 shadow-sm radius-2px py-3 shadow">
        <div class="position-tl w-100 h-100 bgc-black-tp10 radius-2px"></div>
          <div class=" d-flex align-items-start pos-rel">
            <div class="mr-4 opacity-1">
              <i class="fas fa-exclamation-triangle fa-3x text-dark-tp2 opacity-4"></i>
            </div>

            <div class="text-white">
              <h3 class="text-yellow-l4 text-130">Alert Message!</h3>
              A sample alert that you can customize.
            </div>

            <button type="button" class="btn btn-xs py-1px px-2 btn-outline-white btn-h-yellow border-0 align-self-start ml-auto mt-n25 mr-n3 text-125 radius-round" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>

  </div>
</div><!-- /.row -->

