<button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
    <i class="fa fa-search text-white text-90 py-1"></i>
</button><!-- mobile #navbarSearch toggler -->

<div class="collapse navbar-collapse navbar-backdrop" id="navbarSearch">
    <form class="d-flex align-items-center ml-lg-4 py-1" data-submit="dismiss">
        <i class="fa fa-search text-white d-none d-lg-block pos-rel"></i>
        <input type="text" class="navbar-input mx-3 flex-grow-1 mx-md-auto pr-1 pl-lg-4 ml-lg-n3 py-2 autofocus" placeholder="SEARCH ..." aria-label="Search" />
    </form>
</div>