<!-- the shortcut buttons -->
<div class="sidebar-section-item fadeable-left">    
    <div class="fadeinable sidebar-shortcuts-mini"><!-- show this small buttons when collapsed -->
      <span class="btn btn-success p-0 opacity-1"></span>
      <span class="btn btn-info p-0 opacity-1"></span>
      <span class="btn btn-orange p-0 opacity-1"></span>
      <span class="btn btn-danger p-0 opacity-1"></span>
    </div>

    <div class="fadeable"><!-- show this small buttons when not collapsed -->
      <div class="sub-arrow"></div>
      <div>
        <button class="btn px-25 py-2 text-95 btn-success opacity-1">
          <i class="fa fa-signal f-n-hover"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-info opacity-1">
          <i class="fa fa-edit f-n-hover"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-orange opacity-1">
          <i class="fa fa-users f-n-hover"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-danger opacity-1">
          <i class="fa fa-cogs f-n-hover"></i>
        </button>
      </div>
    </div>
</div>


<!-- the search box --> 
<div class="sidebar-section-item">
      <i class="fadeinable fa fa-search text-info-m1 mr-n1"></i>

      <div class="fadeable d-inline-flex align-items-center ml-3 ml-lg-0">
        <i class="fa fa-search mr-n3 text-info-m1"></i>
        <input type="text" class="sidebar-search-input pl-4 pr-3 mr-n2" maxlength="60" placeholder="Search ..." aria-label="Search" />
        <a href="#" class="ml-n25 px-2 py-1 radius-round bgc-h-secondary-l2 mb-2px">
          <i class="fa fa-microphone px-3px text-dark-tp5"></i>
        </a>
      </div>
</div>
