<!-- the dropdown used in some boxes (cards) -->
<div class="dropdown dd-backdrop dd-backdrop-none-md">
    <button type="button" class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>

    <div class="dropdown-menu mw-auto dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md">
        <div class="dropdown-inner">
            <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                <i class="fa fa-cog text-blue mr-1"></i>
                Some action
            </a>

            <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                <i class="fas fa-tools text-blue mr-1"></i>
                Another action
            </a>
        </div>
    </div>
</div>