<div class="h-100 row mt-sm-3 mt-lg-0">

    <div class="col-12 col-sm-4 col-lg-12">
        <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
            <h6 class="text-dark-m2 text-90 text-600">
                <span class="d-inline-block p-15 radius-2 bgc-green-tp1 mr-1"></span>
                Total Orders
            </h6>

            <div class="text-primary-m1 text-center text-200">
                <span class="text-120">
                    32,809
                </span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-12 py-2 py-sm-0 py-lg-2">
        <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
            <h6 class="text-dark-m2 text-90 text-600">
                <span class="d-inline-block p-15 radius-2 bgc-purple-tp1 mr-1"></span>
                Daily Average
            </h6>

            <div class="text-primary-m1 text-center text-200">
                <span class="text-120">
                    285
                </span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-12">
        <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
            <h6 class="text-dark-m2 text-90 text-600">
                <span class="d-inline-block p-15 radius-2 bgc-brown-tp1 mr-1"></span>
                Average Amount
            </h6>

            <div class="text-primary-m1 text-center text-200">
                <span class="text-120">
                    $141
                </span>
            </div>
        </div>
    </div>

</div>