<div>
    {{> page/style1}}
</div>


<hr class="my-2 my-md-5 brc-black-tp11" />
<div class="mt-5">
    {{> page/style2}} 
</div>


<hr class="my-2 my-md-5 brc-black-tp11" />
<div class="mt-5">
    {{> page/style3}} 
</div>