<div class="row text-95">
    <div class="col-12 col-lg-4 pr-15 pt-lg-2 mb-3 mb-lg-0">
        <ul class="list-unstyled text-dark-m3 pt-3 pt-lg-5">
            <li class="text-200 pb-15 border-b-1 brc-dark-l3 d-flex">
                <span class="text-80 text-primary-d2 pl-2">
                    Choose your plan
                </span>
                <div class="text-sm ml-auto">
                    <div class="dropdown">
                        <button type="button" class="btn btn-xs btn-lighter-default btn-bgc-white radius-1 px-3 border-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Change Billing</span>
                            Monthly Prices
                            <i class="fa fa-careyt-down"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right radius-1 p-15">
                            <a class="dropdown-item my-1 active" href="#">Monthly</a>
                            <a class="dropdown-item my-1" href="#">Yearly</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="py-2 pl-25">Disk Space</li>
            <li class="py-2 pl-25 bgc-secondary-l4">Bandwidth</li>
            <li class="py-2 pl-25">Email Accounts</li>
            <li class="py-2 pl-25 bgc-secondary-l4">MySQL Databases</li>
            <li class="py-2 pl-25">Ad Credit</li>
            <li class="py-2 pl-25 bgc-secondary-l4">Free Domain</li>
        </ul>
    </div>
    

    <div class="col-12 col-lg-8">
        <div class="row">

            <div class="dh-zoom-1 col-6 col-sm-3 px-0 my-2 my-md-0">
                <div class="mx-1 bcard overflow-hidden">
                    <ul class="list-unstyled text-center m-0 text-dark-m3">
                        <li class="mb-2px bgc-blue text-white py-2">
                            <span class="text-105 text-600 border-b-1 brc-white-tp3">
                                Basic
                            </span>
                            <div class="text-125 ml-n3">
                                <span class="pos-abs mt-25 ml-n25">$</span>
                                <span class="text-200">10</span>
                                <span class="pos-abs mt-35 ml-15 text-85">Month</span>
                            </div>
                        </li>

                        <li class="py-2">10 GB</li>
                        <li class="py-2 bgc-secondary-l4">200 GB</li>
                        <li class="py-2">100</li>
                        <li class="py-2 bgc-secondary-l4">10</li>
                        <li class="py-2">
                            <i class="fa fa-times text-danger-m3"></i>
                        </li>
                        <li class="py-2 bgc-secondary-l4">
                            <i class="fa fa-times text-danger-m3"></i>
                        </li>
                        <li class="py-2">
                            <a href="#" class="my-2 btn btn-blue opacity-1 btn-bold px-4">Order</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="dh-zoom-1 col-6 col-sm-3 px-0 my-2 my-md-0">
                <div class="mx-1 bcard overflow-hidden">
                    <ul class="list-unstyled text-center m-0 text-dark-m3">
                        <li class="mb-2px bgc-success text-white py-2">
                            <span class="text-105 text-600 border-b-1 brc-white-tp3">
                                Starter
                            </span>
                            <div class="text-125 ml-n4">
                                <span class="pos-abs mt-25 ml-n25">$</span>
                                <span class="text-200">15</span>
                                <span class="pos-abs mt-35 ml-15 text-85">Month</span>
                            </div>
                        </li>

                        <li class="py-2">50 GB</li>
                        <li class="py-2 bgc-secondary-l4">1 TB</li>
                        <li class="py-2">1000</li>
                        <li class="py-2 bgc-secondary-l4">100</li>
                        <li class="py-2">
                            <i class="fa fa-times text-danger-m3"></i>
                        </li>
                        <li class="py-2 bgc-secondary-l4">1</li>
                        <li class="py-2">
                            <a href="#" class="my-2 btn btn-success opacity-1 btn-bold px-4">Order</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="dh-zoom-1 col-6 col-sm-3 px-0 my-2 my-md-0">
                <div class="mx-1 bcard overflow-hidden">
                    <ul class="list-unstyled text-center m-0 text-dark-m3">
                        <li class="mb-2px bgc-warning-d1 text-white py-2">
                            <span class="text-105 text-600 border-b-1 brc-white-tp3">
                                Business
                            </span>
                            <div class="text-125 ml-n45">
                                <span class="pos-abs mt-25 ml-n25">$</span>
                                <span class="text-200">25</span>
                                <span class="pos-abs mt-35 ml-15 text-85">Month</span>
                            </div>
                        </li>

                        <li class="py-2">500 GB</li>
                        <li class="py-2 bgc-secondary-l4">5 TB</li>
                        <li class="py-2">1000</li>
                        <li class="py-2 bgc-secondary-l4">
                            <i class="fas text-90 fa-infinity text-dark-l3"></i>
                        </li>
                        <li class="py-2 text-600 text-blue-d1">$50</li>
                        <li class="py-2 bgc-secondary-l4">3</li>
                        <li class="py-2">
                            <a href="#" class="my-2 btn btn-orange opacity-1 btn-bold px-4">Order</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="dh-zoom-1 col-6 col-sm-3 px-0 my-2 my-md-0">
                <div class="mx-1 bcard overflow-hidden">
                    <ul class="list-unstyled text-center m-0 text-dark-m3">
                        <li class="mb-2px bgc-purple text-white py-2">
                            <span class="text-105 text-600 border-b-1 brc-white-tp3">
                                Unlimited
                            </span>
                            <div class="text-125 ml-n4">
                                <span class="pos-abs mt-25 ml-n25">$</span>
                                <span class="text-200">50</span>
                                <span class="pos-abs mt-35 ml-15 text-85">Month</span>
                            </div>
                        </li>

                        <li class="py-2">
                            <i class="fas fa-infinity text-90 text-dark-l3"></i>
                        </li>
                        <li class="py-2 bgc-secondary-l4">
                            <i class="fas fa-infinity text-90 text-dark-l3"></i>
                        </li>
                        <li class="py-2">
                            <i class="fas fa-infinity text-90 text-dark-l3"></i>
                        </li>
                        <li class="py-2 bgc-secondary-l4">
                            <i class="fas text-90 fa-infinity text-dark-l3"></i>
                        </li>
                        <li class="py-2 text-600 text-blue-d1">$100</li>
                        <li class="py-2 bgc-secondary-l4">5</li>
                        <li class="py-2">
                            <a href="#" class="my-2 btn btn-purple opacity-1 btn-bold px-4">Order</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .col -->
</div><!--.row-->