<!-- this footer is shown in device width above `sm` -->
<footer class="footer d-none d-sm-block">
   <div class="footer-inner bgc-white-tp1">
      <div class="pt-3 border-none border-t-3 brc-grey-l1 border-double">
         <span class="text-primary-m2 font-bolder text-120">Ace</span>
         <span class="text-muted">Application &copy; 2021</span>

         <span class="mx-3 action-buttons">
            <a href="#" class="text-blue-m3 text-140"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="text-blue-d1 text-140"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-orange text-140"><i class="fa fa-rss-square"></i></a>
         </span>
      </div>
   </div><!-- .footer-inner -->

   <!-- scroll to top button -->
   <div class="footer-tools">
      <a href="#" class="btn-scroll-up btn btn-dark px-25 py-2 text-95 mb-2 mr-2">
         <i class="fa fa-angle-double-up mx-1"></i>
      </a>
   </div>
</footer>


<!-- this footer is shown in mobile devices below `sm` -->
<footer class="d-sm-none footer-sm footer-fixed">
 <div class="footer-inner">
   <div class="btn-group d-flex h-100 mx-0 bgc-primary-m1 px-2 py-15 shadow-lg">
      <button class="btn btn-outline-white btn-h-outline-white btn-a-outline-white active border-0 radius-round px-4 mx-2">
         <i class="fa fa-home text-120"></i>
         Home
      </button>

      <button class="btn btn-outline-white btn-h-outline-white btn-a-outline-white border-0 radius-round">
         <i class="fa fa-plus-circle opacity-1 text-120"></i>
      </button>

      <button data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search" class="btn btn-outline-white btn-h-outline-white btn-a-outline-white border-0 radius-round">
         <i class="fa fa-search opacity-1 text-120"></i>
      </button>

      <button class="btn btn-outline-white btn-h-outline-white btn-a-outline-white border-0 mr-0 radius-round">
         <span class="pos-rel">
            <i class="fa fa-bell opacity-1 text-120"></i>
            <span class="badge badge-dot bgc-yellow-m1 position-tr mt-n1 mr-n2px"></span>
         </span>
      </button>
   </div>
 </div>
</footer>
