<div class="sidebar-section-item fadeable-left">
  
    <div class="fadeinable sidebar-shortcuts-mini">
        <span class="btn btn-outline-primary border-2 text-white radius-2"></span>
        <span class="btn btn-outline-primary border-2 text-white radius-2"></span>
        <span class="btn btn-outline-primary border-2 text-white radius-2"></span>
        <span class="btn btn-outline-primary border-2 text-white radius-2"></span>
    </div>

    <div class="fadeable">
     <div class="sub-arrow"></div>
     <div>
        <button class="btn px-25 py-2 text-95 btn-outline-primary border-2 text-white radius-2">
          <i class="fa fa-signal"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-primary border-2 text-white radius-2">
          <i class="fa fa-edit"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-primary border-2 text-white radius-2">
          <i class="fa fa-users"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-primary border-2 text-white radius-2">
          <i class="fa fa-cogs"></i>
        </button>
     </div>
    </div>

</div>

 
<div class="sidebar-section-item">
    <i class="fadeinable fa fa-search text-orange-l2 mr-n1"></i>

    <div class="fadeable d-inline-flex align-items-center ml-3 ml-lg-0">
      <i class="fa fa-search mr-n3 text-orange-l2"></i>
      <input type="text" class="sidebar-search-input pl-4 pr-3 mr-n2" maxlength="60" placeholder="Search ..." aria-label="Search" />
      <a href="#"><i class="fa fa-microphone text-white-tp3 ml-n1"></i></a>
    </div>
</div>
