<div class="sidebar-inner">

 <div class="ace-scroll flex-grow-1" data-ace-scroll="{}">
  
  <div class="sidebar-section my-2">
   {{> layout/dashboard-4/sidebar-header}}
  </div>

  <ul class="nav flex-column has-active-border active-on-top active-on-right">
   {{#each sidebarItems}}
     {{> layout/_commons/sidebar-item}}
   {{/each}}
  </ul>

 </div><!-- .sidebar scroll -->

 
 <div class="sidebar-section">
   {{> layout/dashboard-4/sidebar-footer}}
 </div>

</div>
