<div class="sidebar-section-item fadeable-bottom">
     <div class="fadeinable">
        <div class="pos-rel">
              <img alt="Alexa's Photo" src="assets/image/avatar/avatar5.jpg" width="42" class="px-1px radius-round mx-2 border-2 brc-secondary-m2" />
              <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1"></span>
        </div>
     </div>
     
     <div class="fadeable hideable w-100 bg-transparent shadow-none border-0">       
       <div id="sidebar-footer-bg" class="d-flex align-items-center bgc-primary-tp2 shadow-sm mx-2 mt-2px py-2 radius-t-1 border-x-1 border-t-2 brc-white-tp2">
           <div class="d-flex mr-auto py-1">
              <div class="pos-rel">
                <img alt="Alexa's Photo" src="assets/image/avatar/avatar5.jpg" width="42" class="px-1px radius-round mx-2 border-2 brc-default-m4" />
                <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1 mt-1"></span>
              </div>

              <div>
                  <span class="text-white font-bolder">Alexa</span>
                  <div class="text-80 text-white-tp1">
                    Admin
                  </div>
              </div>
           </div>

           <a href="#" class="btn btn-outline-white border-0 p-2 mr-2px ml-4" title="Settings" data-toggle="modal" data-target="#id-ace-settings-modal">
             <i class="fa fa-cog text-150"></i>
           </a>

           <a  href="{{getPageLink 'page-login'}}" class="btn btn-outline-white border-0 p-2 mr-1" title="Logout">
             <i class="fa fa-sign-out-alt text-150"></i>
           </a>
       </div>
     </div>
</div>

