<div class="row mx-0">
  <div class="bgc-white col-lg-6 col-12 p-2 p-lg-3 p-xl-4">
      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-blue-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="fa fa-edit text-160 text-blue mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div>
        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            New Post
          </a>
          <p class="text-dark-tp4 pl-1">
            Praesent commodo cursus...
          </p>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-green-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="far fa-comments text-160 text-green mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div>  
        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            Comments
          </a>
          <p class="text-dark-tp4 pl-1">
            Donec id elit non mi...
          </p>
        </div>
      </div>
      
      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-orange-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="far fa-star text-160 text-orange-d2 mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div> 

        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            Favorites
          </a>
          <p class="text-dark-tp4 pl-1">
            Commodo tortor mauri...
          </p>
        </div>
      </div>
  </div><!-- .col:mega links -->

  <div class="bgc-white col-lg-6 col-12 p-2 p-lg-3 p-xl-4">
      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-blue-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="fa fa-globe text-160 text-blue mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div>
        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            Links
          </a>
          <p class="text-dark-tp4 pl-1">
            Praesent commodo cursus...
          </p>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-purple-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="far fa-copy text-160 text-purple mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div>
        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            Documents
          </a>
          <p class="text-dark-tp4 pl-1">
            Donec id elit non mi...
          </p>
        </div>
      </div>
      
      <div class="d-flex align-items-center">
        <div class="pos-rel">
          <i class="bgc-red-l3 w-4 h-4 radius-round position-r mr-2 mt-25"></i>
          <i class="fa fa-list text-160 text-danger mr-2 mb-3 w-6 h-6 radius-round text-center pt-1 pos-rel"></i>
        </div> 
        <div>
          <a href="#" class="d-block py-1px px-1 radius-1 no-underline text-dark-tp3 text-600 bgc-h-primary-l2 text-95">
            Mega Menu
          </a>
          <p class="text-dark-tp4 pl-1">
            Commodo tortor mauri...
          </p>
        </div>
      </div>
  </div><!-- .col:mega links -->
</div><!-- .row: mega -->


<div class="px-4 mx-0 order-first order-lg-last bgc-primary-l4 border-t-1 brc-secondary-l2">
  <div class="py-3">
     <button class="mx-2px btn px-25 py-2 text-100 btn-blue radius-round px-4 border-2">
			 Get Started Now
		 </button>
     
     <div class="d-block d-md-inline-block mt-3 mt-md-0">
        <span class="text-dark-tp3 ml-3">
          or call us now to learn more
        </span>

        <b class="text-600">
          111-222-333
        </b>
     </div>
  </div>
</div><!-- .row:megamenu big buttons -->
