<form class="dropdown-clickable text-grey-d2">
    <div class="dropdown-body my-25">
        <div class="px-2 px-md-3">
            <input type="text" class="form-control shadow-none m-0" placeholder="Enter Keywords to Search ..." />
        </div>
    </div>

    <div class="dropdown-footer py-2 text-center pos-rel border-t-1 brc-secondary-l2">
        <button type="button" class="btn px-4 btn-sm btn-primary" data-dismiss="dropdown">Find</button>
        <button type="reset" class="btn btn-sm btn-outline-secondary">Clear</button>
    </div>
</form>