 <!-- login dialog -->
<h4 class="text-120 mb-3 text-secondary-d3 px-3 mt-3 mb-2">Please enter your details</h4>
<hr class="border-dotted brc-default-l2" />
<form class="dropdown-clickable text-grey-d2">
    <div class="dropdown-body my-25">
        <div class="form-group mx-3">
            <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                <input placeholder="Username" type="text" class="form-control pr-4 shadow-none" autocomplete="off" />
                <i class="fa fa-user text-grey-m2 ml-n4"></i>
                <label class="floating-label text-grey-l1 ml-n3">Username</label>
            </div>
        </div>

        <div class="form-group mx-3">
            <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                <input placeholder="Password" type="password" class="form-control pr-4 shadow-none" autocomplete="off" />
                <i class="fa fa-key text-grey-m2 ml-n4"></i>
                <label class="floating-label text-grey-l1 ml-n3">Password</label>
            </div>
        </div>

        <div class="mx-3">
            <label class="d-inline-block mt-2 text-secondary-d2">
                <input type="checkbox" class="mr-1" />
                Remember me
            </label>
        </div>
    </div>

    <div class="dropdown-footer text-center py-25 bgc-default-l4 border-t-1 brc-default-l2">
        <button type="button" class="btn px-4 py-15 text-95 btn-blue" data-dismiss="dropdown">
            Login
        </button>

        <button type="button" class="btn px-25 py-15 text-95 btn-outline-green btn-bgc-white">
            Register
        </button>
    </div>
</form>
