 <div class="row justify-content-center mx-1 mx-lg-0 mt-3">
    
    <!-- Basic -->
    <div class="col-12 col-sm-6 col-lg-3 px-2 dh-zoom-1 mb-4">
        <div class="d-style btn btn-outline-default btn-h-outline-blue btn-a-outline-blue bgc-white w-100 border-t-3 pb-3">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="w-75 pt-15 pb-2 text-140 bgc-blue text-white mt-n35 mb-3 radius-1">
                    Basic
                </h4>

                <div class="text-secondary text-120">
                    $<span class="text-200">10</span> / month
                </div>

                <hr class="w-90 my-4 brc-secondary-l3" />

                <div class="text-grey-d1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span>
                                <span class="text-110">Donec id elit.</span>
                                Fusce dapibus...
                            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Placerat duis
                            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-times text-danger-m3 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Tortor mauris
                            </span>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-secondary-l3" />
                            <a href="#" class="btn btn-outline-default px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>


    <!-- Pro -->
    <div class="col-12 col-sm-6 col-lg-3 px-2 mt-lg-n2 dh-zoom-1 mb-4">
        <div class="d-style active btn btn-outline-default btn-h-outline-success btn-a-outline-success bgc-white w-100 border-t-3 pb-3">
            
            <div class="d-flex flex-column align-items-center">
                <h4 class="w-75 pt-15 pb-2 text-140 bgc-success text-white mt-n35 mb-3 radius-1">
                    Pro
                </h4>

                <span class="position-tl mt-4 ml-n25 rotate-n45">
                    <span class="badge badge-lg bgc-yellow text-dark-tp2 brc-yellow arrowed-in arrowed-in-right">Special offer</span>
                </span>

                <div>
                    <div>
                        <s class="text-secondary-m3">$<span class="text-110">30</span> / month</s>
                    </div>
                    <div class="text-120">
                        <span class="text-green-d1">$<span class="text-200">20</span> / month</span>
                    </div>
                </div>

                <hr class="w-90 my-4 brc-secondary-l2" />

                <div class="flex-grow-1 text-grey-d1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li class="mb-3">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110 text-1">
                                Everything in Basic...
                            </span>
                        </li>

                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Non diam phasellus
                            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Sed adipiscing diam
                            </span>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-secondary-l2" />
                            <a href="#" class="btn btn-success px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>


    <!-- Premium -->
    <div class="col-12 col-sm-6 col-lg-3 px-2 dh-zoom-1 mb-4">
        <div class="d-style btn btn-outline-default btn-h-outline-purple btn-a-outline-purple bgc-white w-100 border-t-3 pb-3">
            
            <div class="d-flex flex-column align-items-center">
                <h4 class="w-75 pt-15 pb-2 text-140 bgc-purple text-white mt-n35 mb-3 radius-1">
                    Premium
                </h4>

                <div class="text-secondary text-120">
                    $<span class="text-200">50</span> / month
                </div>

                <hr class="w-90 my-4 brc-secondary-l3" />

                <div class="flex-grow-1 text-grey-d1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li class="mb-3">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Everything in Pro...
                            </span>
                        </li>

                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                In fermentum et
                            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Molestie nunc non
                            </span>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-secondary-l3" />
                            <a href="#" class="btn btn-outline-default px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>