<div class="dropdown d-inline-block">
    <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-blue btn-a-outline-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
        <i class="fa fa-caret-down ml-1"></i>
    </a>
    <div class="dropdown-menu shadow-sm dropdown-center brc-secondary-l1 radius-1 px-2px py-1">
        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <i class="fa fa-reply w-3 text-blue-d2"></i>
            Reply
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <span class="w-3 d-inline-block">
                <i class="fa fa-reply fa-flip-horizontal text-green-d2"></i>
            </span>
            Forward
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <i class="fa fa-folder-open text-orange-d2 w-3"></i>
            Archive
        </a>

        <div class="dropdown-divider"></div>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <i class="fa fa-eye w-3 text-blue-d2"></i>
            Mark as read
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <i class="fa fa-eye-slash w-3 text-green-d2"></i>
            Mark as unread
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <i class="far fa-flag w-3 text-danger-d2"></i>
            Flag
        </a>
    </div>
</div>


<div class="dropdown d-inline-block">
    <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-blue btn-a-outline-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-folder mr-1"></i>
        Move to
        <i class="fa fa-caret-down ml-1"></i>
    </a>
    <div class="dropdown-menu shadow-sm dropdown-center brc-secondary-l1 radius-1 px-2px py-1">
        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <span class="d-inline-block w-2 h-2 border-3 brc-pink radius-round mr-1 mb-1 align-middle"></span>
            Family
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <span class="d-inline-block w-2 h-2 border-3 brc-blue radius-round mr-1 mb-1 align-middle"></span>
            Friends
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <span class="d-inline-block w-2 h-2 border-3 brc-green radius-round mr-1 mb-1 align-middle"></span>
            Work
        </a>

        <a href="#" class="dropdown-item m-1px px-3 py-1 text-dark-m3 btn btn-lighter-dark btn-h-lighter-secondary btn-a-lighter-secondary btn-bgc-tp radius-0 text-95">
            <span class="d-inline-block w-2 h-2 border-3 brc-orange radius-round mr-1 mb-1 align-middle"></span>
            Other
        </a>
    </div>
</div>

<div class="dropdown d-inline-block">
    <a href="#" class="btn btn-sm btn-lighter-default btn-text-dark btn-bgc-white btn-h-outline-danger btn-a-outline-danger">
        <i class="fa fa-trash-alt text-danger mr-sm-1"></i>
        <span class="d-none d-sm-inline">Delete</span>
    </a>
</div>