<div class="bgc-default-l4 p-3 align-items-center d-flex w-100">
    <div>
        Showing <span class="text-600">1</span> - <span class="text-600">10</span>
        of more than
        <span class="text-600">1000</span> messages
    </div>

    <div class="ml-auto">
        <nav class="d-inline-block" aria-label="Inbox navigation">
            <ul class="pagination align-items-center d-inline-flex mb-0">
                <li class="page-item mr-1">
                    <a class="page-link btn py-2 px-25 btn-sm border-2 brc-sec1ondary-l1 radius-r-0 text-600 btn-bgc-white btn-lighter-secondary btn-h-default btn-a-default" href="#">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link btn py-2 px-25 btn-sm border-2 brc-sec1ondary-l1 radius-l-0 text-600 btn-bgc-white btn-lighter-secondary btn-h-default btn-a-default" href="#">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>