<div class="card border-0 h-100">
    <div class="card-header border-0 bgc-transparent pl-1">
        <h5 class="card-title mb-2 mb-md-0 text-120 text-grey-d3">
            <i class="fas fa-chart-line text-primary-m2 mr-1 text-105"></i>
            Sale Stats
        </h5>

        <div class="card-toolbar no-border dd-backdrop dd-backdrop-none-md">
            <a href="#" class="btn btn-xs btn-light-secondary border-1 text-600 px-4 radius-round dropdown-toggle" role="button" data-toggle="dropdown"  data-display="static" aria-haspopup="true" aria-expanded="false">
                2020
            </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md mw-auto">
                <div class="dropdown-inner">
                    <a class="dropdown-item active" href="#">2021</a>
                    <a class="dropdown-item" href="#">2020</a>
                    <a class="dropdown-item" href="#">2019</a>
                </div>
            </div>
        </div>

        <div class="card-toolbar align-self-center">
            <a href="#" data-action="reload" class="card-toolbar-btn text-success-m2 text-100">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </div>

    <div class="card-body p-0 ccard px-1 mx-n1 mx-md-0 h-100 d-flex align-items-center">
        <div class="mx-n2 px-0 mx-md-0 my-2 w-100">
            <canvas id="saleschart" height="105"></canvas>
        </div>
    </div>
</div>