<!-- the page intro for dark theme -->
<div id="page-intro-dark" class="page-intro pos-rel navbar-darkblue py-2 pt-xl-4 py-xl-5 text-white">

 <!-- some random circles -->
 <div class="d-none d-lg-block"><div class="pos-abs bgc-white radius-round" style="opacity: 0.16;width:4px; height:4px; top:30%; left:85%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.2;width:6px; height:6px; top:91%; left:15%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.3;width:8px; height:8px; top:1%; left:87%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.24;width:6px; height:6px; top:0%; left:70%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.17;width:16px; height:16px; top:79%; left:20%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.35;width:6px; height:6px; top:10%; left:0%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.17;width:14px; height:14px; top:16%; left:87%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.15;width:17px; height:17px; top:82%; left:71%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.2;width:12px; height:12px; top:17%; left:92%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.19;width:12px; height:12px; top:44%; left:64%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.27;width:11px; height:11px; top:43%; left:89%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.18;width:9px; height:9px; top:55%; left:25%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.38;width:10px; height:10px; top:5%; left:71%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.11;width:9px; height:9px; top:62%; left:22%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.39;width:18px; height:18px; top:47%; left:3%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.18;width:6px; height:6px; top:12%; left:20%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.34;width:10px; height:10px; top:97%; left:95%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.33;width:7px; height:7px; top:74%; left:87%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.17;width:7px; height:7px; top:84%; left:72%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.14;width:9px; height:9px; top:7%; left:23%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.39;width:15px; height:15px; top:94%; left:91%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.28;width:14px; height:14px; top:60%; left:83%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.3;width:15px; height:15px; top:65%; left:66%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.1;width:7px; height:7px; top:3%; left:95%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.39;width:10px; height:10px; top:20%; left:53%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.14;width:13px; height:13px; top:13%; left:77%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.38;width:13px; height:13px; top:76%; left:13%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.19;width:16px; height:16px; top:9%; left:42%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.21;width:16px; height:16px; top:37%; left:69%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.11;width:4px; height:4px; top:21%; left:95%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.16;width:10px; height:10px; top:76%; left:74%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.16;width:17px; height:17px; top:9%; left:88%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.21;width:15px; height:15px; top:79%; left:131%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.37;width:14px; height:14px; top:94%; left:8%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.2;width:9px; height:9px; top:65%; left:87%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.1;width:16px; height:16px; top:4%; left:93%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.32;width:18px; height:18px; top:36%; left:81%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.35;width:7px; height:7px; top:0%; left:21%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.22;width:11px; height:11px; top:69%; left:82%;"></div><div class="pos-abs bgc-white radius-round" style="opacity: 0.32;width:6px; height:6px; top:68%; left:79%;"></div></div>


 <div class="row container container-plus mx-auto mt-3 mb-5">
    <div class="col-12 col-md-7 d-flex flex-column justify-content-center text-center" data-aos="fade-right" data-aos-delay="100">
        <h1 class="align-self-center">
            <span class="text-110 text-yellow-l3">
                Our tech
            </span>

            <span class="text-90">
                makes your life easier...
            </span>
        </h1>

        <h4 class="my-3 text-white text-120">
            Start using this amazing app and see instant results!
        </h4>

        <h6 class="my-3 text-105  px-3 radius-3px">
            Or put a slideshow here ...
        </h6>


        <div class="mt-3 row justify-content-center align-items-center">
            <div class="col-12 col-sm-6 col-lg-5 col-xl-4 pos-rel">
                <i class="fa fa-hand-point-right fa-2x position-l ml-n4 mt-2"></i>
                <select autocomplete="off" class="no-border theme-select form-control ace-select border-1 brc-white-tp9 shadow-none bgc-white-tp10 bgc-h-black-tp10 text-white text-600 h-auto">
                    <option value="" class="text-600">Change Theme/Color</option>
                    <option value="" class="text-secondary-l3">_______________________</option>
                    <option value="darkblue" class="text-primary-d1 text-600">Blue</option>  
                    <option value="teal" class="text-green-d1 text-600">Green</option>
                    <option value="purple" class="text-purple-d1 text-600">Purple</option>
                    <option value="" class="text-secondary-l3">_______________________</option>
                    <option value="light" class="bgc-primary-l3">Light</option>
                    <option value="white">White</option>
                </select>
            </div>
        </div>


        <div class="text-center mt-3">
            <!-- sample button with custom background -->
            <button type="button" class="btn btn-info brc-white-tp5 py-2 text-110 px-475 mx-15 mb-1 mb-lg-0">
                <span class="position-tl w-102 h-102 m-n1px bgc-success-tp4 opacity-5"></span>
                <span class="pos-rel">
                    Action 1
                </span>
            </button>

            <button type="button" class="btn btn-outline-white brc-white-tp3 py-2 text-110 px-475 mx-15">
                Action 2
            </button>
        </div>
    </div><!-- /.col -->


    <div class="col-12 col-md-5 order-first order-md-last mb-4 mb-md-0" data-aos="fade-left">
        <img alt="Product Image" src="assets/image/landing/preview.png" class="w-90 1mx-auto" />
    </div><!-- /.col -->
 </div><!-- /.row -->

</div><!-- /#page-intro-dark -->




<!-- the page intro for light theme -->
<div id="page-intro-light" class="d-none page-intro pos-rel bgc-primary-l4 py-2 pt-xl-4 py-xl-5 overflow-hidden">

 <!-- some random shapes -->
 <div class="d-none d-lg-block"><div class="pos-abs bgc-primary radius-round" style="opacity: 0.25;width:17px; height:17px; top:89%; left:90%;"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.36;width:15px; height:15px; top:20%; left:61%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.38;width:10px; height:10px; top:78%; left:93%;"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.2;width:12px; height:12px; top:13%; left:64%;"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.37;width:18px; height:18px; top:27%; left:88%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.31;width:15px; height:15px; top:32%; left:56%;"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.34;width:16px; height:16px; top:35%; left:90%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.36;width:17px; height:17px; top:76%; left:32%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.3;width:14px; height:14px; top:16%; left:91%;"></div><div class="pos-abs bgc-green radius-2px" style="opacity: 0.25;width:17px; height:17px; top:67%; left:96%; transform: rotate(355deg)"></div><div class="pos-abs bgc-primary radius-2px" style="opacity: 0.39;width:19px; height:19px; top:63%; left:58%; transform: rotate(325deg)"></div><div class="pos-abs bgc-orange radius-2px" style="opacity: 0.26;width:23px; height:23px; top:49%; left:58%; transform: rotate(280deg)"></div><div class="pos-abs bgc-primary radius-2px" style="opacity: 0.27;width:12px; height:12px; top:57%; left:92%; transform: rotate(354deg)"></div><div class="pos-abs brc-primary shape-triangle radius-1" style="opacity: 0.39;border-width:0 17px 27px 17px; top:14%; left:63%; transform: rotate(130deg)"></div><div class="pos-abs brc-green shape-triangle radius-1" style="opacity: 0.22;border-width:0 12px 19px 12px; top:15%; left:97%; transform: rotate(346deg)"></div><div class="pos-abs brc-orange shape-triangle radius-1" style="opacity: 0.35;border-width:0 19px 30px 19px; top:69%; left:82%; transform: rotate(319deg)"></div><div class="pos-abs brc-green shape-triangle radius-1" style="opacity: 0.31;border-width:0 19px 30px 19px; top:6%; left:29%; transform: rotate(59deg);"></div><div class="pos-abs brc-orange shape-triangle radius-1" style="opacity: 0.21;border-width:0 14px 22px 14px; top:57%; left:95%; transform: rotate(333deg)"></div><div class="pos-abs brc-primary shape-triangle radius-1" style="opacity: 0.24;border-width:0 16px 25px 16px; top:46%; left:50%; transform: rotate(33deg)"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.29;width:18px; height:18px; top:11%; left:78%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.34;width:11px; height:11px; top:10%; left:73%;"></div><div class="pos-abs bgc-orange radius-round" style="opacity: 0.31;width:17px; height:17px; top:39%; left:92%;"></div><div class="pos-abs bgc-orange radius-2px" style="opacity: 0.38;width:19px; height:19px; top:79%; left:14%; transform: rotate(339deg)"></div><div class="pos-abs bgc-primary radius-round" style="opacity: 0.21;width:14px; height:14px; top:85%; left:14%;"></div><div class="pos-abs bgc-green radius-round" style="opacity: 0.27;width:11px; height:11px; top:44%; left:15%;"></div><div class="pos-abs bgc-primary radius-2px" style="opacity: 0.25;width:13px; height:13px; top:32%; left:13%; transform: rotate(331deg)"></div></div>


 <div class="row container container-plus mx-auto mt-4 mb-5">
    <div class="col-12 col-md-7 d-flex flex-column justify-content-center text-center" data-aos="fade-right" data-aos-delay="100">
        <h1 class="text-dark-m2 pb-2 align-self-center">
            <span class="text-blue-d3">
                Our tech
            </span>

            <span class="text-90">
                makes your life easier...
            </span>
        </h1>

        <h4 class="my-3 text-dark-tp2">
            Start using this amazing app and see instant results!
        </h4>

        <h6 class="my-3 bgc-blue-d2 text-120 text-white align-self-center p-2 radius-3px">
            Or put a slideshow here ...
        </h6>

        <div class="mt-1 mb-3">
            <div class="text-uppercase text-600 text-95 text-dark-m3 mb-1">
                Get it from
            </div>

            <a href="#" class="no-underline">
               <img alt="Google Play Button" src="assets/image/landing/google-play-badge.png" width="180" />
            </a>

            <a href="#" class="no-underline">
               <img alt="Apple Store Button" src="assets/image/landing/app-store-badge.svg" width="145" />
            </a>
        </div>

        <div class="mt-0 form-group">
            <select autocomplete="off" class="theme-select col-12 col-sm-6 col-lg-5 col-xl-4 mx-auto form-control ace-select border-1 bgc-white brc-info-m1 text-dark-m3 h-auto py-1">
                <option value="" class="text-600">Change Theme/Color</option>
                <option value="" class="text-secondary-l3">_______________________</option>
                <option value="darkblue" class="text-primary-d1 text-600">Blue</option>  
                <option value="teal" class="text-green-d1 text-600">Green</option>
                <option value="purple" class="text-purple-d1 text-600">Purple</option>
                <option value="" class="text-secondary-l3">_______________________</option>
                <option value="light" class="bgc-primary-l3">Light</option>
                <option value="white">White</option>
            </select>
        </div>
    </div><!-- /.col -->

    <div class="col-12 col-md-5 order-first order-md-last mb-4 mb-md-0" data-aos="fade-left">
        <img alt="Product Image" src="assets/image/landing/preview.png" class="w-90 1mx-auto" />
    </div><!-- /.col -->
 </div><!-- /.row -->

</div><!-- /#page-intro-light -->




<div class="bgc-white"><!-- or use a different color -->

    <div class="container container-plus pos-rel mt-n5 text-center py-2">

        <div class="row mt-n4">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="row my-4">
                    <!-- features -->
                    <div class="col-12 col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="feature-item radius-2 bgc-white shadow-1 p-4 h-100">
                            <div class="d-inline-block pos-rel text-center py-2 px-3 text-150">
                                <!-- the lines beneath icon -->
                                <div class="rotate-n45 brc-purple-m4 border-t-2 w-75 position-tl mt-35 mr-1"></div>
                                <div class="rotate-n45 brc-purple-m4 border-t-3 w-90 position-br mr-1 mb-425"></div>
                                <div class="rotate-n45 brc-purple-m4 border-t-2 w-90 position-bl mb-4 ml-35"></div>

                                <i class="fa fa-rocket fa-2x text-purple-d1 pos-rel"></i>
                            </div>

                            <h3 class="text-secondary-d3 text-160 my-3">
                                Speed
                            </h3>

                            <p class="text-dark-m3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                            </p>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 mb-4  mb-md-0"  data-aos="fade-up" data-aos-delay="450">
                        <div class="feature-item radius-2 bgc-white shadow-1 p-4 h-100">
                            <div class="d-inline-block pos-rel text-center p-2 text-150">
                                <!-- the lines beneath icon -->
                                <div class="brc-blue-m4 border-t-2 w-75 position-tl mt-3 ml-n2"></div>
                                <div class="brc-blue-m4 border-t-3 w-90 position-lc ml-n1 mt-n2"></div>
                                <div class="brc-blue-m4 border-t-2 w-90 position-bl mb-4 ml-n3"></div>

                                <i class="fa fa-running fa-2x text-blue-d1 pos-rel"></i>
                            </div>

                            <h3 class="text-secondary-d3 text-160 my-3">
                                Flexibility
                            </h3>

                            <p class="text-dark-m3">
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur...
                            </p>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 mb-4 mb-md-0"  data-aos="fade-up" data-aos-delay="600">
                        <div class="feature-item radius-2 bgc-white shadow-1 p-4 h-100">
                            <div class="d-inline-block text-center p-2 text-150 pos-rel">
                                <!-- the circles beneath icon -->
                                <div class="brc-orange-m4 border-2 w-3 h-3 radius-round position-tl mt-2 ml-n1"></div>
                                <div class="brc-orange-m4 border-2 w-2 h-2 radius-round position-tr mt-n1 ml-n1"></div>
                                <div class="brc-orange-m4 border-2 w-4 h-4 radius-round position-br mb-2"></div>

                                <i class="fa fa-key fa-2x text-orange pos-rel"></i>
                            </div>

                            <h3 class="text-secondary-d3 text-160 my-3">
                                Security
                            </h3>

                            <p class="text-dark-m3">
                                Nulla vitae elit libero, a pharetra augue mollis interdum...
                            </p>
                        </div>
                        </div>

                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</div>




<div class="bgc-white"><!-- or use a different color -->

    <div class="container container-plus py-3 pos-rel">
        <!-- the large circle on right the green square on left -->
        <div data-aos="zoom-in" class="d-none d-lg-block  position-br bgc-purple-l3 mb-5 mr-5 opacity-1 radius-100" style="width: 180px; max-width: 80vw; height: 180px; max-height: 80vw;"></div>
        <div data-aos="zoom-in" class="d-none d-lg-block position-lc bgc-success-l3 opacity-1 ml-5 mt-5 radius-1" style="width: 100px; height: 100px;"></div>


        <div class="row pt-45 mt-1 mt-lg-5">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start">
                    <div class="radius-2 mt-1 mr-md-5 pos-rel" data-aos="fade">
                        <!-- the small squares -->
                        <div class="position-tl bgc-grey-l3 mt-n45 ml-n45 radius-1" style="width: 100px; height: 100px;"></div>
                        <div class="position-br bgc-brown-l3 mb-n45 mr-n45 radius-1" style="width: 110px; height: 110px;"></div>


                        <div class="overflow-hidden radius-1 pos-rel border-1 p-2px brc-secondary-l2 bgc-white">
                            <img alt="Do More" src="assets/image/landing/do-more.jpg" width="220" />
                        </div>
                    </div>


                    <div class="flex-grow-1 text-dark-tp3 mt-4 mt-md-0 ml-md-2">
                        <h3 class="text-primary-d2 my-4 text-center text-md-left" data-aos="fade-up">
                            Increase your productivity with our app
                        </h3>

                        <div data-aos="fade-up">
                            <p>
                                Justo odio, dapibus ac facilisis in, egestas eget quam.
                            </p>
                            <p>
                                Donec id elit non mi porta gravida at eget metus. 
                            </p>
                            <p>
                                Onec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                            </p>
                        </div>

                        <p class="mt-md-5" data-aos="fade-left">
                            <a href="#" class="mt-3 mt-md-4 btn btn-outline-default btn-bold btn-bgc-white">
                                Read More
                            </a>
                        </p>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>




<div class="bgc-white mt-4 mt-lg-5">

    <div class="container container-plus py-2 py-lg-4">

        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start">

                    <div class="flex-grow-1 text-dark-tp3 mt-4 mt-md-0">
                        <h3  data-aos="fade-up" class="text-primary-d2 my-4 text-center text-md-left">
                            Designed with flexibility in mind
                        </h3>

                        <div data-aos="fade-up">
                            <p>
                                Onec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                Justo odio, dapibus ac facilisis in, egestas eget quam.
                            </p>
                            <p>
                                Justo odio, dapibus ac facilisis in, egestas eget quam.
                            </p>
                            <p>
                            Donec id elit non mi porta gravida at eget metus.
                            </p>
                        </div>

                        <p class="mt-md-5" data-aos="fade-right">
                            <a href="#" class="md-3 mt-md-4 btn btn-outline-default btn-bold btn-bgc-white">
                                Read More
                            </a>
                        </p>
                    </div>


                    <div class="radius-2 mt-1 ml-md-5 pos-rel order-first order-md-last"  data-aos="fade-left">
                        <!-- the small circles -->
                        <div class="position-tr bgc-primary-l3 mt-n45 mr-n45 radius-100" style="width: 80px; max-width: 80vw; height: 80px; max-height: 80vw;"></div>
                        <div class="position-bl bgc-orange-l3 mb-n5 ml-n45 radius-100" style="width: 100px; max-width: 80vw; height: 100px; max-height: 80vw;"></div>

                        <div class="overflow-hidden radius-1 pos-rel border-1 p-2px brc-secondary-l2 bgc-white">
                            <img alt="Be Flexible" src="assets/image/landing/be-flexible.jpg" width="220" />
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>




<!-- the 3 tabs ... So why is everybody choosing us? -->
<div class="bgc-white">
    <div class="container container-plus py-35">
        <hr class="brc-secondary-l3 my-4 my-lg-5" />

        <div class="row">
            <div class="col-12 col-lg-8 mx-auto text-center">
                <h3 class="text-dark-l1 mb-4 mt-2 text-180" data-aos="fade-up">
                    So why is everybody choosing us?
                </h3>

                <ul class="d-flex flex-column flex-sm-row d-md-inline-flex nav nav-fill nav-tabs nav-tabs-static mx-n3 mx-md-0 py-1 px-1 px-md-0" role="tablist">
                    <li data-aos="fade-up" data-aos-delay="200" class="nav-item mr-2px mb-1">
                        <a data-toggle="tab" href="#reason1" class="active btn border-1 radius-round py-2 px-35 btn-outline-secondary btn-h-light-green btn-a-green" role="tab" aria-selected="true">
                            State of the art
                        </a>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300" class="nav-item mx-2px mb-1">
                        <a data-toggle="tab" href="#reason2" class="btn border-1 radius-round py-2 px-35 btn-outline-secondary btn-h-light-orange btn-a-orange" role="tab" aria-selected="false">
                            Responsive
                        </a>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400" class="nav-item mx-2px mb-1">
                        <a data-toggle="tab" href="#reason3" class="btn border-1 radius-round py-2 px-35 btn-outline-secondary btn-h-light-blue btn-a-blue" role="tab" aria-selected="false">
                            Ease of use
                        </a>
                    </li>
                </ul><!-- /.nav-tabs -->


                <div data-aos="fade-up" data-aos-delay="300" class="tab-content tab-sliding text-left border-0 mt-5 px-0">

                    <div class="tab-pane px-3 active show" id="reason1">
                        <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start">
                            <div class="flex-grow-1 text-dark-tp3 mt-4 mt-md-0">
                                <h3 class="text-140 text-secondary-d3 text-center text-md-left mt-md-4">
                                    Our tech is bleeding edge and reliable!
                                </h3>

                                <ul class="list-unstyled ml-3 mt-4">
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-green mr-1"></i>
                                        Onec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                    </li>
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-green mr-1"></i>
                                        Justo odio, dapibus ac facilisis in, egestas eget quam.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right text-125 text-green mr-1"></i>
                                        Donec id elit non mi porta gravida at eget metus.
                                    </li>
                                </ul>
                            </div>

                            <div class="d-flex flex-nowrap order-first order-md-last ml-md-4">
                                <!-- the 3 mobile dashboard images -->
                                <div class="mx-n2">
                                    <div class="radius-2 shadow-sm border-1 p-2px brc-default-l2 bgc-white">
                                        <div class="overflow-hidden radius-1">
                                            <img alt="Product image 1" src="assets/image/landing/mobile-dash2.png" height="220" />
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-n2 pos-rel mt-n25">
                                    <div class="radius-2 shadow-sm border-1 p-2px brc-default-l2 bgc-white">
                                        <div class="overflow-hidden radius-1">
                                            <img alt="Product image 2" src="assets/image/landing/mobile-dash1.png" height="220" />
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-n2">
                                    <div class="radius-2 shadow-sm border-1 p-2px brc-default-l2 bgc-white">
                                        <div class="overflow-hidden radius-1">
                                            <img alt="Product image 3" src="assets/image/landing/mobile-dash3.png" height="220" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->


                    <div class="tab-pane px-3" id="reason2">
                        <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start">
                            <div class=" mr-md-4 ">
                                <div class="overflow-hidden radius-1">
                                    <img alt="Product image 4" src="assets/image/landing/ipad.png" height="250" />
                                </div>
                            </div>

                            <div class="flex-grow-1 text-dark-tp3 mt-4 mt-md-0">
                                <h3 class="text-140 text-secondary-d3 text-center text-md-left mt-md-4">Fully responsive!</h3>
                                <ul class="list-unstyled ml-3 mt-4">
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-orange mr-1"></i>
                                        Donec id elit non mi porta gravida at eget metus.
                                    </li>
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-orange mr-1"></i>
                                        Onec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right text-125 text-orange mr-1"></i>
                                        Justo odio, dapibus ac facilisis in, egestas eget quam.
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->


                    <div class="tab-pane px-3" id="reason3">
                        <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start">
                            <div class="flex-grow-1 text-dark-tp3 mt-4 mt-md-0">
                                <h3 class="text-140 text-secondary-d3 text-center text-md-left mt-md-4">
                                    Very easy to use!
                                </h3>

                                <ul class="list-unstyled ml-3 mt-4">
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-blue mr-1"></i>
                                        Onec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                                    </li>
                                    <li class="mb-3">
                                        <i class="fa fa-caret-right text-125 text-blue mr-1"></i>
                                        Justo odio, dapibus ac facilisis in, egestas eget quam.
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right text-125 text-blue mr-1"></i>
                                        Donec id elit non mi porta gravida at eget metus.
                                    </li>
                                </ul>
                            </div>

                            <div class="radius-2 ml-md-4 shadow-sm border-1 p-2px brc-default-l2 bgc-white order-first order-md-last">
                                <div class="overflow-hidden radius-1">
                                    <img alt="Product image 5" src="assets/image/landing/layout-code.png"  width="320" />
                                </div>
                            </div>
                       </div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>




<!-- Other features -->
<div class="d-none">
    <div class="container container-plus pb-45">
        <hr class="brc-secondary-l3 mb-4" />

        <div class="row">
            <div class="col-lg-8 mx-auto">
                 <div class="text-center">
                    <h2 class="text-grey-d3 text-160 mb-45">And other cool features</h2>
                </div>

                <div class="row">
                    <div class="col-4 offset-2">
                        <ul class="list-unstyled text-120 text-white">
                            <li class="mb-2 bgc-info-d2 px-35 py-25">
                                <i class="w-5 far fa-clock text-170 align-middle mr-2"></i>
                                <span class="align-middle">24/7 Support</span>
                            </li>

                            <li class="mb-2 bgc-info-d2 px-35 py-25">
                                <i class="w-5 fa fa-code text-170 align-middle mr-2"></i>
                                <span class="align-middle">Fully Documented</span>
                            </li>

                            <li class="mb-2 bgc-info-d2 px-35 py-25">
                                <i class="w-5 fa fa-dice-d6 text-170 align-middle mr-2"></i>
                                <span class="align-middle">Secure Backups</span>
                            </li>
                        </ul>
                    </div>


                    <div class="col-4">
                        <ul class="list-unstyled text-120 text-white">
                            <li class="mb-2 bgc-info-d2 text-white px-35 py-25">
                                <i class="w-5 fa fa-redo text-170 align-middle mr-2"></i>
                                <span class="align-middle">Regular Updates</span>
                            </li>

                            <li class="mb-2 bgc-info-d2 px-35 py-25">
                                <i class="w-5 fa fa-eye text-170 align-middle mr-2"></i>
                                <span class="align-middle">Maximum Privacy</span>
                            </li>

                            <li class="mb-2  bgc-info-d2 px-35 py-25">
                                <i class="w-5 fa fa-rocket text-170 align-middle mr-2"></i>
                                <span class="align-middle">Unmatched Speed</span>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>





<div class="bgc-primary-l3">
    <div class="container container-plus py-45">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <h3 class="text-center text-dark-m3 mb-4 mb-md-5" data-aos="fade-up">
                    Testimonials
                </h3>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 mb-2 mb-md-0 minh-100" data-aos="fade-up" data-aos-delay="50">
                        <div class="text-center bgc-white p-45 radius-1 shadow-md minh-100 d-flex flex-column">
                            <div class="mt-md-n2 mb-3">
                                <img alt="Customer avatar" src="assets/image/avatar/avatar1.jpg" class="mt-md-n5 radius-round border-2 brc-default-m1 p-2px shadow-md" />
                            </div>

                            <h4 class="mb-15">
                                Perfect timing
                            </h4>

                            <div>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-grey-l3"></i>
                            </div>

                            <p class="mt-2 text-dark-tp3 text-95">
                                Lorem ipsum dolor sit amet.
                                <br />
                                Adipiscing elit nam at lacus at augue aliquet posuere.
                                <br />
                                Eliquam fringilla elementum varius.
                            </p>

                            <p class="text-600 mb-0 mt-auto">
                                Jason Wells
                            </p>
                        </div>
                    </div><!-- /.col -->


                    <div class="col-12 col-md-4 mb-2 mb-md-0 minh-100" data-aos="fade-up" data-aos-delay="150">
                        <div class="text-center bgc-white p-45 radius-1 shadow-md minh-100 d-flex flex-column">
                            <div class="mt-md-n2 mb-3">
                                <img alt="Customer avatar" src="assets/image/avatar/avatar2.jpg" class="mt-md-n5 radius-round border-2 brc-default-m1 p-2px shadow-md" />
                            </div>

                            <h4 class="mb-15">
                                Cost effective
                            </h4>

                            <div>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                            </div>

                            <p class="mt-2 text-dark-tp3 text-95">
                                Lorem ipsum dolor sit amet.
                                <br />
                                Eliquam fringilla elementum varius.
                            </p>

                            <p class="text-600 mb-0 mt-auto">
                                Alex Wizard 
                            </p>
                        </div>
                    </div><!-- /.col -->


                    <div class="col-12 col-md-4 mb-2 mb-md-0 minh-100" data-aos="fade-up" data-aos-delay="250">
                        <div class="text-center bgc-white p-45 radius-1 shadow-md minh-100 d-flex flex-column">
                            <div class="mt-md-n2 mb-3">
                                <img alt="Customer avatar" src="assets/image/avatar/avatar3.jpg" class="mt-md-n5 radius-round border-2 brc-default-m1 p-2px shadow-md" />
                            </div>
                            
                            <h4 class="mb-15">
                                Blazingly fast
                            </h4>

                            <div>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-orange"></i>
                                <i class="fa fa-star text-grey-l3"></i>
                            </div>

                            <p class="mt-2 text-dark-tp3 text-95">
                                Adipiscing elit nam at lacus at augue aliquet posuere.
                                <br />
                                Eliquam fringilla elementum varius.
                            </p>

                            <p class="text-600 mb-0 mt-auto">
                                Alice Summer
                            </p>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</div>




<div class="pb-3">
    <div class="container container-plus py-5">
        <h3 class="text-center text-dark-tp3 text-160 mb-2 mb-md-4 mb-lg-5" data-aos="fade-down">
            Our Packages
        </h3>

        <div>
            {{> page/pricing}}
        </div>
    </div>
</div>




<div class="navbar-darkblue pos-rel">
    <div class="container container-plus py-5 px-lg-5">
        <div class="row">
          <div class="col-lg-6 col-xl-5 mx-auto" data-aos="fade-up">
            <h3 class="text-white text-center text-180 mb-3">
                Sign up for our newsletter
            </h3>

            <p class="text-white-tp1 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
            </p>

            <div>
                <div class="px-0 col-12 col-sm-8 col-lg-10 mx-auto radius-round bgc-white input-group">
                    <input placeholder="Your email address" type="text" class="form-control form-control-lg radius-round shadow-none border-0 text-dark" />
                    <a href="#" class="btn radius-round btn-pink text-600 text-110 px-4 m-3px">
                        Join
                    </a>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>





<div class="footer h-auto">
 <div class="footer-inner py-45">
  <div class="container container-plus" data-aos="fade">
    <div class="row">
        <div class="col-12 col-lg-5">
            <h2 class="text-dark-m3">
                <i class="fa fa-leaf text-85 mr-1 text-success-m1"></i>
                ACE
                <span class="text-75 text-dark-l2">Application</span>
            </h2>

            <p class="text-90">
                Praesent commodo cursus magna!
            </p>
            
            <div class="text-150 mt-2">
                <i class="bgc-blue-m1 p-25 w-6 radius-round fab fa-twitter text-white mx-1"></i>
                <i class="bgc-primary-d2 p-25 w-6 radius-round fab fa-facebook-square text-white mx-1"></i>
                <i class="bgc-purple p-25 w-6 radius-round fab fa-instagram text-white mx-1"></i>
            </div>        
        </div>

        <div class="col-12 col-lg-7 mt-5 mt-lg-0">
            <div class="row text-center text-lg-left">
                <div class="col-4 ">
                    <h6 class="text-dark-tp3 text-95 text-600 mb-3">ABOUT</h6>
                    <div>
                        <a href="#" class="text-dark-tp4">Link 1</a>
                        <br />
                        <a href="#" class="text-dark-tp4">Link 2</a>
                    </div>
                </div>

                <div class="col-4">
                    <h6 class="text-dark-tp3 text-95 text-600 mb-3">PRODUCTS</h6>
                    <div>
                        <a href="#" class="text-dark-tp4">Product 1</a>
                        <br />
                        <a href="#" class="text-dark-tp4">Product 2</a>
                        <br />
                        <a href="#" class="text-dark-tp4">Product 3</a>
                    </div>
                </div>

                <div class="col-4">
                    <h6 class="text-dark-tp3 text-95 text-600 mb-3">CONTACT</h6>
                    <div>
                        <a href="#" class="text-dark-tp4">Email</a>
                        <br />
                        <a href="#" class="text-dark-tp4">Phone</a>
                        <br />
                        <a href="#" class="text-dark-tp4">Address</a>
                    </div>
                </div>
            </div>            
        </div>
    </div><!-- /.row -->
   
  </div><!-- /.container -->
 </div><!-- /.footer-inner -->
</div><!-- /.footer -->



<div class="text-center py-4 bgc-primary-l4 border-t-1 brc-primary-l3">
    <span class="text-dark-m3 text-105">
        Copyright &copy; 2021 Ace Company
    </span>
</div>



<div class="footer-tools">
   <a href="#" class="btn-scroll-up btn btn-dark px-25 py-2 text-95 border-2 radius-round mb-2 mr-2">
      <i class="fa fa-arrow-up w-2 h-2"></i>
   </a>
</div>