 <div class="row col-lg-10 d-flex justify-content-center mx-1 mx-lg-auto mt-3">

    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 dh-zoom-1">
        <!-- Basic -->
        <div data-aos="fade-right" data-aos-delay="200" class="d-style btn btn-outline-default btn-h-outline-blue btn-a-outline-blue bgc-white w-100 border-none border-t-3 radius-b-1 my-2 p-0 pt-2 shadow">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="pt-1 pb-15 px-4 radius-4 text-110 bgc-blue-l3 text-blue-d3 my-3 radius-1">
                    Basic
                </h4>

                <div class="text-secondary-d2 text-130">
                    $<span class="text-200">10</span> / month
                </div>

                <hr class="w-90 my-4 brc-secondary-l3" />

                <div class="text-grey text-90 w-100">
                    <ul class="list-unstyled text-left m-0">
                        <li class="mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span>
                                <span class="text-110">Donec id elit.</span>
                                Fusce dapibus...
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110 ">
                                Placerat duis
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-times text-danger-m3 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Tortor mauris
                            </span>
                        </li>

                        <li class="mt-45">
                            <a href="#" class="d-hover btn radius-0 btn-blue py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                            <a href="#" class="d-n-hover btn radius-0 btn-default py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>                            
                        </li>
                    </ul>
                </div>
          
            </div>

        </div>
    </div>



    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 dh-zoom-1 mt-lg-n3">
        <!-- Pro -->
        <div data-aos="fade" data-aos-delay="100" class="d-style active btn btn-outline-default btn-h-outline-green btn-a-outline-green bgc-white w-100 border-none border-t-3 radius-b-1 my-2 p-0 pt-2 shadow">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="pt-1 pb-15 px-4 radius-4 text-110 bgc-green-l2 text-green-d3 my-3 radius-1">
                    Pro
                </h4>

                <div>
                    <div>
                        <s class="text-danger-m3">$<span class="text-110">30</span> / month</s>
                    </div>
                    <div class="text-130">
                        <span class="text-green-d2">$<span class="text-200">20</span> / month</span>
                    </div>
                </div>

                <span class="mt-2 badge badge-lg bgc-orange-d1 text-white brc-orange-d1 arrowed-in arrowed-in-right">Special offer</span>

                <hr class="w-90 my-4 brc-secondary-l3" />

                <div class="text-grey text-90 w-100">
                    <ul class="list-unstyled text-left m-0">
                        <li class="mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110 text-1">
                                Everything in Basic...
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Non diam phasellus
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Sed adipiscing diam
                            </span>
                        </li>

                        <li class="mt-45">
                            <a href="#" class="btn radius-0 btn-green py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>



    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 px-2 dh-zoom-1">
        <!-- Max -->
        <div data-aos="fade-left" data-aos-delay="200" class="d-style btn btn-outline-default btn-h-outline-purple btn-a-outline-purple bgc-white w-100 border-none border-t-3 radius-b-1 my-2 p-0 pt-2 shadow">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="pt-1 pb-15 px-4 radius-4 text-110 bgc-purple-l3 text-purple-d3 my-3 radius-1">
                    Max
                </h4>

                <div class="text-secondary-d2 text-130">
                    $<span class="text-200">50</span> / month
                </div>

                <hr class="w-90 my-4 brc-secondary-l3" />

                <div class="text-grey text-90 w-100">
                    <ul class="list-unstyled text-left m-0">
                        <li class="mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Everything in Pro...
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                In fermentum et
                            </span>
                        </li>

                        <li class="mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-1 mt-1"></i>
                            <span class="text-110">
                                Molestie nunc non
                            </span>
                        </li>

                        <li class="mt-45">
                            <a href="#" class="d-hover btn radius-0 btn-purple py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                            <a href="#" class="d-n-hover btn radius-0 btn-default py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>                            
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>

</div><!-- ./row -->