<div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
    <div class="d-flex align-items-center bgc-green-d3 py-3" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
            <i class="pos-abs mt-n2px ml-n3px fa fa-dollar-sign text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
            <i class="pos-rel fa fa-dollar-sign text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
            <div>
                <span class="text-160 text-600">$125,290</span>
                <i class="fa fa-arrow-up ml-2"></i>
            </div>
            <div class="text-uppercase text-85 text-600 letter-spacing">
                Revenue
            </div>
        </div>

    </div>
</div>


<div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
    <div class="d-flex align-items-center bgc-primary-d3 py-3 border-l-3 brc-white-tp2" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
            <i class="pos-abs mt-n1 ml-n1 fa fa-shopping-basket text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
            <i class="pos-rel fa fa-shopping-basket text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
            <div>
                <span class="text-160 text-600">$23,500</span>
                <i class="fa fa-arrow-down ml-2"></i>
            </div>
            <div class="text-uppercase text-85 text-600 letter-spacing">
                Spendings
            </div>
        </div>

    </div>
</div>


<div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
    <div class="d-flex align-items-center bgc-purple-d2 py-3 border-l-3 brc-white-tp2" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
            <i class="pos-abs mt-n1 fa fa-clipboard text-dark-tp5 opacity-4 w-5 h-5 text-center pt-1 fa-2x"></i>
            <i class="pos-rel fa fa-check text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
            <div>
                <span class="text-160 text-600">20</span>
                <i class="fa fa-plus text-white ml-1"></i>
            </div>
            <div class="text-uppercase text-85 text-600 letter-spacing">
                Completed Tasks
            </div>
        </div>

    </div>
</div>


<div class="col-12 col-sm-6 col-lg-3 my-1 my-lg-0 px-sm-1 px-lg-0">
    <div class="d-flex align-items-center bgc-default-d3 py-3 border-l-3 brc-white-tp2" role="button">

        <div class="pos-rel p-3 bgc-white-tp8 radius-round ml-3 mr-3 shadow-md">
            <i class="pos-abs mt-n2px ml-n3px fa fa-retweet text-dark-tp5 opacity-5 w-5 h-5 text-center pt-1 text-170"></i>
            <i class="pos-rel fa fa-retweet text-white w-5 h-5 text-center pt-1 text-170"></i>
        </div>

        <div class="text-white">
            <div>
                <span class="text-160 text-600">65%</span>
                <i class="fa fa-arrow-right text-white ml-2"></i>
            </div>
            <div class="text-uppercase text-85 text-600 letter-spacing">
                Conversion Rate
            </div>
        </div>

    </div>
</div>