<div class="page-header text-blue-d2">
    <h1 class="pb-0 mb-3 mb-md-0 text-140">
        {{title}}
    </h1>
</div>

<div>
    <button type="button" class="btn btn-blue d-none d-xl-inline-block" id="id-btn-sidebar-right">
        Move Sidebar to Right
        <i class="fa fa-hand-point-right text-130 ml-1"></i>
    </button>
</div>

<div style="height: 150vh;">
    <!-- empty element to add scrollbars to document, to see sticky menu -->
</div>
