
<div class="row mt-3 mt-lg-4">
  <div class="col-12 col-md-6">
	<div class="acard card h-100">
		<div class="card-header pb-15">
			<h5 class="card-title">
				Default Buttons
			</h5>

			<div class="card-toolbar no-border">
				<button id="id-ripple" class="btn btn-lighter-primary text-90 letter-spacing text-600 px-3">
					Enable Ripple Effect
				</button>
			</div><!-- /.card-toolbar -->
		</div>

		<div class="card-body">
			<p class="mt-2 mt-lg-4">
				<button class="btn px-4 btn-primary mb-1">Primary</button>
				<button class="btn px-4 btn-secondary mb-1">Secondary</button>
				<button class="btn px-4 btn-info mb-1">Info</button>
				<button class="btn px-4 btn-success mb-1">Success</button>
			</p>

			<p>
				<button class="btn px-4 btn-warning radius-0 mb-1">Warning</button>
				<button class="btn px-4 btn-danger radius-round mb-1">Danger</button>
				<button class="btn px-45 btn-dark radius-round mb-1">Dark</button>
				<button class="btn px-4 btn-light mb-1">Light</button>
			</p>

			<div class="text-center">
				<a href="#id-more-buttons" class="d-style px-4 btn btn-white collapsed" data-toggle="collapse" aria-expanded="false">
					<span class="d-collapsed">
						More Buttons
						<i class="fa fa-angle-double-down ml-35"></i>
					</span>
					<span class="d-n-collapsed text-600">
						Less Buttons
						<i class="fa fa-angle-double-up ml-4"></i>
					</span>				
				</a>

				<div id="id-more-buttons" class="collapse py-0 text-left">				

					<div class="my-3 alert bgc-secondary-l3 text-dark-tp2 border-none radius-0 border-l-3 brc-secondary-m2" role="alert">
						You can remove unneeded button colors from your CSS file as described in docs!
					</div>

					<p class="pt-3">
						<button class="btn px-4 btn-default mb-1">Default</button>
						<button class="btn px-4 btn-grey mb-1">Grey</button>
						<button class="btn px-4 btn-yellow mb-1">Yellow</button>
					</p>

					<p>
						<button class="btn px-4 btn-purple mb-1">Purple</button>
						<button class="btn px-4 btn-pink mb-1">Pink</button>
						<button class="btn px-4 btn-brown mb-1">Brown</button>						
					</p>

					<p class="pb-0">
						<button class="btn px-4 btn-blue mb-1">Blue</button>
						<button class="btn px-4 btn-red mb-1">Red</button>
						<button class="btn px-4 btn-green mb-1">Green</button>
						<button class="btn px-4 btn-orange mb-1">Orange</button>
					</p>

					<p class="pb-0">
						<button class="btn px-4 btn-white mb-1">White</button>
						<button class="btn px-4 btn-black mb-1">Black</button>
						<button class="btn px-4 btn-lightgrey mb-1">Lightgrey</button>
					</p>

					<hr />

						<div class="mt-3 alert bgc-secondary-l3 radius-0 text-dark-tp2 border-none border-l-3 brc-purple-m1" role="alert">
							By combining existing HTML elements without any extra CSS, you can have new button colors!
						</div>

						<button type="button" class="btn btn-purple overflow-hidden mb-1">
							<span class="bgc-primary-tp4 opacity-5 position-tl h-100 w-100"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>

						<button type="button" class="btn btn-yellow border-0 text-dark-tp3 overflow-hidden mb-1">
							<span class="bgc-blue-tp4 opacity-5 position-tl h-100 w-100"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>

						<button type="button" class="btn btn-green brc-transparent mb-1">
							<span class="bgc-red-tp4 opacity-4 position-tl h-102 w-102 m-n1px radius-3px"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>

						<button type="button" class="btn btn-primary mb-1">
							<span class="bgc-dark-tp4 opacity-3 position-tl h-102 w-102 m-n1px radius-3px"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>

						<button type="button" class="btn btn-blue btn-h-purple btn-a-purple mb-1">
							<span class="bgc-green-tp2 opacity-4 position-tl h-102 w-102 m-n1px radius-3px"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>

						<button type="button" class="btn btn-danger mb-1">
							<span class="bgc-orange-tp4 opacity-4 position-tl h-102 w-102 m-n1px radius-3px"></span>
							<span class="pos-rel">
								New Color
							</span>
						</button>
				</div>
			</div>

			<hr class="border-none border-t-3 brc-grey-l2 border-double" />

			<p>
				<a href="#" class="btn btn-link text-primary-d1">Link</a>
				<a href="#" class="btn btn-link text-purple-d1">Purple</a>
				<a href="#" class="btn btn-link text-orange-d2">Warning</a>
			</p>

			<p>
				<a href="#" class="text-primary-d2 bgc-h-primary-l3 radius-1 px-1">
					Some Long Text
				</a>
				<a href="#" class="bgc-h-blue-l3 text-dark-tp2 no-underline radius-3px px-3 py-2px">
					Link 2
				</a>
			</p>

		</div><!-- /.card-body -->
	</div><!-- /.card -->
  </div><!-- /.col -->


  <div class="col-12 col-md-6 mt-3 mt-md-0">
	<div class="acard card p-0 h-100">
		<div class="card-header pt-2">
			<h5 class="card-title text-120 pt-2 pb-0">
				Outline &amp; Light Buttons
			</h5>
		</div>

		<div class="card-body">

			<p class="mt-2 mt-lg-4">
				<button type="button" class="btn px-4 btn-outline-primary mb-1">Primary</button>
				<button type="button" class="btn px-4 btn-outline-secondary mb-1">Secondary</button>
				<button type="button" class="btn px-4 btn-outline-info mb-1">Info</button>
				<button type="button" class="btn px-4 btn-outline-success mb-1">Success</button>
			</p>

			<p>
				<button type="button" class="btn px-4 btn-outline-warning mb-1">Warning</button>
				<button type="button" class="btn px-4 btn-outline-danger mb-1">Danger</button>
				<button type="button" class="btn px-4 btn-outline-purple mb-1">Purple</button>
				<button type="button" class="btn px-4 btn-outline-lightgrey mb-1">Lightgrey</button>
			</p>

			<hr class="border-dotted my-4" />

			<p class="mt-3">
				<button class="btn px-4 btn-light-primary font-bolder letter-spacing mb-1">Primary</button>
				<button class="btn px-4 btn-light-success font-bolder btn-brc-tp mb-1">Success</button>
				<button class="btn px-4 btn-light-warning btn-text-dark mb-1">Warning</button>
				<button class="btn px-4 btn-light-purple mb-1">Purple</button>
			</p>

			<p>
				<button class="btn px-4 btn-lighter-primary text-600 letter-spacing mb-1">Lighter</button>
				<button class="btn px-4 btn-lighter-success text-600 letter-spacing mb-1">Success</button>				
				<button class="btn px-4 btn-lighter-yellow mb-1">Yellow</button>
				<button class="btn px-4 btn-lighter-purple mb-1">Purple</button>
			</p>
		</div><!-- /.card-body -->
	</div><!-- /.card -->
  </div><!-- /.col -->

</div><!-- .row -->





<div class="row mt-45">
  <div class="col-md-6">
	<div class="acard card p-0">
		<div class="card-header">
			<h5 class="card-title text-125 pl-1">
				<span class="pos-rel">
					<i class="fa fa-palette text-brown-l4 text-120 mr-1"></i>

					<!-- the color dots on the palette -->
					<span class="p-2px radius-1 bgc-red-d2 position-bl" style="margin-bottom: 11px; margin-left: 2px;"></span>
					<span class="p-2px radius-1 bgc-blue-d2 position-bl" style="margin-bottom: 17px; margin-left: 3px;"></span>
					<span class="p-2px radius-1 bgc-green-d2 position-tc" style="margin-top: 3px; margin-left: -5px;"></span>
					<span class="p-2px radius-1 bgc-dark-d2 position-tr" style="margin-top: 6px; margin-right: 13px;"></span>
				</span>

				<span class="text-105 text-purple-d3">
					Combining states
				</span>
			</h5>
		</div>

		<div class="card-body">
			<div class="alert bgc-secondary-l4 radius-0 text-dark-tp2 border-none border-l-3 brc-primary-m1" role="alert">
            	You can have different button colors for
				<i><u>default</u></i>,				
				<i><u>hover</u></i> and
				<i><u>active</u></i>
				states
            </div>

			<p class="mt-2">
				<button type="button" class="btn btn-grey btn-h-primary btn-a-purple px-45 mb-1">
					Different Colors For Different States
				</button>

				<button type="button" class="btn btn-lighter-default btn-h-outline-red btn-a-red px-45 btn-bold mb-1">
					Light Button
				</button>
			</p>

			<div class="mt-45 alert bgc-secondary-l4 radius-0 text-dark-tp2 border-none border-l-3 brc-green-m1" role="alert">
            	Buttons can become outlined when
				<i><u>hovered</u></i>
				or
				<i><u>active</u> (i.e. clicked)</i>
            </div>

			<p class="mt-2">
				<button type="button" class="btn btn-success btn-h-outline-success btn-a-outline-success mb-1 px-4">
					Outline on Hover
				</button>

				<button type="button" class="btn btn-lightgrey btn-h-info btn-a-outline-info border-2 mb-1 px-4 letter-spacing">
					Outline on Active
				</button>
			</p>

			<div class="mt-45 alert bgc-secondary-l4 radius-0 text-dark-tp2 border-none border-l-3 brc-orange-m1" role="alert">
            	Text color can be different from border or background color
            </div>

			<p class="mt-1">
				<button type="button" class="btn btn-lighter-grey btn-bgc-tp btn-text-blue btn-h-blue btn-a-blue px-4 mb-1">				
					Different Text Colors
				</button>

				<button type="button" class="btn btn-light-warning btn-bgc-white btn-text-dark btn-h-warning btn-a-warning px-4 text-600 mb-1">
					Cancel
				</button>

				<button type="button" class="btn btn-sm btn-outline-blue border-2 btn-text-dark btn-h-blue btn-a-blue px-4 mb-1">
					See More
				</button>

				<button type="button" class="btn btn-sm btn-light-lightgrey btn-h-light-green btn-h-text-black btn-a-green btn-bold px-4 mb-1">
					One More
				</button>
			</p>

			<hr class="border-dotted my-3" />

			<p class="mt-1">
				<button class="btn btn-lighter-grey btn-brc-tp btn-f-brc-tp btn-text-green btn-h-lighter-green btn-a-green font-bolder px-4 border-2 mb-1">
					No Border by Default
				</button>

				<button type="button" class="btn btn-bold btn-outline-primary btn-h-primary fs--outline border-0 btn-a-primary radius-0 px-35 mb-1">
					Transparent Button
				</button>

				<button type="button" class="btn btn-outline-primary btn-h-outline-primary fs--outline btn-a-primary btn-brc-tp px-45 mb-1">
					Transparent Button
				</button>
			</p>

			<hr class="border-dotted my-3" />

			<p class="mt-1">
				<button type="button" class="btn btn-primary btn-raised py-2 px-25 text-105 mb-1">
					.btn-raised
				</button>

				<button type="button" class="btn btn-secondary btn-h-raised py-2 px-25 text-105 mb-1">
					Raised on Hover
				</button>

				<button type="button" class="btn btn-success fs--raised py-2 px-25 text-105 mb-1">
					Raised on Focus
				</button>
			</p>
		</div><!-- ./card-body -->
	</div><!-- ./card -->
  </div><!-- ./col -->



  <div class="col-md-6 mt-3 mt-md-0">
	<div class="bcard card p-0 h-100 bg-dark">
		<div class="card-header brc-white-tp10 pb-2">
			<h5 class="card-title text-120 text-white pl-1">
				On a Dark Background
			</h5>
		</div>

		<div class="card-body">
			<p class="mt-2">
				<button type="button" class="btn brc-white-tp5 btn-white btn-h-pink btn-a-primary px-45">
					Different Colors For Different States
				</button>
			</p>

			<p class="mt-1">
				<button type="button" class="btn btn-success btn-h-outline-white btn-a-outline-white border-2 px-45 font-bolder">
					Outline on Hover
				</button>
			</p>

			<p class="mt-1">
				<button type="button" class="btn btn-outline-white text-white btn-h-outline-yellow btn-a-outline-yellow px-4 text-600 letter-spacing">
					Another Outline
				</button>
			</p>

			<p class="mt-1">
				<button type="button" class="btn btn-bold btn-outline-white btn-text-white btn-h-text-red btn-a-warning">
					White Outline
				</button>
			</p>

			<p class="mt-4">
				<button type="button" class="btn btn-blue btn-h-white btn-h-brc-tp btn-a-yellow px-45 radius-round">
					Blue / White / Yellow
				</button>
			</p>

			<p class="mt-1">
				<button type="button" class="btn btn-bold btn-outline-primary btn-h-primary btn-a-primary btn-brc-tp fs--outline text-white px-3 rounded-0">
					Transparent Button
				</button>
			</p>

			<p class="mt-1">
				<button type="button" class="btn btn-bold btn-light-primary btn-h-light-danger px-4">
					Light Button
				</button>
			</p>
		</div><!-- ./card-body -->
	</div><!-- ./card -->
  </div><!-- ./col -->

</div><!-- ./row -->






<div class="row mt-425 pt-2 pt-lg-4">
	<div class="col-md-6">
		<div class="acard card p-0">
			<div class="card-header">
				<h5 class="card-title">
					Sliding Text & Icons
				</h5>
			</div>

			<div class="card-body pt-45">
				<button class="btn btn-default btn-h-green btn-a-green btn-text-slide btn-bold-down px-45 text-120 mb-1">
					<span class="btn-text-1">
						Hover Me
					</span>

					<span class="btn-text-2">
						Click Now
					</span>
				</button>

				<button class="btn btn-purple btn-text-slide btn-bold-down px-45 text-120 mb-1">
					<span class="btn-text-1 move-right">
						Text Out
					</span>

					<span class="btn-text-2 move-right">
						Text In
					</span>
				</button>


				<hr class="brc-transparent my-4" />


				<button class="btn btn-outline-info btn-text-slide-x mb-1" style="width: 8rem;"><!-- width should be fixed -->
					<!-- there should be no `space` between text and icon , for better results -->
					Continue<i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2"></i>
				</button>


				<button class="btn btn-success radius-1 border-b-2 px-0 py-2px btn-bold btn-text-slide-x mb-1" style="width: 8.5rem;"><!-- width should be fixed -->
					<span class="btn-text-2 move-right">
						<span class="d-inline-block bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-1 border-1">
							<i class="fa fa-arrow-right text-white-tp2 text-110 mt-3px"></i>
						</span>
					</span>Continue
					<!-- there should be no `space` between text and icon , for better results -->
				</button>


				<button class="btn btn-outline-purple btn-text-slide-x mb-1">
					<i class="btn-text-2  move-left fa fa-arrow-left text-120 align-text-bottom mr-2"></i>Go Back
				</button>


				<hr class="brc-transparent my-4" />


				<button class="btn btn-secondary btn-h-success btn-a-success btn-xlg btn-text-slide-y direction-reverse py-3 rounded-lg mb-1">
					<i class="fa fa-check fa-2x px-2 btn-text-1 mt-n1"></i>
					<span class="text-75 btn-text-2 font-bolder mt-2px">
						CONFIRM?
					</span>
				</button>


				<button class="btn btn-grey btn-h-danger btn-a-danger px-3 btn-text-slide-y pt-2 pb-3 mb-1">
					<i class="fa fa-trash-alt text-130 px-2 btn-text-1 mt-1"></i>
					<span class="text-95 text-600 btn-text-2">
						Delete?
					</span>
				</button>


				<button class="btn text-105 btn-default btn-h-orange btn-a-orange btn-text-slide-y p-25 mb-1">
					<span class="btn-text-1">
						<i class="fa fa-envelope text-130 px-2"></i>
					</span>
					<span class="text-85 text-600 btn-text-2 mb-1">
						Send?
					</span>
				</button>


				<button class="btn btn-red btn-text-slide-y btn-text-appear2 p-3 px-4 mb-1">
					<i class="fa fa-upload text-130 px-0 btn-text-1"></i>
					<span class="text-90 font-bolder btn-text-2 btn-text-fade mb-2px">
						UPLOAD
					</span>
				</button>
			</div><!-- ./card-body -->
		</div><!-- ./card -->
	</div><!-- ./col -->



	<div class="col-md-6 mt-3 mt-md-0">
		<div class="acard card p-0">
			<div class="card-header">
				<h5 class="card-title">
					Button with Icons
				</h5>
			</div>

			<div class="card-body pt-3">
				<p>
					<a class="d-style btn btn-lighter-success btn-bgc-tp shadow-sm text-600 letter-spacing px-4 mb-1" href="#">                    	
                    	Export
						<i class="fa fa-arrow-right ml-2 f-n-hover"></i>
                	</a>

					<a class="d-style btn btn-white btn-h-lighter-blue btn-a-blue shadow-sm radius-round text-600 letter-spacing px-4 mb-1" href="#">
                    	<i class="fa fa-upload mr-2 f-n-hover"></i>
                    	Upload
               		</a>

					<button type="button" class="btn btn-sm btn-outline-default shadow-sm radius-2px px-25 py-1 text-95 mb-1">
						Actions
						<i class="fa fa-ellipsis-h ml-3"></i>
					</button>
				</p>


				<p class="mt-35">
					<button class="btn btn-outline-info mb-1">
						<i class="far fa-save text-140 align-text-bottom mr-1"></i>
						Backup
					</button>
					
					<button class="btn btn-outline-secondary btn-h-outline-red btn-a-outline-red border-b-2 px-4 mb-1">
						<i class="fa fa-times text-110 text-danger-m1 mr-1"></i>
						Cancel
					</button>

					<button class="btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-3 mb-1">
						<i class="fa fa-trash-alt text-110 text-orange-d2 mr-1"></i>
						Delete
					</button>
				</p>


				<p class="mt-35">
					<button class="btn btn-outline-lightgrey btn-text-dark btn-h-lighter-red btn-a-red radius-1 d-inline-flex align-items-center pr-0 py-3px btn-bold mb-1">						
						<span class="px-4">
							Delete
						</span>

						<span class="h-5 px-25 pt-2 my-n1 ml-2 border-l-2 brc-inherit">
							<i class="fa fa-trash-alt text-120 mt-3px"></i>
						</span>
					</button>

					<button class="btn btn-green radius-1 d-inline-flex align-items-center pr-0 py-3px btn-bold border-r-0 mb-1">
						<span class="px-4">
							Accept
						</span>
						<span class="bgc-black-tp9 h-5 px-25 pt-2 my-n1 ml-2 border-l-2 brc-inherit">
							<i class="fa fa-check text-120 mt-3px"></i>
						</span>
					</button>

					<!-- or you can use the following without display: flex -->
					<!--
					<button class="btn btn-green radius-1 text-left text-nowrap pr-0 py-3px btn-bold border-r-0 mb-1">
						<span class="px-4">
							Accept
						</span>
						<span class="d-inline-block bgc-black-tp9 h-5 px-25 pt-2 my-n1 ml-2 border-l-2 brc-inherit">
							<i class="fa fa-check text-120 mt-3px"></i>
						</span>
					</button>
					-->
				</p>


				<p class="mt-35">
					<button class="btn pt-1 btn-secondary radius-round pl-1 shadow-sm mb-1">
						<i class="w-3 h-3 bgc-white text-danger-m1 radius-round fa fa-times mr-1 align-middle pt-15 text-85"></i>
						<span class="align-middle pl-1 pr-2">
							Cancel
						</span>
					</button>

					<button class="btn btn-success btn-bold radius-1 d-inline-flex align-items-center pl-2px py-2px mb-1">
						<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25">
							<i class="fa fa-check text-white-tp1 text-110 mt-3px"></i>
						</span>
						Confirm
					</button>

					<button class="btn btn-outline-red btn-text-dark btn-h-red btn-a-red btn-bold radius-1 d-inline-flex align-items-center pl-3px py-3px mb-1">
						<span class="bgc-red h-5 px-25 pt-2 ml-n1 my-n1 mr-2">
							<i class="fa fa-trash-alt text-white text-120 mt-3px"></i>
						</span>
						Delete
					</button>

					<button class="btn btn-outline-blue btn-h-blue btn-a-blue btn-bold radius-round d-inline-flex align-items-center pl-3px py-3px mb-1">
						<span class="bgc-blue-tp1 h-5 px-25 pt-2 ml-n1 my-n1 mr-2 radius-l-round">
							<i class="fa fa-undo-alt text-white text-105 mt-3px"></i>
						</span>
						Undo
					</button>
				</p>


				<hr class="brc-transparent my-4" />


				<p>
					<button class="btn btn-primary border-2 brc-black-tp10 radius-round px-3 mb-1">
						<i class="fa fa-flask text-110 mr-1"></i>
						Primary
					</button>

					<button class="btn btn-secondary btn-h-purple btn-a-purple mb-1 border-2 brc-black-tp10 radius-round px-3">
						<i class="fa fa-pencil-alt text-110 mr-1"></i>
						Secondary
					</button>

					<button class="btn btn-info mb-1">
						Info
						<i class="fa fa-inbox text-110 ml-2"></i>
					</button>

					<button class="btn btn-success mb-1">
						<i class="fa fa-check mr-1"></i>
						Success
					</button>
				</p>

				<p>
					<button class="btn btn-info py-25 mb-1">
						<i class="fa fa-signal text-150"></i>
					</button>

					<button class="btn btn-yellow btn-sm mb-1">
						<i class="fa fa-wrench text-115"></i>
					</button>		

					<button class="btn btn-danger btn-sm mb-1">
						<i class="fa fa-reply"></i>
					</button>
				</p>
			</div><!-- ./card-body -->
		</div><!-- ./card -->
	</div><!-- ./col -->
</div><!-- ./row -->





<div class="row mt-45">
	<div class="col-md-6">
		<div class="acard card p-0 h-100">
			<div class="card-header">
				<h5 class="card-title">
					Button Sizing
				</h5>
			</div>

			<div class="card-body">
				<p>
					<button class="btn btn-default btn-sm mb-1">
						Small
					</button>

					<button class="btn btn-info mb-1">
						Normal
					</button>

					<button class="btn btn-secondary text-105 py-2 px-25 mb-1">
						Medium
					</button>

					<button class="btn btn-primary btn-lg mb-1">
						Large
					</button>

					<button class="btn btn-dark px-3 py-25 text-125 mb-1">
						Very Large
					</button>
				</p>

				<p class="mt-4">
					<button class="btn btn-sm btn-outline-default px-4 mb-1">
						Small
					</button>

					<button class="btn btn-outline-danger px-475 mb-1">
						Wide
					</button>

					<button class="btn btn-outline-green text-105 py-2 px-5 mb-1">
						Green
					</button>

					<button class="btn btn-lg btn-outline-brown px-5 mb-1">
						Brown
					</button>
				</p>

				<p class="mt-4">
					<button class="btn btn-red py-2 text-600 letter-spacing-1 btn-block">
						Block Button
					</button>
				</p>
			</div><!-- ./card-body -->
		</div><!-- ./card -->
	</div><!-- ./col -->



	<div class="col-md-6 mt-3 mt-md-0">
		<div class="acard card p-0 h-100">
			<div class="card-header">
				<h5 class="card-title">
					Focus states
				</h5>
			</div>

			<div class="card-body">
				<p>
					<button class="btn btn-info fs--shadow mb-2px">
						shadow
					</button>

					<button class="btn btn-primary fs--outline">
						outline
					</button>

					<button class="btn btn-orange fs--solid">
						solid
					</button>

					<button class="btn btn-red fs--dashed">
						dashed
					</button>					
				</p>

				<p>
					<button class="btn btn-outline-info btn-h-outline-info btn-a-outline-info fs--shadow mb-1">
						shadow
					</button>

					<button class="btn btn-light-warning btn-h-light-warning btn-a-light-warning fs--outline mb-1">
						outline
					</button>

					<button class="btn btn-light-primary btn-h-primary fs--solid mb-1">
						solid
					</button>

					<button class="btn btn-purple btn-h-outline-purple fs--dashed mb-1">
						dashed
					</button>
				</p>


				<hr class="border-dotted my-3" />


				<h4 class="text-grey mb-25 text-130">
					Disabled Buttons
				</h4>
				<p>
					<button class="btn disabled btn-secondary mb-1" tabindex="-1">
						Secondary
					</button>

					<button class="btn disabled btn-outline-primary mb-1" tabindex="-1">
						Outline Primary
					</button>

					<button class="btn disabled btn-light-info mb-1" tabindex="-1">
						Light Info
					</button>

					<a href="#" class="btn disabled btn-lighter-warning mb-1" tabindex="-1">
						Lighter Warning
					</a>
				</p>
			</div><!-- ./card-body -->
		</div><!-- ./card -->
	</div><!-- ./col -->

</div><!-- /.row -->





<div class="row mt-45">
	<div class="col-12">
		<div class="acard card p-0">
			<div class="card-header">
				<h5 class="card-title">
					Large Application Buttons
				</h5>
			</div>

			<div class="card-body pt-4">
					<button type="button" class="btn btn-app btn-primary my-1" id="btn-app-1">
						<i class="d-block h-6 fa fa-edit text-190"></i>
						Edit
						<span class="badge bgc-orange-d1 text-white badge-sm position-tl m-n2 badge-pill text-70 border-1 brc-black-tp8">12</span>
					</button>

					<button type="button" class="btn btn-app btn-outline-secondary radius-1 my-1">
						<i class="d-block h-6 fa fa-cog text-190"></i>
						Settings
						<span class="badge badge-sm py-2px position-tr text-75 mt-1px text-dark-tp4">+3</span>
					</button>
					
					<button type="button" class="btn btn-app btn-success my-1">
						<i class="d-block h-6 fa fa-sync text-190"></i>
						Reload
					</button>
					
					<button type="button" class="btn btn-app btn-warning radius-1 my-1">
						<i class="d-block h-6 fa fa-undo text-190"></i>
						Undo
					</button>

					<button class="btn btn-app btn-lighter-red btn-sm my-1 b">
						<i class="d-block h-5 far fa-trash-alt text-170"></i>
						Delete
					</button>


					<button type="button" class="btn btn-app btn-info btn-sm radius-2 my-1">
						<i class="d-block h-5 fa fa-envelope text-170"></i>
						Mailbox
						<span class="position-tr text-yellow-l4 mr-1 font-bolder">+6</span>
					</button>
					
					
					<button class="btn btn-app btn-purple btn-sm my-1">
						<i class="d-block h-5 fa fa-upload text-170"></i>
						Upload
					</button>
					
					<button class="btn btn-app btn-pink btn-sm my-1">
						<i class="d-block h-5 fa fa-share text-170"></i>
						Share
					</button>
					
					<button class="btn btn-app btn-dark btn-xs my-1">
						<i class="d-block h-4 fa fa-lock text-150"></i>
						Lock
					</button>
					
					<button class="btn btn-app btn-light btn-xs radius-3">
						<i class="d-block h-4 fa fa-save text-150"></i>
						Save
						<i class="position-tr m-1 fa fa-asterisk text-80 text-danger-m1"></i>
					</button>
					
					<button class="btn btn-app btn-grey btn-xs my-1">
						<i class="d-block h-4 fa fa-print text-150"></i>
						Print
					</button>

					<button type="button" class="btn btn-app btn-yellow btn-xs my-1">
						<i class="d-block h-4 fa fa-shopping-cart text-150"></i>
						Shop
					</button>
					
					
					<div class="btn-group" role="group">
						<button class="btn btn-app btn-pink btn-xs">
							<i class="d-block h-4 fa fa-share text-180"></i>
							Share
						</button>

						<button data-toggle="dropdown" id="btnGroupDrop1" class="btn btn-app btn-pink btn-xs dropdown-toggle">
							<span class="text-110 fa fa-caret-down"></span>
						</button>

						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<hr class="my-1" />
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div><!-- /.btn-group -->

			</div><!-- ./card-body -->
		</div><!-- ./card -->
	</div><!-- ./col -->
</div>



