<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
         <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            free jqGrid plugin
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card bcard radius-2px overflow-hidden">
            <div class="card-body p-1px bgc-dark-l4 border-b-1 brc-primary-m4">
                <div class="row">
                    <div class="col-12">
                        <div class="bgc-white">
                            <table id="grid-table" class="table border-0 table-bordered brc-black-tp11 bgc-white">
                                <!-- grid -->
                            </table>
                            <div id="grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
