<div class="position-tl ml-3 mt-2">
    <a href="#" class="btn btn-light-default btn-h-light-default btn-a-light-default btn-bgc-tp" data-toggle="tab" data-target="#id-tab-login">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>


<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 px-0">
    <h4 class="pt-4 pt-md-0 text-dark-tp4 border-b-1 brc-grey-l2 pb-1 text-130">
        <i class="fa fa-key text-brown-m1 mr-1"></i>
        Recover Password
    </h4>
</div>


<form autocomplete="off" class="form-row mt-4">
    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <label class="text-secondary-d3 mb-3">
            Enter your email address and we'll send you the instructions:
        </label>
        <div class="d-flex align-items-center">
            <input type="email" class="form-control form-control-lg pr-4 shadow-none" id="id-recover-email" placeholder="Email" />
            <i class="fa fa-envelope text-grey-m2 ml-n4"></i>
        </div>
    </div>

    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
        <button type="button" class="btn btn-orange btn-block px-4 btn-bold mt-2 mb-4">
            Continue
        </button>
    </div>
</form>


<div class="form-row w-100">
 <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex flex-column align-items-center justify-content-center">

    <hr class="brc-default-l2 mt-0 mb-2 w-100" />
    
    <div class="p-0 px-md-2 text-dark-tp4 my-3">
        <a class="text-blue-d1 text-600 btn-text-slide-x" data-toggle="tab" data-target="#id-tab-login" href="#">
            <i class="btn-text-2 fa fa-arrow-left text-110 align-text-bottom mr-2"></i>Back to Login
        </a>
    </div>

 </div>
</div>