<div class="position-tl ml-3 mt-3 mt-lg-0">
    <a href="#" class="btn btn-light-default btn-h-light-default btn-a-light-default btn-bgc-tp" data-toggle="tab" data-target="#id-tab-login">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>

<!-- show this in desktop -->
<div class="d-none d-lg-block col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-lg-4 px-0">
    <h4 class="text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130">
        <i class="fa fa-user text-purple mr-1"></i>
        Create an Account
    </h4>
</div>

<!-- show this in mobile device -->
<div class="d-lg-none text-secondary-m1 my-4 text-center">
    <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i>
    <h1 class="text-170">
        <span class="text-blue-d1">Ace <span class="text-80 text-dark-tp4">Application</span></span>
    </h1>

    Create an Account
</div>


<form autocomplete="off" class="form-row mt-4">
    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
            <input placeholder="Email" type="email" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-email" />
            <i class="fa fa-envelope text-grey-m2 ml-n4"></i>
            <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-email">
                Email
            </label>
        </div>
    </div>


    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
        <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
            <input placeholder="Username" type="text" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-username" />
            <i class="fa fa-user text-grey-m2 ml-n4"></i>
            <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-username">
                Username
            </label>
        </div>
    </div>


    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
        <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
            <input placeholder="Password" type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-password" />
            <i class="fa fa-key text-grey-m2 ml-n4"></i>
            <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password">
                Password
            </label>
        </div>
    </div>


    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
        <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
            <input placeholder="Confirm Password" type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-password2" />
            <i class="fas fa-sync-alt text-grey-m2 ml-n4"></i>
            <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password2">
                Confirm Password
            </label>
        </div>
    </div>


    <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2">
        <label class="d-inline-block mt-3 mb-0 text-secondary-d2">
            <input type="checkbox" class="mr-1" id="id-agree" />
            <span class="text-dark-m3">I have read and agree to <a href="#" class="text-blue-d2">terms</a></span>
        </label>

        <button type="button" class="btn btn-success btn-block px-4 btn-bold mt-2 mb-3">
            Sign Up
        </button>
    </div>
</form>


<div class="form-row w-100">
 <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex flex-column align-items-center justify-content-center">
    
    <hr class="brc-default-l2 mt-0 mb-2 w-100" />
    
    <div class="p-0 px-md-2 text-dark-tp4 my-3">
        Already a member?
        <a class="text-blue-d1 text-600 mx-1" data-toggle="tab" data-target="#id-tab-login" href="#">
            Login here
        </a>
    </div>

    <hr class="brc-default-l2 w-100 mb-2" />
    <div class="mt-n4 bgc-white-tp2 px-3 py-1 text-secondary-d3 text-90">Or Register Using</div>

    <div class="mt-2 mb-3">
        <button type="button" class="btn btn-primary border-2 radius-round btn-lg mx-1">
            <i class="fab fa-facebook-f text-110"></i>
        </button>

        <button type="button" class="btn btn-blue border-2 radius-round btn-lg px-25 mx-1">
            <i class="fab fa-twitter text-110"></i>
        </button>

        <button type="button" class="btn btn-danger border-2 radius-round btn-lg px-25 mx-1">
            <i class="fab fa-google text-110"></i>
        </button>
    </div>

 </div>
</div>