<div class="row mt-3">
    <div class="col-md-6">
        <div class="card acard">
            <div class="card-header">
                <h4 class="card-title text-blue-d2 text-130">
                    Headings &amp; Paragraphs
                </h4>
            </div>

            <div class="card-body">
                <h1 class="text-dark-m2">
                    h1. Heading 1
                </h1>
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>        

                <h2 class="text-secondary-d2">
                    h2. Heading 2
                </h2>
                <p class="mb-3">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                </p>

                <hr class="my-3 border-dotted" />

                <h3 class="text-purple-d1">
                    h3. Heading 3
                </h3>
                <p>
                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                </p>

                <h4 class="text-blue-d1">h4. Heading 4</h4>
                <h5 class="text-success-d1">h5. Heading 5</h5>
                <h6 class="text-orange-d4">h6. Heading 6</h6>
            </div>
        </div>
    </div><!-- /.col -->


    <div class="col-md-6">
        <div class="card shadow-sm mt-3 mt-md-0">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fa fa-list text-75 text-orange-d1"></i>
                    Lists
                </h4>
            </div>

            <div class="card-body px-0">
                <div class="row mx-1">
                    <div class="col-sm-6">
                        <ul class="pl-3 ml-1 text-dark-tp3">
                            <li>Unordered List Item</li>

                            <li>
                                <small>List Item in small tag</small>
                            </li>

                            <li>
                                <span class="text-600">List Item in bolder style</span>
                            </li>

                            <li>
                                <span class="text-300">List Item in lighter style</span>
                            </li>

                            <li>
                                <i>List Item in italics tag</i>
                            </li>

                            <li>
                                <ul class="list-unstyled text-secondary-d3">
                                    <li>
                                        <i class="fa fa-caret-right text-blue"></i>
                                        Nested List Item
                                    </li>

                                    <li>
                                        <i class="fa fa-caret-right text-blue"></i>
                                        Nested List Item
                                    </li>

                                    <li>
                                        <i class="fa fa-caret-right text-blue"></i>
                                        Nested List Item
                                    </li>
                                </ul>
                            </li>

                            <li>Unordered List Item which is a longer item and may break into more lines.</li>

                            <li>
                                <strong>List Item in strong tag</strong>
                            </li>

                            <li>
                                <em>List Item in emphasis tag</em>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <ol>
                            <li class="text-grey-d2">
                                Ordered List Item
                            </li>

                            <li class="text-primary-d2">
                                .text-primary Ordered List Item
                            </li>

                            <li class="text-secondary-d2">
                                .text-secondary Ordered List Item
                            </li>

                            <li class="text-success">
                                <span class="text-600">.text-success</span>
                                Ordered List Item
                            </li>

                            <li class="text-danger-d1">
                                .text-danger Ordered List Item
                            </li>

                            <li class="text-muted">
                                .text-muted Ordered List Item
                            </li>

                            <li class="text-purple-d2">
                                .text-purple Ordered List Item
                            </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->


                <hr class="border-dotted mt-2 mx-3" />


                <div class="row mx-2">
                    <div class="col-12">
                        <ul class="list-unstyled text-dark-tp3">
                            <li class="mb-2">
                                <i class="w-3 text-center fa fa-bell text-110 text-purple"></i>
                                List with custom icons and more space
                            </li>

                            <li class="mb-2">
                                <i class="w-3 text-center fa fa-check text-110 text-success"></i>
                                Unordered List Item # 2
                            </li>

                            <li class="mb-2">
                                <i class="w-3 text-center fa fa-times text-110 text-danger-m2"></i>
                                Unordered List Item # 3
                            </li>
                        </ul>

                        <ul class="list-unstyled text-dark-m3">
                            <li class="mb-3">
                                <i class="w-3 text-center fa fa-circle text-default"></i>
                                Even more space
                            </li>

                            <li class="mb-3 text-110 text-color-orange">
                                <i class="w-3 text-center fa fa-exclamation-triangle text-orange"></i>
                                Unordered List Item # 5
                            </li>

                            <li class="mb-3">
                                <i class="w-3 text-center fa fa-angle-right text-110 text-muted"></i>
                                Unordered List Item # 6
                            </li>

                            <li>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="w-3 text-center fa fa-share text-pink-m1 text-105"></i>
                                        Inline List Item # 1
                                    </li>

                                    <li class="list-inline-item">
                                        List Item # 2
                                    </li>

                                    <li class="list-inline-item">
                                        List Item # 3
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- .row -->

            </div><!-- .card-body -->
        </div><!-- .card -->

    </div><!-- .col -->
</div><!-- .row -->




<h4 class="mt-3 mt-lg-4 py-2">Color &amp; Size</h4>
<div class="row">
    <div class="col-12 col-md-4 text-120">
        <div class="card bcard p-3 border-1 brc-secondary-l1">
            <p class="text-white bgc-info-d3 px-2 radius-3px">.text-white</p>
            <p class="text-grey-d1">.text-grey</p>
            <p class="text-dark">.text-dark</p>
            <p class="text-secondary-d2">.text-secondary</p>
            <p class="text-default-d2">.text-default</p>

            <p class="text-primary-d2">.text-primary</p>
            <p class="text-info-d2">.text-info</p>
            <p class="text-danger-d2">.text-danger</p>

            <p class="text-orange-d3">.text-warning</p>
            <p class="text-purple-d2">.text-purple</p>
            <p class="text-pink-d2">.text-pink</p>

            <p class="text-yellow-d2">.text-yellow</p>
            <p class="text-brown-d2">.text-brown</p>        
        </div>
    </div>

    <div class="col-12 col-md-4 mt-2 mt-md-0 text-120 ">
        <div class="card bcard p-3 bg-dark">
        <p class="text-white">.text-white</p>
        <p class="text-grey-l4">.text-grey</p>
        <p class="text-dark-l5">.text-dark</p>
        <p class="text-secondary-l4">.text-secondary</p>
        <p class="text-default-l4">.text-default</p>

        <p class="text-primary-l4">.text-primary</p>
        <p class="text-info-l4">.text-info</p>
        <p class="text-danger-l4">.text-danger</p>

        <p class="text-orange-l4">.text-warning</p>
        <p class="text-purple-l4">.text-purple</p>
        <p class="text-pink-l4">.text-pink</p>

        <p class="text-yellow-l4">.text-yellow</p>
        <p class="text-brown-l4">.text-brown</p>
        </div>
    </div>
    
    <div class="col-12 col-md-4 mt-2 mt-md-0 text-100">
        <div class="card bcard p-3 border-1 brc-secondary-l1">
            <div class="row">
                <div class="col-6">
                    <p class="text-50">.text-50</p>
                    <p class="text-60 ">.text-60</p>
                    <p class="text-70">.text-70</p>
                    <p class="text-75">.text-75</p>
                    <p class="text-80">.text-80</p>
                    <p class="text-80">.text-85</p>

                    <p class="text-90">.text-90</p>
                    <p class="text-95">.text-95</p>
                    <p class="text-100">.text-100</p>
                    <p class="text-105">.text-105</p>

                    <p class="text-110">.text-110</p>
                    <p class="text-115">.text-115</p>
                    <p class="text-120">.text-120</p>
                    <p class="text-125">.text-125</p>
                    <p class="text-130">.text-130</p>
                </div>

                <div class="col-6">
                    <p class="text-150">.text-150</p>
                    <p class="text-200 ">.text-200</p>

                    <p class="text-xs">.text-xs</p>
                    <p class="text-sm">.text-sm</p>
                    <p class="text-md">.text-md</p>
                    <p class="text-lg">.text-lg</p>
                    <p class="text-xl">.text-xl</p>
                
                    <p class="font-light">.font-light</p>
                    <p class="font-normal">.font-normal</p>
                    <p class="font-bolder">.font-bolder</p>
                    <p class="font-bold">.font-bold</p>
                
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row mt-4 pt-lg-3">
	<div class="col-sm-4">
		<div class="card shadow-sm">
			<div class="card-header">
				<h4 class="card-title text-110">
                    <i class="fa fa-quote-left ml-1 text-80 text-grey"></i>
                    BlockQuote &amp; Address
                </h4>
			</div>
			
			<div class="card-body">
			 <div class="card-main">
				<div class="row">
				 <div class="col-12">
                    <blockquote class="blockquote text-secondary-d2">
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        <footer class="blockquote-footer">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
				 </div>
				</div>
				
				<div class="row">
				 <div class="col-12">
					<blockquote class="blockquote">
						<p class="text-300 text-dark-m1">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p>
						<small class="text-secondary-d1">
							Someone famous
							<cite title="Source Title">Source Title</cite>
						</small>
					</blockquote>
				 </div>
				</div>
	
				<hr />
				
				<address>
					<span class="text-blue-m1 text-600">Twitter, Inc.</span>
                    <br>
					795 Folsom Ave, Suite 600<br>
					San Francisco, CA 94107<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
				 
				<address>
                    <span class="text-blue-m1 text-600">Full Name</span>
                    <br>
					<a class="text-purple-d1" href="mailto:#">first.last@example.com</a>
				</address>
				
			 </div>
			</div>
		</div>
	</div>
	

	<div class="col-sm-8 mt-2 mt-sm-0">
		<div class="card shadow-sm">
			<div class="card-header">
				<h4 class="card-title text-120">Definition List</h4>
			</div>
			
			<div class="card-body">
				<dl  class="dl-horizontal" id="dt-list-1">
					<dt class="text-secondary-d2 text-600">Description lists</dt>
					<dd class="text-grey-d1">A description list is perfect for defining terms.</dd>

					<dt class="text-secondary-d2 text-600">Euismod</dt>
					<dd class="text-grey-d1">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
					<dd class="text-grey">Donec id elit non mi porta gravida at eget metus.</dd>

					<dt class="text-secondary-d2 text-600">Malesuada porta</dt>
					<dd class="text-grey-d1">Etiam porta sem malesuada magna mollis euismod.</dd>

					<dt class="text-secondary-d2 text-600">Felis euismod semper eget lacinia</dt>
					<dd class="text-grey-d1">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
				</dl>
			</div>
		</div>


		<div class="card mt-4 border-0 shadow-sm">
            <div class="card-header bgc-purple-m1">
                <h5 class="card-title text-white">
                    <i class="fa fa-code"></i>
                    Code view
                </h5>
            </div>

			<div class="card-body bgc-white p-1px border-2 border-t-0 brc-purple-m4 radius-b-1 overflow-hidden">
<pre class="prettyprint linenums p-3 pb-0 mb-0 ace-scrollbar ace-scroll-grey">
&lt;p class="text-muted"&gt;Fusce dapibus, tellus ac cursus commodo.&lt;/p&gt;
&lt;p class="text-white"&gt;Etiam porta sem malesuada.&lt;/p&gt;
&lt;p class="text-error"&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
&lt;p class="text-info"&gt;Aenean eu leo quam.&lt;/p&gt;
&lt;p class="text-success"&gt;Duis mollis.&lt;/p&gt;
&lt;p class="tex-muted"&gt;Fusce dapibus, tellus ac cursus commodo.&lt;/p&gt;
&lt;p class="text-white"&gt;Etiam porta sem malesuada.&lt;/p&gt;
&lt;p class="text-error"&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
&lt;p class="text-info"&gt;Aenean eu leo quam.&lt;/p&gt;
&lt;p class="text-success"&gt;Duis mollis.&lt;/p&gt;
</pre>
			</div>
	    </div>


	</div>

</div>