# tensorflow==2.5.0
# tensorflow
# tensorflow-datasets==4.6.0
# tensorflow-estimator==2.5.0
# tensorflow-gcs-config==2.8.0
# tensorflow-hub==0.12.0
# tensorflow-io-gcs-filesystem==0.26.0
# tensorflow-metadata==1.9.0
# tensorflow-probability==0.16.0
tqdm==4.64.0
wordcloud==1.8.2.2
# pandas
keras
neattext
Flask==1.1.4
itsdangerous==1.1.0
keras==2.9.0
tensorflow==2.5.0
MarkupSafe==1.1.1
