<div class="row mt-2 mt-lg-4">
	<div class="col-12 col-lg-6">

		<div class="card acard">
			<div class="card-header">
				<h5 class="card-title">
					Basic Badges
				</h5>
			</div>

			<div class="card-body">
				<p>
					<span class="badge badge-primary mr-1">
						Primary
					</span>

					<span class="badge badge-secondary mr-1">
						Secondary
					</span>

					<span class="badge badge-success mr-1">
						Success
					</span>

					<span class="badge bgc-orange-d2 text-white mr-1">
						Warning
					</span>

					<span class="badge badge-danger mr-1">
						Danger
					</span>

					<span class="badge bgc-purple-d1 pos-rel text-white radius-4 px-3">
						<span class="bgc-primary-tp4 opacity-5 position-tl h-100 w-100 radius-4"></span>
						<span class="pos-rel">
							Custom Color
						</span>
					</span>

					<span class="badge bgc-yellow pos-rel text-dark-tp3 radius-4 px-3">
						<span class="bgc-blue-tp4 opacity-5 position-tl h-100 w-100 radius-4"></span>
						<span class="pos-rel">
							Custom Color
						</span>
					</span>
				</p>

				
				<p>
					<span class="badge badge-primary badge-lg">
						Primary
					</span>

					<span class="badge badge-secondary badge-sm">
						Secondary
					</span>

					<span class="badge badge-success arrowed-in radius-0">
						Success
					</span>

					<span class="badge badge-sm badge-warning arrowed arrowed-in-right">
						Warning
					</span>

					<span class="badge badge-sm badge-danger arrowed-in arrowed-in-right">
						Danger
					</span>
				</p>


				<p>
					<span class="badge badge-info badge-lg arrowed-in-right mb-1">
						Large Info
					</span>

					<span class="badge btn-pink badge-lg arrowed ml-n1 mb-1">
						Pink
					</span>

					<span class="badge bgc-purple brc-purple text-white badge-lg arrowed arrowed-in-right mb-1">
						<span class="px-3">Large Purple</span>
					</span>
				</p>

				<hr class="border-dotted" />

				<p>
					<span class="badge-dot badge-success"></span>
					<span class="d-inline-block radius-round p-2 bgc-red"></span>
					<span class="badge-dot bgc-orange"></span>
				</p>
			</div>
		</div>



		<div class="mt-1">
			<span class="badge bgc-white border-2 brc-green text-dark-tp3 badge-pill badge-lg pb-4 px-3 bgc-h-green-l3">
				Outline
			</span>

			<span class="badge bgc-white border-2 brc-blue-m1 text-dark-tp3 badge-pill badge-lg pb-4 px-3 bgc-h-blue-l4">
				Light
			</span>

			<span class="badge bgc-white border-2 brc-purple-m1 text-dark-tp3 badge-pill badge-lg pb-4 px-3 bgc-h-purple-l3">
				Badges
			</span>
		</div>



		<div class="mt-35 card acard">
			<div class="card-body">
				<p>
					<span class="m-1 badge bgc-white border-1 brc-primary-m2 btn-text-primary px-25">
						Primary
					</span>

					<span class="m-1 badge bgc-white border-2 brc-secondary-m3 radius-1 btn-text-secondary-d1 px-25">
						Secondary
					</span>

					<span class="m-1 badge bgc-white border-1 border-l-4 radius-0 brc-success-m2 btn-text-success px-25 text-90">
						Success
					</span>

					<span class="m-1 badge bgc-white border-2 brc-warning-m2 btn-text-warning text-80 radius-round">
						Warning
					</span>

					<span class="m-1 badge bgc-white border-1 brc-purple-m2 btn-text-purple radius-2">
						Purple
					</span>

					<span class="m-1 badge bgc-white border-1 border-x-3 brc-pink-m2 btn-text-pink text-90 px-2">
						Pink
					</span>
				</p>

				<hr class="border-dotted" />

				<p>
					<span class="m-1 bgc-blue-l3 border-1 brc-blue-m3 text-dark-tp3 text-90 px-25 py-3px radius-round">
                        Blue
                    </span>

					<span class="m-1 badge bgc-primary-l4 border-1 brc-primary-m3 text-primary-d2 px-3">
						Primary
					</span>

					<span class="m-1 badge bgc-secondary-l3 radius-2 text-secondary-d3 text-80 px-3">
						Secondary
					</span>

					<span class="m-1 badge bgc-green-l2 radius-round text-dark-tp4 px-3 text-90">
						Green
					</span>

					<span class="m-1 badge bgc-red-l3 text-danger-d3">
						Danger
					</span>

					<span class="m-1 badge bgc-yellow-l1 border-1 brc-black-tp9 text-brown-d3">
						Yellow
					</span>

					<span class="m-1 badge bgc-dark-l3 text-dark-tp3 text-90 px-3 radius-2">
						Dark
					</span>
				</p>
			</div>
		</div><!-- .card -->
	
	</div><!-- .col -->





	<!-- More Examples -->
	<div class="col-12 col-lg-6">

		<div class="card acard mt-3 mt-lg-0">
			<div class="card-header pb-2">
				<h5 class="card-title">
					More examples
				</h5>
			</div>

			<div class="card-body px-lg-4">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="bgc-purple-d1 pos-rel overflow-hidden radius-2 py-25 px-4">
							<div class="bgc-primary-tp4 opacity-5 position-tl h-100 w-100"></div>
							<div class="pos-rel d-flex">
								<h3 class="text-white m-0 p-0 text-140">
									Inbox
								</h3>
								<span class="badge ml-auto bgc-black-tp8 text-white radius-round text-90 px-2">
									19
								</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 mt-2 mt-sm-0">
						<div class="bgc-primary-l2 pos-rel overflow-hidden radius-2 py-25 px-4">
							<div class="pos-rel d-flex">
								<h3 class="text-primary-d3 m-0 p-0 text-140">
									Draft
								</h3>
								<span class="badge ml-auto bgc-red-d2 text-white radius-round text-90 px-25">
									8
								</span>
							</div>
						</div>
					</div>
				</div>

				<hr class="brc-transparent" />

				<div>
					<button type="button" class="btn btn-app btn-xs btn-blue mt-3 mr-3 radius-1">
						<i class="d-block h-4 fa fa-edit text-160"></i>
						Draft
						<span class="badge bgc-yellow-d1 text-dark-tp3 position-tr m-n25 badge-pill text-75 border-1 brc-black-tp6 radius-3">12</span>
					</button>

					<button type="button" class="btn btn-lg btn-outline-default border-2 text-600 mt-3 mr-3 radius-1">
						Inbox
						<span class="badge bgc-orange border-1 brc-white text-white ml-25 align-middle text-70 radius-round">8</span>
					</button>

					<button type="button" class="btn btn-lg btn-purple text-600 mt-3 radius-1">
						Inbox
						<span class="badge bgc-yellow text-dark-tp4 border-1 ml-25 align-middle text-80 radius-round">6</span>
					</button>
				</div>

				<hr class="brc-transparent" />

				<div>
					<span class="badge mr-3 pos-rel p-2px bgc-success-d2 text-white mt-3 radius-round overflow-hidden text-95">
						<img alt="User avatar" src="assets/image/avatar/avatar6.jpg" class="border-1 brc-white-tp3 w-5 h-5 radius-round mr-1" />
						Recipient 1
						<a href="#" class="text-80 btn btn-outline-white px-2 pt-3px pb-1 h-3 border-0 radius-round mx-1">
							<i class="fa fa-times"></i>
						</a>
					</span>

					<span class="badge pos-rel p-2px border-2 brc-success mt-3 radius-round overflow-hidden text-95">
						<img alt="User avatar" src="assets/image/avatar/avatar5.jpg" class="w-5 h-5 radius-round mr-1" />
						Recipient 2
						<a href="#" class="text-80 btn btn-outline-red btn-text-dark px-2 pt-3px pb-1 h-3 border-0 radius-round mx-1">
							<i class="fa fa-times"></i>
						</a>
					</span>
				</div>


				<hr class="border-double border-t-3 brc-secondary-l2 my-4" />


				<div class="row">
					<div class="col-lg-6">
						<div class="shadow-sm mt-3 brc-primary-m3 brc-h-primary-m1 border-1 pos-rel overflow-hidden radius-2 py-25 px-4">
							<span class="position-tr text-white bgc-default-d3 mt-2 radius-l-4 pl-25 pr-2 py-1 text-600 text-80">
								PRO
							</span>

							<div class="pos-rel d-flex align-items-center">								
								<span class="pos-rel">
									<img alt="User avatar" src="assets/image/avatar/avatar1.jpg" class="w-6 radius-round p-2px bgc-white shadow" />
									<span class="badge badge-dot bgc-green-d1 position-tr mt-3px mr-2px"></span>
								</span>

								<div class="pl-3">
									<h6 class="text-110 mb-1">Alex</h6>
									<div class="text-90">Google Inc</div>
									<div class="mt-2">
										<span class="badge radius-2 bgc-white border-1 brc-default-m2 btn-text-default text-85 px-2 py-1 m-2px">
											HTML
										</span>

										<span class="badge radius-2 bgc-white border-1 brc-red-m2 btn-text-red text-85 px-2 py-1 m-2px">
											PHP
										</span>

										<span class="badge radius-2 bgc-white border-1 brc-green-m2 btn-text-green text-85 px-2 py-1 m-2px">
											Javascript
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="col-lg-6">
						<div class="shadow-sm mt-3 bgc-purple-l4 pos-rel overflow-hidden radius-2 pt-25 pb-1 px-4 border-1 brc-purple-l2">
							<!-- this 'bgc-primary-l4' is an overlay to mix with `bgc-purple-l4` color to become a new color -->
							<div class="bgc-primary-l4 opacity-5 position-tl h-100 w-100"></div>
							
							<!-- the "Star" badge -->
							<span class="position-tr text-white bgc-orange-d2 mr-2 radius-b-1 py-15 px-1">
								<i class="fa fa-star"></i>
							</span>

							<div class="pos-rel d-flex align-items-center">
								<span class="pos-rel">
									<img alt="User avatar" src="assets/image/avatar/avatar7.jpg" class="w-6 radius-2 p-2px bgc-white shadow" />
									<span class="badge badge-dot bgc-orange-d1 position-tr mt-n3px mr-n3px p-15 border-1 brc-white"></span>
								</span>
								<div class="pl-3">
									<h6 class="text-120 text-600 text-dark-tp3 mb-1">Susan</h6>
									<div class="text-95 text-dark-tp3">Apple Inc</div>									
								</div>
							</div>

							<div class="mt-3 pos-rel">
								<span class="badge radius-round bgc-purple-l1 text-dark-tp3 text-85 px-25 py-1 m-2px overflow-hidden">
									<span class="pos-rel">HTML</span>
								</span>

								<span class="badge radius-round bgc-purple-l1 text-dark-tp3 text-85 px-25 py-1 m-2px overflow-hidden">
									<span class="pos-rel">PHP</span>
								</span>

								<span class="badge radius-round bgc-purple-l1 text-dark-tp3 text-85 px-25 py-1 m-2px overflow-hidden">
									<span class="pos-rel">Javascript</span>
								</span>
							</div>
						</div>
					</div>
				</div><!-- .row -->


				<div class="row mt-4 align-items-center">
					<div class="col-lg-6">
						<div class="border-1 brc-red-m3 p-3 pos-rel shadow-sm overflow-hidden radius-1">
							<h4>
								Special offer
							</h4>

							<p>
								Donec id elit non mi porta gravida... 
							</p>

							<!-- the "Hot!" badge -->
							<span class="position-tr mt-n475 mr-n475 bgc-red-d1 rotate-45 p-475"></span>
							<span class="position-tr text-white text-95 text-600 mt-15 mr-2px rotate-45">
								Hot!
							</span>
						</div>
					</div>


					<div class="col-lg-6 mt-3 mt-lg-0">
						<div role="button" class="d-style border-1 bgc-primary-l4 brc-primary-m3 px-5 pt-45 pb-3 pos-rel shadow-sm overflow-hidden radius-1">
							<h3 class="text-primary-d3 pos-rel">
								Special offer
							</h3>

							<p class="text-dark-d1 pos-rel">
								Donec id elit non mi porta sa... 
							</p>

							<!-- the "New!" badge -->
							<span class="position-tl mt-n5 ml-n5 bgc-primary-d1 rotate-45 p-5"></span>
							<span class="position-tl text-white text-105 text-600 mt-25 ml-1px rotate-n45">
								New!
							</span>
						</div>
					</div>
				</div><!-- .row -->
			</div><!-- .card-body -->
		</div><!-- .card -->
	</div>

</div><!-- .row -->