<!-- this footer is shown in device width above `sm` -->
<footer class="footer d-none d-sm-block">
   <div class="footer-inner">
      <div class="h-100 pt-3 border-t-1 brc-secondary-l2 bgc-white-tp1 shadow">
         <span class="text-primary-m1 font-bolder text-120">Ace</span>
         <span class="text-secondary-d2">Application &copy; 2021</span>

         <span class="mx-3 action-buttons">
            <a href="#" class="text-blue-m2 text-140"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="text-blue-d2 text-140"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-orange-d1 text-140"><i class="fa fa-rss-square"></i></a>
         </span>
      </div>
   </div><!-- .footer-inner -->
</footer>


<!-- scroll to top button -->
<div class="footer-tools mb-5 mb-sm-0">
   <a href="#" class="btn-scroll-up btn btn-white brc-black-tp6 px-25 py-2 text-95 border-2 radius-round mb-25 mr-2">
      <i class="fa fa-angle-double-up w-2 h-2"></i>
   </a>
</div>


<!-- this footer is shown in mobile devices below `sm` -->
<footer class="d-sm-none footer footer-sm footer-fixed">
 <div class="footer-inner">
   <div class="btn-group d-flex justify-content-between h-100 px-2 py-2px bgc-white shadow-lg border-t-1 brc-secondary-l2">

      <button class="d-style btn btn-white btn-h-light-primary btn-a-outline-primary btn-a-bold active border-0 radius-1 px-25 mx-1">
         <span class="pos-rel">
            <i class="fa fa-home text-120 opacity-1 mr-2px"></i>
            Home
            <span class="d-active position-tl mt-n3 w-100 border-t-3 radius-2 brc-primary-m1"></span>
         </span>
      </button>

      <button class="btn btn-outline-lightgrey btn-h-light-primary btn-a-lighter-primary border-0 radius-1" data-toggle="modal" data-target="#id-ace-settings-modal">
         <i class="fa fa-cog text-120"></i>
      </button>

      <button data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search" class="btn btn-outline-lightgrey btn-h-light-primary btn-a-lighter-primary border-0 radius-1">
         <i class="fa fa-search text-120"></i>
      </button>

      <button class="btn btn-outline-lightgrey btn-h-light-primary btn-a-lighter-primary border-0 radius-1">
         <span class="pos-rel">
            <i class="fa fa-bell text-120"></i>
            <span class="badge badge-dot bgc-red position-tr mt-n1 mr-n2px"></span>
         </span>
      </button>

   </div>
 </div>
</footer>


