<button class="navbar-toggler h-75 px-2 px-sm-2" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
    <i class="fa fa-search text-blue-m1 text-90"></i>
</button>

<div class="collapse navbar-collapse navbar-backdrop" id="navbarSearch">
    <div>
        <!-- by wrapping input element inside a "FORM[data-submit=dismiss]", when you submit the form, dropdown will be hidden -->
        <form class="d-flex align-items-center pl-4" data-submit="dismiss">
            <i class="fa fa-search text-blue-m1 mr-n425"></i>
            <input type="text" class="px-2 mx-0 w-100 autofocus border-1 py-35 pr-45 radius-round" placeholder="Start searching ..." aria-label="Search" />
            <a href="#" class="btn border-0 ml-n475 radius-100 py-15 btn-text-lightgrey btn-h-light-blue px-25 pos-rel">
                <i class="fa fa-microphone"></i>
            </a>
        </form>
    </div>
</div>