<div class="navbar-nav navbar-links">
<ul class="nav">
    <li class="nav-item mx-2">
        <a href="#" class="active btn bgc-h-primary-l4 btn-brc-tp btn-outline-secondary btn-h-lighter-secondary btn-a-outline-primary btn-a-bgc-tp btn-a-bold px-4 px-lg-2">
            Overview
            <!--
            Or use these along with `d-style` on parent 'A' for a different highlight color
            <div class="d-none d-lg-block v-active position-bl w-100 border-t-3 brc-primary-m1 mb-n3px"></div>
            <div class="d-lg-none v-active position-tl h-100 border-l-4 brc-primary-m1 ml-n3px"></div>
            -->
        </a>
    </li>

    <li class="nav-item mx-2">
        <a href="#" class="btn btn-a-bold btn-outline-secondary btn-h-lighter-secondary btn-a-lighter-secondary btn-brc-tp px-4 px-lg-2">
            Orders
        </a>
    </li>

    <li class="nav-item mx-2">
        <a href="#" class="btn btn-a-bold btn-outline-secondary btn-h-lighter-secondary btn-a-lighter-secondary btn-brc-tp px-4 px-lg-2">
            Members
        </a>
    </li>

    <li class="nav-item mx-2">
        <a href="#" class="btn btn-a-bold btn-outline-secondary btn-h-lighter-secondary btn-a-lighter-secondary btn-brc-tp px-4 px-lg-2">
            Settings
        </a>
    </li>
</ul>
</div>