<div class="card bcard h-100">
    <div class="border-t-3 w-100 brc-info-m1 radius-t-1"></div><!-- the colored line on top of stats -->

    <div class="card-header">
        <h5 class="card-title text-grey-d1 pl-1">
            More Stats
        </h5>
    </div>

    <div class="card-body h-98 d-flex flex-column justify-content-center py-2 py-md-3 px-0 px-md-4">
        <canvas id="saleschart" class="mx-n1 mx-md-0"></canvas>
    </div>
</div>