<footer class="footer">
   <div class="footer-inner">
      <div class="h-100 pt-3 border-t-1 brc-secondary-l2 bgc-white-tp1 shadow-md">
         <span class="text-primary-m1 font-bolder text-120">Ace</span>
         <span class="text-secondary-d2">Application &copy; 2021</span>

         <span class="mx-3 action-buttons">
            <a href="#" class="text-blue-m2 text-140"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="text-blue-d2 text-140"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-orange-d1 text-140"><i class="fa fa-rss-square"></i></a>
         </span>
      </div>
   </div><!-- .footer-inner -->
</footer>

<div class="footer-tools">
   <a href="#" class="btn-scroll-up btn btn-green px-25 py-2 text-95 radius-1 mb-2 mr-2">
      <i class="fa fa-angle-double-up w-2 h-2"></i>
   </a>
</div>