<div class="sidebar-section-item fadeable-below fadeable-center px-3">

    <div class="fadeinable sidebar-shortcuts-mini w-auto" role="button">
      <div>
        <div>
          <span class="btn btn-success p-0"></span><span class="btn btn-info p-0"></span>
        </div>
        <div class="mt-n2">
          <span class="btn btn-info p-0"></span><span class="btn btn-success p-0"></span>
        </div>
      </div>      
    </div>

    <div class="fadeable flex-xl-column text-center">
      <div class="sub-arrow"></div>
      <div class="my-3">
        <button class="btn px-25 py-2 text-95 btn-outline-success border-b-2 radius-2">
          <i class="fa fa-signal"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-info border-b-2 radius-2">
          <i class="fa fa-edit"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-success border-b-2 radius-2">
          <i class="fa fa-users"></i>
        </button>

        <button class="btn px-25 py-2 text-95 btn-outline-info border-b-2 radius-2">
          <i class="fa fa-cogs"></i>
        </button>        
      </div>

      <div class="d-flex align-items-center ml-3 ml-xl-0 my-3">
        <i class="fa fa-search mr-n3 text-info-m1"></i>
        <input type="text" class="sidebar-search-input pl-4 pr-3 mr-n2" maxlength="60" placeholder="Search ..." aria-label="Search" />
        <a href="#"><i class="fa fa-microphone text-muted ml-n1"></i></a>
      </div>
    </div>

</div>

