{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Beranda {% endblock %}


{% block content %} 

<div class="row">
    <!-- chart -->
    <!-- <div class="col-12 col-lg-12">
      <div class="bcard card h-100">
        <div class="card-header border-b-1 brc-grey-l3 pb-2">
          <h5 class="card-title font-normal text-120 text-dark-m1 pl-1">
            Statistik
          </h5>
        </div>
        {% if analitics_len == 0 %}
          <p class="m-2 text-center" style="background-color: #DCF8DB;">Yai! tidak ditemukan pengguna twitter yang memiliki cuitan berbahaya</p>
        {% else %}
        <div class="card-body h-100 d-flex flex-column justify-content-center py-3 px-2 px-md-4">
          <canvas id="sales-chart" class="mx-n1 mx-md-0 mw-100" style="height: 280px;"></canvas>
        </div>
        {% endif %}
      </div>
    </div> -->

    <!-- tabel -->
              <!-- orders table -->
              <div class="col-12 col-lg-12 mt-4">
                <div class="bcard card h-100 pt-1 pt-lg-2">

                  <div class="card-header border-0">
                    <h5 class="card-title text-dark-m2 pl-1 text-110">                                            
                      Lokasi Cuitan <span class="text-green">{{request.COOKIES.api_location}}</span>                        
                    </h5>                           
                  </div>


                  <div class="card-body p-0">
                    {% if analitics_len == 0 %}
                      <p class="m-2 text-center" style="background-color: #DCF8DB;">Yai! tidak ditemukan pengguna twitter yang memiliki cuitan berbahaya</p>
                    {% else %}
                      <div class="table-responsive-md">
                        <table class="table table-border-x brc-secondary-l3 mb-0">
                          <thead>
                            <tr class="text-80 text-default-d3 bgc-default-l4">
                              <th class="pl-2 pl-lg-4">Akun Twitter</th>
                              <th>Cuitan</th>
                              <th>Waktu Cuitan</th>
                              <th>Link Twitter</th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for analitic in analitics %}                            
                              <tr class="bgc-h-secondary-l4">
                                <td class="pl-2 pl-lg-4">{{analitic.twitter_username}}</td>
                                <td class="text-dark-m2 text-85">{{analitic.twitter_text}}</td>                        
                                <td class=" text-dark-m2 text-85">{{analitic.twitter_created_at|date_formater}}</td>
                                <td class=" text-dark-m2 text-85">
                                  <a href="{{analitic.twitter_link}}" class="btn btn-sm btn-primary m-1" target="_blank">
                                    Menuju Cuitan
                                    <i class="fab fa-twitter"></i>
                                  </a>                                  
                                </td>
                              </tr>
                            {% endfor %}

                          </tbody>
                        </table>
                      </div><!-- /.table-responsive-md -->
                    {% endif %}


                  </div><!-- /.card-body -->
                </div>
              </div>    

</div>

{% endblock %}
