{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Beranda {% endblock %}


{% block content %} 

<div class="row mt-3 mt-lg-4">
    <!-- chart -->
    <div class="col-12 col-lg-12">
      <div class="bcard card h-100">
        <div class="card-header border-b-1 brc-grey-l3 pb-2">
          <h5 class="card-title font-normal text-120 text-dark-m1 pl-1">
            Statistik
          </h5>
        </div>

        <div class="card-body h-100 d-flex flex-column justify-content-center py-3 px-2 px-md-4">
          <canvas id="sales-chart" class="mx-n1 mx-md-0 mw-100" style="height: 280px;"></canvas>
        </div>
      </div><!-- /.card -->
    </div>

    <!-- tabel -->
              <!-- orders table -->
              <div class="col-12 col-lg-12 mt-4">
                <div class="bcard card h-100 pt-1 pt-lg-2">

                  <div class="card-header border-0">
                    <h5 class="card-title text-dark-m2 pl-1 text-110">
                      Tabel
                    </h5>                           
                  </div>


                  <div class="card-body p-0">
                    <div class="table-responsive-md">
                      <table class="table table-border-x brc-secondary-l3 mb-0">
                        <thead>
                          <tr class="text-80 text-default-d3 bgc-default-l4">
                            <th class="pl-2 pl-lg-4">Akun Twitter</th>
                            <th>Cuitan</th>
                            <th>Waktu Cuitan</th>
                          </tr>
                        </thead>

                        <tbody>

                          <tr class="bgc-h-secondary-l4">
                            <td class="pl-2 pl-lg-4">Anto Kewer</td>
                            <td class="text-dark-m2 text-85">Bunuh diri kuy</td>                        
                            <td class=" text-dark-m2 text-85">Hari ini</td>
                          </tr>

                        </tbody>
                      </table>
                    </div><!-- /.table-responsive-md -->

                  </div><!-- /.card-body -->
                </div>
              </div>    

</div>

{% endblock %}
