<footer class="footer">
   <div class="footer-inner">
      <div class="h-100 pt-3 border-t-1 brc-secondary-l3 bgc-white">
         <span class="text-primary-m2 font-bolder text-120">Ace</span>
         <span class="text-muted">Application &copy; 2021</span>

         <span class="mx-3 action-buttons">
            <a href="#" class="text-blue-m3 text-140"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="text-blue-d1 text-140"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-orange text-140"><i class="fa fa-rss-square"></i></a>
         </span>
      </div>
   </div><!-- .footer-inner -->
</footer>

<div class="footer-tools">
   <a href="#" class="btn-scroll-up btn btn-white brc-black-tp7 px-25 py-2 text-95 border-2 radius-round mb-2 mr-2">
      <i class="fa fa-angle-double-up w-2 h-2"></i>
   </a>
</div>