<nav class="navbar navbar-sm navbar-expand-lg navbar-fixed navbar-white2">
 <div class="navbar-inner">


    <div class="d-flex h-100 justify-content-xl-between align-items-center">

        <button type="button" class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="bars text-grey-m2"></span>
        </button><!-- mobile sidebar toggler button -->

        <a class="navbar-brand d-xl-none mx-1 text-grey-d3 text-130" href="#">
            <i class="fa fa-leaf mr-2px text-success-m2"></i>
            ACE 
            <span class="d-none d-sm-inline-block">App</span>
        </a>

        <button type="button" class="btn text-grey-m2 btn-burger align-self-center mx-2 d-none d-xl-flex btn-h-light-primary" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
            <span class="bars"></span>
        </button><!-- sidebar toggler button -->

    </div>


    <div class="navbar-content">
        <div class="dropdown dd-backdrop dd-backdrop-none-md">
            <button type="button" id="id-nav-post-btn" class="btn btn-outline-primary btn-bold btn-sm mx-2 px-2 px-lg-3 radius-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus mr-lg-1"></i>
                <span class="d-none d-lg-inline">Create Post</span>
            </button>

            <div class="dropdown-menu dropdown-menu-right dropdown-animated brc-primary-m3 radius-2 py-2 py-md-0 dd-slide-up dd-slide-none-md">
             <div class="dropdown-inner">
                <div class="dropdown-header d-md-none">Choose post type:</div>
                <a class="dropdown-item btn btn-outline-grey btn-h-light-primary btn-a-light-primary" href="#">
                    <i class="fa fa-circle text-primary-m2 text-75 mr-1"></i>
                    Category 1
                </a>

                <a class="dropdown-item btn btn-outline-grey btn-h-light-success btn-a-light-success" href="#">
                    <i class="fa fa-circle text-success-m2 text-75 mr-1"></i>
                    Category 2
                </a>

                <a class="dropdown-item btn btn-outline-grey btn-h-light-purple btn-a-light-purple" href="#">
                    <i class="fa fa-circle text-purple-m2 text-75 mr-1"></i>
                    Category 3
                </a>
             </div>
            </div>
        </div>


        <!-- #navbarSearch toggler -->
        <button class="navbar-toggler h-75" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
            <i class="fa fa-search text-grey-m2 text-90"></i>
        </button>

        <!-- searchbox -->
        <div class="collapse navbar-collapse navbar-backdrop" id="navbarSearch">
            <form class="d-flex align-items-center ml-lg-3" data-submit="dismiss">
                <i class="fa fa-search text-blue-m1 mr-n3 d-none d-lg-block pb-2px"></i>
                <input type="text" class="navbar-input py-3 py-lg-1 px-3 pl-lg-4 w-100 autofocus" placeholder="SEARCH ..." aria-label="Search" />
            </form>
        </div>
    </div><!-- .navbar-content -->


    <!-- #navbarMenu toggler -->
    <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
        <img class="mx-0 radius-round border-2 brc-primary-tp3 p-1px" src="assets/image/avatar/avatar3.jpg" width="36" alt="Natalie's Photo">
    </button>


    <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">

      <div class="navbar-nav">
        <ul class="nav has-active-border">

            <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle mr-1px" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-list-alt mr-2 d-lg-none"></i>
                    Mega
                    <i class="caret fa fa-angle-down d-none d-lg-block"></i>
                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                </a>
                <div class="p-0 dropdown-menu dropdown-animated brc-primary-m3 border-b-2 ml-1 mr-1px w-auto bgc-default-l4">     
                    {{> layout/_commons/navbar-megamenu}}
                </div>
            </li>


            <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell text-110 icon-animated-bell mr-lg-2"></i>
                    <span class="d-inline-block d-lg-none ml-2">Notifications</span>
                    <span id="id-navbar-badge1" class="badge badge-info radius-round text-75">3</span>

                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                </a>

                <div class="shadow dropdown-menu dropdown-animated dropdown-sm p-0 brc-primary-m3 border-b-2 bgc-white">
                    {{> layout/_commons/navbar-notifmenu}}
                </div>
            </li>

        </ul>
      </div>

   </div>



 </div>
</nav>