<div class="sidebar-section-item fadeable-left fadeable-top">
     <div class="fadeinable">
       <button type="button" class="btn btn-primary btn-bold radius-1">
           <i class="fa fa-cloud"></i>
       </button>
     </div>
     
     <div id="sidebar-footer" class="fadeable text-center border-t-1 brc-secondary-l3 w-95">
        <div class="py-2">
            <button type="button" class="btn btn-primary px-5 btn-bold radius-1">
                Upgrade
            </button>
        </div>
     </div>
</div>