<div class="sidebar-section-item fadeable-left fadeable-top">
    <div class="fadeinable">
      <img alt="Natalie's Photo" src="assets/image/avatar/avatar3.jpg" width="48" class="p-2px border-2 brc-primary-tp2 radius-round" />
    </div>
     
    <div class="fadeable hideable">

       <div class="py-2 d-flex flex-column align-items-center">
         <div>
           <img alt="Natalie's Photo" src="assets/image/avatar/avatar3.jpg" class="p-2px border-2 brc-primary-tp2 radius-round" />
         </div>
         
         <div class="text-center mt-1" id="id-user-info">
            <a href="#id-user-menu" class="d-style pos-rel collapsed text-blue-d2 accordion-toggle no-underline bgc-h-primary-l2 px-1 py-2px" data-toggle="collapse" aria-expanded="false">
              <span class="text-95 font-bolder">Natalie Kidman</span>
              <i class="fa fa-caret-down text-90 d-collapsed"></i>
              <i class="fa fa-caret-up text-90 d-n-collapsed"></i>
            </a>
            <div class="text-muted text-85">Marketing</div>
         </div><!-- /#id-user-info -->
         
         <div class="collapse" id="id-user-menu">
            <div class="mt-3">
              <a href="#" class="btn btn-light-blue btn-brc-white btn-h-light-blue radius-round py-2 px-1 border-2 shadow-sm">
                <i class="fa fa-envelope w-4 text-110 text-blue-d1"></i>
              </a>

              <a href="#" class="btn btn-light-blue btn-brc-white btn-h-light-blue radius-round py-2 px-1 border-2 shadow-sm">
                <i class="fa fa-users w-4 text-110 text-blue-d1"></i>
              </a>

              <a href="#" class="btn btn-light-blue btn-brc-white btn-h-light-blue radius-round py-2 px-1 border-2 shadow-sm">
                <i class="fa fa-star w-4 text-110 text-blue-d1"></i>
              </a>
            </div>
         </div><!-- /.collapse -->
       </div>

    </div>
</div>