<!-- unused breadcrumbs example, see  -->
<div class="d-none content-nav mb-1 bgc-secondary-l3 mx-5">

    <div class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb pl-2 breadcrumb-nosep">
            <li class="breadcrumb-item active text-grey">
                <i class="fa fa-home text-dark-m3 mr-1 mt-1"></i>
                <a class="text-blue" href="#">
                    Home
                </a>
            </li>
            <li class="mx-15 text-grey-l2">/</li>

            {{#each breadcrumbs}}
            {{#if @last}}<li class="breadcrumb-item active text-grey-d1">{{title}}</li>
            {{else}}<li class="breadcrumb-item"><a class="text-blue-d2" href="{{getPageLink link}}">{{title}}</a></li><li class="mx-15 text-grey-l2">/</li>
            {{/if}}
            {{/each}}
        </ol>

        <div class="nav-search">
            <form class="form-search">
                <span class="d-inline-flex align-items-center">
                    <input type="text" placeholder="Search ..." class="form-control pr-4 form-control-sm radius-1 brc-blue-m2 text-grey" autocomplete="off" />
                    <i class="fa fa-search text-info-m1 ml-n4"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

</div><!-- breadcrumbs -->