<div class="d-flex flex-column">

  <div class="row mx-0">

    <div class="col-lg-4 col-12 p-2 p-lg-3 p-xl-4 d-flex flex-column align-items-center">
        <div class="w-100 mb-3">
          <h5 class="col-lg-9 mx-auto text-dark-m2 px-0">
            <i class="fa fa-clipboard-check mr-1 text-purple-m1"></i>
            Current Tasks
          </h5>
        </div>

        <div class="col-lg-9 list-group px-0 border-1 brc-default-l2 radius-1 shadow-md">
            <a href="#" class="border-0 bgc-h-primary-l4 list-group-item list-group-item-action">
              <i class="fab fa-facebook text-blue-m1 text-110 mr-2"></i>
              Cras justo odio
            </a>
            <a href="#" class="border-0 bgc-h-primary-l4 list-group-item list-group-item-action text-primary">
              <i class="fa fa-user text-success-m1 text-110 mr-2"></i>
              Dapibus ac facilisis in
            </a>
            <a href="#" class="border-0 bgc-h-primary-l4 list-group-item list-group-item-action">
              <i class="fa fa-clock text-purple-m1 text-110 mr-2"></i>
              Morbi leo risus
            </a>
            <a href="#" class="border-0 list-group-item list-group-item-action bgc-success-l2">
              <i class="fa fa-check text-orange-d1 text-110 mr-2"></i>
              Porta ac consectetur
              <span class="ml-2 badge badge-primary badge-pill badge-lg">14</span>
            </a>
            <a href="#" class="border-0 list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
    </div><!-- .col:mega tasks -->



    <div class="bgc-white col-lg-4 col-12 p-4">
      <h5 class="text-dark-m2">
        <i class="fas fa-bullhorn mr-1 text-primary-m1"></i>
        Notifications
      </h5>

      <div class="mt-3">
        <div class="media mt-2 px-3 pt-1 border-l-2 brc-purple-m2">
          <div class="bgc-purple radius-1 mr-3 p-3">
            <i class="fa fa-user text-white text-150"></i>
          </div>
          <div class="media-body pb-0 mb-0 text-90 text-grey-m1">
            <div class="text-grey-d2 font-bolder">@username1</div>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus...
          </div>
        </div>

        <hr />

        <div class="media mt-2 px-3 pt-1 border-l-2 brc-warning-m2">
          <div class="bgc-warning radius-1 mr-3 p-3">
            <i class="fa fa-user text-white text-150"></i>
          </div>
          <div class="media-body pb-0 mb-0 text-90 text-grey-m1">
            <div class="text-grey-d2 font-bolder">@username2</div>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris...
          </div>
        </div>

        <hr />

        <div class="media mt-2 px-3 pt-1 border-l-2 brc-success-m2">
          <div class="bgc-success radius-1 mr-3 p-3">
            <i class="fa fa-user text-white text-150"></i>
          </div>
          <div class="media-body pb-0 mb-0 text-90 text-grey-m1">
            <div class="text-grey-d2 font-bolder">@username3</div>
            Tortor mauris condimentum nibh, fusce dapibus...
          </div>
        </div>
    </div>
    
    </div><!-- .col:mega notifications -->

              
    <div class="col-lg-4 col-12 p-4 dropdown-clickable">
        <h5 class="text-dark-m2">
          <i class="fa fa-envelope mr-1 text-green-m1"></i>
          Contact Us
        </h5>

        <form class="my-3">
          <div class="form-group mb-2">
            <input placeholder="Name" type="text" class="form-control border-l-2" />
          </div>

          <div class="form-group mb-2">
            <input placeholder="Email" type="text" class="form-control border-l-2" />
          </div>
          
          <div class="form-group mb-4">
            <textarea class="form-control brc-primary-m2 border-l-2 text-grey-d1" rows="3" placeholder="Your message..."></textarea>
          </div>

          <div class="text-center">
            <button type="reset" class="btn px-3 btn-secondary btn-bold tex1t-110">
              Reset
            </button>

            <button data-dismiss="dropdown" type="button" class="btn btn-outline-primary btn-bgc-white px-3 btn-bold btn-text-slide-x" style="width: 8rem;">
              Submit<i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-1"></i>
            </button>
          </div>
        </form>
    </div><!-- .col:mega contact -->
          
  </div><!-- .row: mega -->



  <!-- Big Action Buttons -->
  <div class="order-first order-lg-last ">
    <hr class="d-none d-lg-block brc-default-l1 my-0" /><!-- border above buttons in desktop mode -->

    <div class="row mx-0 bgc-primary-l4">
      <div class="col-lg-8 offset-lg-2 d-flex justify-content-center py-4 d-flex">
        
        <button class="mx-2px btn btn-sm btn-app btn-outline-warning btn-h-outline-warning btn-a-outline-warning radius-1 border-2">
          <i class="fa fa-cog text-190 d-block mb-2 h-4"></i>
          <span class="text-muted">Settings</span>
        </button>

        <button class="mx-2px btn btn-sm btn-app btn-outline-info btn-h-outline-info radius-1 border-2">
          <i class="fa fa-edit text-190 d-block mb-2 h-4"></i>
          Edit
          <span class="position-tr text-danger-m2 text-130 mr-1">*</span>
        </button>

        <button class="mx-2px btn btn-sm btn-app btn-dark radius-1">
          <i class="fa fa-lock text-150 d-block mb-2 h-4"></i>
          Lock
        </button>

      </div>
    </div><!-- .row:megamenu big buttons -->

    <hr class="d-lg-none brc-default-l1 mt-0" /><!-- border below buttons in mobile mode -->
  </div>


</div>