<div class="sidebar-section-item fadeable-below fadeable-center">
  <div class="fadeinable w-auto">
    <a href="{{getPageLink 'page-login'}}"  title="Logout" class="btn btn-outline-blue btn-brc-tp radius-3px py-2">
      <i class="fa fa-power-off text-140"></i>
    </a>
  </div>
</div>

<div class="sidebar-section-item fadeable-below fadeable-center ml-xl-1">
  <div class="fadeinable w-auto">
    <a href="#"  title="Settings" class="btn btn-outline-warning btn-brc-tp radius-3px py-2" data-toggle="modal" data-target="#id-ace-settings-modal">
      <i class="fa fa-cog text-140"></i>
    </a>
  </div>
</div>
