<div class="row mt-4">
  <div class="col-12 col-lg-6">

    <div class="card acard">
      <div class="card-header pb-2 border-0">
        <h3 class="card-title">
          Tooltips
        </h3>
      </div>

      <div class="card-body">
          <p>
            <button type="button" id="tooltip" class="btn px-4 btn-default my-1" data-toggle="tooltip" data-placement="auto" title="Default tooltip">
              Default tooltip
            </button>

            <button type="button" id="tooltip-1" class="btn px- btn-secondary my-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
              Tooltip on top
            </button>
            
            <button type="button" id="tooltip-2" class="btn px- btn-danger my-1" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
              Tooltip on bottom
            </button>
          </p>

          <p>
            <button type="button" id="tooltip-3" class="btn px- btn-light-default btn-bold my-1" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
              Tooltip on right
            </button>
      
            <button type="button" id="tooltip-4" class="btn px-4 btn-dark my-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
              Tooltip on left
            </button>
          </p>

          <p>
            <button type="button" id="tooltip-5" class="btn px-4 btn-outline-primary btn-bold my-1" data-toggle="tooltip" data-placement="auto" title="Outline Tooltip">
               Outline Tooltip
            </button>
          </p>
      </div>
    </div>

  </div>



  <div class="col-12 col-lg-6">
    <div class="card acard mt-3 mt-lg-0">
      <div class="card-header pb-2 border-0">
        <h3 class="card-title">
            Popovers
        </h3>
      </div>

      <div class="card-body">
        <p>
          <button id="popover-1" class="btn px-4 btn-dark my-1" data-placement="top" title="Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Default popover
          </button>

          <button id="popover-2" class="btn px-4 btn-primary my-1" data-placement="bottom" title="Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on bottom
          </button>
        </p>

        <p>
          <button id="popover-3" class="btn px-4 btn-success my-1" data-placement="right" title="Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on right
          </button>

          <button id="popover-4" class="btn px-4 btn-purple my-1"  data-placement="left" title="Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on left
          </button>

          <button id="popover-5" class="btn px-4 btn-yellow my-1"  data-placement="auto" title="Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Auto Placement
          </button>
        </p>
      </div>
    </div>

  </div>
</div>
