<div class="row mt-1">
    <div class="col-12 px-4">
        <!-- infobox -->
        <div class="d-flex justify-content-center my-3 flex-wrap flex-equal">
            <div class="dcard bgc-h-primary-l4 brc-h-primary-m4 px-3 py-2 rounded text-center mx-1 mb-1">
                <span class="text-170 text-dark-tp3"><span class="pos-abs ml-n3">~</span>48k</span>
                <br />
                <span class="text-90 text-dark-tp2">
                    Views
                </span>
            </div>

            <div class="dcard bgc-h-primary-l4 brc-h-primary-m4 px-3 py-2 rounded text-center mx-1 mb-1">
                <span class="text-170 text-dark-tp3">132</span>
                <br />
                <span class="text-90 text-dark-tp2">
                    Followers
                </span>
            </div>

            <div class="dcard bgc-h-primary-l4 brc-h-primary-m4 px-3 py-2 rounded text-center mx-1 mb-1">
                <span class="text-170 text-dark-tp3">9</span>
                <br />
                <span class="text-90 text-dark-tp2">
                    Projects
                </span>
            </div>

            <div class="dcard bgc-h-primary-l4 brc-h-primary-m4 py-2 rounded text-center mx-1 mb-1">
                <span class="text-170 text-primary-d1"><span class="pos-abs ml-n3">~</span>11k</span>
                <br />
                <span class="text-90 text-dark-tp2">
                    Revenue
                </span>
            </div>
        </div>
    </div>


    <div class="col-12 px-4 mt-3">

        <h4 class="mt-2 text-dark-m3 text-130">
            <i class="fa fa-pen-alt text-85 text-purple-d1 w-3"></i>
            About Me
        </h4>

        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start mt-3 mb-2 text-95 pl-3">
            <div class="d-style order-first order-sm-last mx-2 radius-2 overflow-hidden mb-3 mb-sm-0">
                <img alt="Amy's avatar" src="assets/image/profile-about.jpg" class="opacity-2 d-zoom-2" height="150" />
            </div>

            <div class="mt-2 mt-sm-0 flex-grow-1 text-dark-m2">
                <p class="mb-1">
                    Hello, may name is Amy. I'm a professional designer based in Dublin.
                </p>
                <p class="mb-1">
                    My job is mostly lorem ipsuming and dolor sit ameting for clients!
                </p>
                <p>
                    As long as consectetur adipiscing elit...
                    <a href="#" class="text-blue-d1 text-600">Read more</a>
                </p>
            </div>                           
        </div>                        
    </div>


    <div class="col-12 px-4 mt-3">
        <h4 class="text-dark-m3 text-140">
            <i class="far fa-lightbulb text-danger-d1 text-85 w-3"></i>
            My Skills
        </h4>

        <div id="skill-chart" class="d-flex justify-content-center mx-auto flex-wrap"></div>

        <div class="mt-2 text-center">
            <span class="d-inline-block radius-round bgc-blue-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                Node.js
            </span>
            <span class="d-inline-block radius-round bgc-purple-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                Docker
            </span>
            <span class="d-inline-block radius-round bgc-success-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                Jenkins
            </span>
            <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                Database
            </span>
            <span class="d-inline-block radius-round bgc-warning-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                Agile
            </span>
            <span class="d-inline-block radius-round bgc-purple-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                VCS
            </span>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-12 px-4 mb-3">

        <h4 class="text-dark-m3 text-140">
            <i class="fa fa-info text-blue mr-1 w-2"></i>
            More Info
        </h4>

        <hr class="w-100 mx-auto mb-0 brc-default-l2"/>
        
        <div class="bgc-white radius-1">
            <table class="table table table-striped-default table-borderless">
                <tr>
                    <td>
                        <i class="far fa-user text-success"></i>
                    </td>

                    <td class="text-95 text-600 text-secondary-d2">
                        Username
                    </td>

                    <td class="text-dark-m3">
                        amy_smith
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="far fa-envelope text-blue"></i>
                    </td>

                    <td class="text-95 text-600 text-secondary-d2">
                        Email
                    </td>

                    <td class="text-blue-d1 text-wrap">
                        amy.smith@inc.com
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa fa-phone text-purple"></i>
                    </td>

                    <td class="text-95 text-600 text-secondary-d2">
                        Phone
                    </td>

                    <td class="text-dark-m3">
                        +1128934218
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa fa-map-marker text-orange-d1"></i>
                    </td>

                    <td class="text-95 text-600 text-secondary-d2">
                        Location
                    </td>

                    <td class="text-dark-m3">
                        Dublin
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="far fa-clock text-secondary"></i>
                    </td>

                    <td class="text-95 text-600 text-secondary-d2">
                        Last Active
                    </td>

                    <td class="text-dark-m3">
                        6 min ago
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div><!-- /.row -->