<h4 class="bgc-secondary-l4 text-dark-tp3 text-center text-140 mb-3 mx-3 py-25">Update profile info</h4>

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 mt-3">

        <form class="text-grey-d1 text-95" autocomplete="off">

            <div class="form-group row mx-0">
                <div class="offset-sm-4 offset-xl-3 col-sm-8 col-lg-6">
                    <input type="file" class="form-control" id="id-field0" />
                </div>
            </div>

            <div class="form-group row mx-0">
                <label for="id-field1" class="col-sm-4 col-xl-3 col-form-label text-sm-right">Full Name</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control brc-on-focus brc-success-m2" id="id-field1" placeholder="e.g. Alex Doe" />
                </div>
            </div>

            <div class="form-group row mx-0">
                <label for="id-field2" class="col-sm-4 col-xl-3 col-form-label text-sm-right">Email Address</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="email" class="form-control brc-on-focus brc-success-m2" id="id-field2" placeholder="Enter your email address here" />
                </div>
            </div>


            <div class="form-group row mt-45 mx-0">
                <label for="id-field3" class="col-sm-4 col-xl-3 col-form-label text-sm-right">Phone Number</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control brc-on-focus brc-success-m2" id="id-field3" placeholder="e.g. (+44) 3482342" />
                </div>
            </div>

            <div class="form-group row mx-0">
                <label for="id-field4" class="col-sm-4 col-xl-3 col-form-label text-sm-right">Location</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control brc-on-focus brc-success-m2" id="id-field4" placeholder="" />
                </div>
            </div>
        </form>

    </div>



    <div class="col-12">
        <hr class="border-double brc-dark-l3" />

        <div class="form-group text-center mt-4 mb-3">
            <button type="button" class="btn btn-outline-secondary radius-1 px-3 mx-1">
                Cancel
            </button>

            <button type="button" class="btn btn-outline-green radius-1 px-4 mx-1">
                Save Changes
            </button>
        </div>
    </div>

</div>