<div class="card acard">
    <div class="card-body">
        <span class="d-none position-tl mt-2 pt-3px">
            <span class="text-white bgc-blue-d1 ml-2 radius-b-1 py-2 px-2">
                <i class="fa fa-star"></i>
            </span>
        </span>


        <div class="d-flex flex-column py-3 px-lg-3 justify-content-center align-items-center">

            <div class="pos-rel">
                <img alt="Profile image" src="assets/image/avatar/avatar5.jpg" class="radius-round bord1er-2 brc-warning-m1" />
                <span class=" position-tr bgc-success p-1 radius-round border-2 brc-white mt-2px mr-2px"></span>
            </div>

            <div class="text-center mt-2">
                <h5 class="text-130 text-dark-m3">
                    Amy Smith
                </h5>     

                <span class="text-80 text-primary text-600">
                    UI/UX Designer
                </span>

                <span class="d-none badge bgc-orange-l3 text-orange-d3 pt-2px pb-1 text-85 radius-round px-25 border-1 brc-orange-m3">
                    pro
                </span>
            </div>

            <div class="mx-auto mt-25 text-center">
                <i class="fa fa-star text-orange"></i>
                <i class="fa fa-star text-orange"></i>
                <i class="fa fa-star text-orange"></i>
                <i class="fa fa-star text-orange"></i>
                <i class="fa fa-star-half-alt text-orange"></i>
            </div>

            <hr class="w-90 mx-auto brc-secondary-l3"/>

            <div class="text-center">
                <button type="button" class="btn btn-blue pos-rel px-5 px-md-4 px-lg-5">
                    <i class="far fa-handshake mr-15 text-110"></i>
                    Hire Me
                </button>
            </div>

            <hr class="w-90 mx-auto mb-1 brc-secondary-l3"/>

            <div class="mt-3">
                <a href="#" class="btn btn-white btn-text-green btn-h-green btn-a-green radius-1 py-2 px-1 shadow-sm">
                    <i class="far fa-envelope w-4 text-120"></i>
                </a>

                <a href="#" class="btn btn-white btn-text-info btn-h-info btn-a-info radius-1 py-2 px-1 shadow-sm">
                    <i class="fab fa-twitter w-4 text-120"></i>
                </a>

                <a href="#" class="btn btn-white btn-text-red btn-h-red btn-a-red radius-1 py-2 px-1 shadow-sm">
                    <i class="fab fa-pinterest-p w-4 text-120"></i>
                </a>
            </div>

            <hr class="w-90 mx-auto mb-1 brc-secondary-l3"/>

            <div class="row w-100 text-center">
                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-dark-m3">{{random 11 21}}</span>
                        <br />
                        <span class="text-grey-m1 text-90">photos</span>
                    </div>

                    <div class="position-rc h-75 border-l-1 brc-secondary-l3"></div>
                </div>

                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-dark-m3">132</span>
                        <br />
                        <span class="text-grey-m1 text-90">followers</span>
                    </div>

                    <div class="position-rc h-75 border-l-1 brc-secondary-l3"></div>
                </div>
                
                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-dark-m3">{{random 20 200}}</span>
                        <br />
                        <span class="text-grey-m1 text-90">likes</span>
                    </div>
                </div>
            </div>


            <hr class="w-90 mx-auto mb-1 border-dotted"/>


            <div class="mt-2 mx-3">
                <div class="text-secondary-d3 font-bolder text-90 mb-2">
                    Tags
                </div>

                <div class="text-left d-inline-flex flex-wrap">
                    <span class="d-inline-block radius-round bgc-purple-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Reading
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Excerise
                    </span>
                    <span class="d-inline-block radius-round bgc-success-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Travel
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Cooking
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Politics
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-90 px-25 py-3px mx-2px my-2px">
                        Tech
                    </span>
                </div>
            </div>

            <hr class="w-90 mx-auto mb-1 border-dotted"/>

            <div class="mt-2 w-100 text-90 text-secondary radius-1 px-25 py-3">
                <div class="d-flex mb-1">
                    <h6 class="text-600">
                        Overview
                    </h6>

                    <div class="dropdown ml-auto">
                        <a href="#" class="no-underline bgc-h-primary-l2 px-1 text-600 radius-1">
                            Weekly
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>

                <div class="border-1 brc-dark-l3 radius-1 px-3 py-25 bgc-white text-secondary-d1">
                    <div>
                        Task Progress:
                        <div class="progress mt-1 bgc-white overflow-visible" style="height: 0.5rem;">
                            <div class="progress-bar bgc-green radius-2px" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                            <span class="align-self-center ml-2 text-dark-m3 text-sm">66%</span>
                        </div>
                    </div>

                    <div class="mt-4">
                        Projects:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d3 text-90 px-3">
                            12
                        </span>
                    </div>

                    <div class="mt-2">
                        Posts:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d3 text-90 px-3">
                            25
                        </span>
                    </div>

                    <div class="mt-2">
                        Comments:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d3 text-90 px-3">
                            11
                        </span>
                    </div>

                    <div class="mt-2">
                        Likes:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d3 text-90 px-3">
                            87
                        </span>
                    </div>
                </div>

            </div>

        </div><!-- /.d-flex -->
    </div><!-- /.card-body -->
</div><!-- /.card -->



<div class="mt-3 ccard px-4 py-3">
    <div class="position-tl w-100 border-t-4 brc-blue-tp3 radius-2"></div>
    <div class="d-flex align-items-start">
        <h3 class="text-orange-d3 text-140 mb-2">
            Friends:
        </h3>

        <a href="#" class="ml-auto no-underline bgc-h-primary-l2 px-1 text-600 radius-1">
            View All
        </a>
    </div>

    <div class="d-flex flex-wrap">
        <img alt="Friend avatar" src="assets/image/avatar/avatar1.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white" />
        <img alt="Friend avatar" src="assets/image/avatar/avatar2.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white ml-n25" />
        <img alt="Friend avatar" src="assets/image/avatar/avatar3.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white ml-n25" />
        <img alt="Friend avatar" src="assets/image/avatar/avatar4.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white ml-n25" />
        <img alt="Friend avatar" src="assets/image/avatar/avatar5.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white ml-n25" />
        <img alt="Friend avatar" src="assets/image/avatar/avatar6.jpg" class="dh-zoom-2 w-6 h-6 radius-round shadow border-3 brc-white ml-n25" />
    </div>
</div>