<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
         <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            extended tables plugin
        </small>
    </h1>
</div>


<div class="card bcard">
    <div class="card-header bgc-primary-d1 text-white border-0">
        <h4 class="text-120">
            <span class="text-90">
                Results for
            </span>
            "Latest Products"
        </h4>
    </div>
 
    <div class="card-body p-0 border-x-1 border-b-1 brc-default-m4 radius-0 overflow-hidden">
        <div id="table-toolbar">
            <button disabled id="remove-btn" class="btn btn-xs p-2 mr-2 bgc-white btn-lighter-red radius-3px">
                <i class="fa fa-trash-alt text-125 mx-2px"></i>
            </button>
        </div>

        <table class="table text-dark-m2 text-95 bgc-white ml-n1px" id="table">
            <!-- table -->
        </table>
    </div>
</div>